.personal-form{
    padding-top: var(--standart-padding);
    display: flex;
    flex-direction: column;
    gap: var(--standart-padding);
    padding-bottom: var(--standart-padding);
}
.start-number-container{
    display: flex;
    gap: 10px;
}


.document-header{
    padding-top: 1rem;
    font-family: var(--font-bold);
    font-size: var(--font-regular-size);
    padding-bottom: var(--little-padding);
}


