<ion-content>
  <app-header headerTitle="Договор оферты" ></app-header>

  <div class="main"> 
    <h1>ПУБЛИЧНАЯ ОФЕРТА</h1>
    <h2>о заключении договора об оказании агентских услуг</h2>

    <h3>Общие положения</h3>
  <p>
    В настоящей Публичной оферте содержатся условия заключения Договора об оказании услуг (далее по тексту - «Договор об оказании услуг» и/или «Договор»). Настоящей офертой признается предложение, адресованное одному или нескольким конкретным лицам, которое достаточно определенно и выражает намерение лица, сделавшего предложение, считать себя заключившим Договор с адресатом, которым будет принято предложение.
  </p>
  <p>
    Совершение указанных в настоящей Оферте действий является подтверждением согласия обеих Сторон заключить Договор об оказании услуг на условиях, в порядке и объеме, изложенных в настоящей Оферте.
  </p>
  <p>
    Нижеизложенный текст Публичной оферты является официальным публичным предложением Агента, адресованный заинтересованному кругу лиц заключить Договор об оказании услуг в соответствии с положениями пункта 2 статьи 437 Гражданского кодекса РФ.
  </p>
  <p>
    Договор об оказании услуг считается заключенным и приобретает силу с момента совершения Сторонами действий, предусмотренных в настоящей Оферте, и, означающих безоговорочное, а также полное принятие всех условий настоящей Оферты без каких-либо изъятий или ограничений на условиях присоединения.
  </p>

  <h3>Термины и определения:</h3>
  <ul>
    <li>
      <strong>Договор</strong> – текст настоящей Оферты с Приложениями, являющимися неотъемлемой частью настоящей Оферты, акцептованный Принципалом путем совершения конклюдентных действий, предусмотренных настоящей Офертой.
    </li>
    <li>
      <strong>Конклюдентные действия</strong> — это поведение, которое выражает согласие с предложением контрагента заключить, изменить или расторгнуть договор. Действия состоят в полном или частичном выполнении условий, которые предложил контрагент.
    </li>
    <li>
      <strong>Сайт Агента в сети «Интернет»</strong> – совокупность программ для электронных вычислительных машин и иной информации, содержащейся в информационной системе, доступ к которой обеспечивается посредством сети «Интернет» по доменному имени и сетевому адресу: <a href="https://moto.vokrug.city" target="_blank">https://moto.vokrug.city</a>
    </li>
    <li>
      <strong>Стороны Договора (Стороны)</strong> – Агент и Принципал.
    </li>
    <li>
      <strong>Услуга</strong> – услуга, оказываемая Агентом Принципалу в порядке и на условиях, установленных настоящей Офертой.
    </li>
  </ul>


  <h3>Предмет Договора</h3>
  <p>
    Агент обязуется совершать по поручению Принципала юридические, а также иные действия в объеме и с указанием классификации услуг, определяемых Агентом и Принципалом при оформлении заявки, либо установленных на сайте Агента в сети «Интернет» 
    <a href="https://moto.vokrug.city" target="_blank">https://moto.vokrug.city</a>, 
    от имени и за счет Принципала за вознаграждение, а Принципал обязуется выплатить Агенту вознаграждение за исполнение поручения.
  </p>
  <p>
    Договор заключается путем акцепта настоящей Оферты через совершение конклюдентных действий, выраженных в:
  </p>
  <ul>
    <li>действиях, связанных с регистрацией учетной записи на Сайте Агента в сети «Интернет» при наличии необходимости регистрации учетной записи;</li>
    <li>оформлении и направлении Принципалом заявки в адрес Агента для оказания Услуг;</li>
    <li>действиях, связанных с оплатой Услуг Принципалом;</li>
    <li>действиях, связанных с оказанием Услуг Агентом.</li>
  </ul>
  <p>
    Данный перечень неисчерпывающий, могут быть и другие действия, которые ясно выражают намерение лица принять предложение контрагента.
  </p>
  <p>
    По сделке, совершенной Агентом с третьим лицом от имени и за счет Принципала, приобретает права и становится обязанным непосредственно Принципал.
  </p>
  <p>
    Агент гарантирует отсутствие договорных и иных отношений с лицами, которые могли бы оказать влияние на исполнение настоящего Договора. Агент гарантирует свою независимость и объективность в ходе исполнения настоящего Договора.
  </p>
  <p>
    Агент гарантирует, что обладает всеми необходимыми полномочиями для исполнения поручения по настоящему Договору.
  </p>

  <h3>Права и обязанности Сторон</h3>

  <h4>Агент обязан:</h4>
  <ul>
    <li>В течение 3-х календарных дней с момента заключения договора уведомить Принципала, направив копию договора оказания услуг, заключенного с заказчиком. Уведомление может быть направлено по электронной почте, факсу, почте или курьером.</li>
    <li>Оказать услуги с надлежащим качеством.</li>
  </ul>

  <h4>Агент вправе:</h4>
  <ul>
    <li>Привлекать третьих лиц к оказанию услуг, неся за них личную ответственность.</li>
    <li>Отступать от указаний Принципала, если это необходимо в интересах последнего и при невозможности получить своевременный ответ.</li>
  </ul>

  <p>Оплата всех расходов по выполнению настоящего Договора осуществляется за счет Принципала.</p>

  <h4>Принципал обязан:</h4>
  <ul>
    <li>Выплатить Агенту вознаграждение в установленном размере и порядке.</li>
    <li>Возмещать Агенту расходы, понесённые сверх переданных средств.</li>
    <li>Принять все исполненное по Договору.</li>
    <li>Выдать доверенность с необходимыми полномочиями в установленный срок.</li>
  </ul>

  <h4>Принципал вправе:</h4>
  <ul>
    <li>Давать Агенту правомерные, осуществимые и конкретные указания в соответствии с классификацией услуг, определяемых на сайте <a href="https://moto.vokrug.city" target="_blank">https://moto.vokrug.city</a>.</li>
    <li>Получать сведения о ходе выполнения поручения.</li>
    <li>Отказаться от исполнения Договора при нарушении условий или оказании услуг ненадлежащего качества в соответствии с законодательством РФ.</li>
  </ul>

  <p><strong>Принципал гарантирует</strong>, что все условия Договора ему понятны и принимаются им без оговорок и в полном объеме.</p>

  <h4>Агентское вознаграждение и порядок оплаты</h4>
  <p>Стоимость услуг 10% от суммы платежа, но не меньше 100 рублей.
  </p>
  <p>Все расчеты по Договору производятся в безналичном порядке.</p>

  <h4>Конфиденциальность и безопасность</h4>
  <p>При реализации настоящего Договора Стороны обеспечивают конфиденциальность и безопасность персональных данных в соответствии с актуальной редакцией:</p>
  <ul>
    <li>Федерального закона от 27.07.2006 г. № 152-ФЗ «О персональных данных»;</li>
    <li>Федерального закона от 27.07.2006 г. № 149-ФЗ «Об информации, информационных технологиях и о защите информации».</li>
  </ul>
  <p>Стороны обязуются сохранять конфиденциальность информации, полученной в ходе исполнения настоящего Договора, и принять все возможные меры, чтобы предохранить полученную информацию от разглашения.</p>
  <p>Под конфиденциальной информацией понимается любая информация, передаваемая Принципалом в процессе реализации Договора и подлежащая защите, за исключением случаев, указанных в Договоре.</p>
  <p>Такая информация может содержаться в локальных нормативных актах, договорах, письмах, отчетах, аналитических материалах, результатах исследований, схемах, графиках, спецификациях и других документах, оформленных как на бумажных, так и на электронных носителях.</p>

  <h4>Форс-мажор</h4>
  <p>Стороны освобождаются от ответственности за неисполнение или ненадлежащее исполнение обязательств по Договору, если надлежащее исполнение оказалось невозможным вследствие непреодолимой силы (форс-мажора).</p>
  <p>К таким обстоятельствам относятся: запретные действия властей, эпидемии, блокада, эмбарго, землетрясения, наводнения, пожары и другие стихийные бедствия.</p>
  <p>Сторона, оказавшаяся под воздействием таких обстоятельств, обязана уведомить другую Сторону в течение 30 рабочих дней.</p>
  <p>Документ, выданный уполномоченным государственным органом, является достаточным подтверждением наличия и продолжительности действия форс-мажора.</p>
  <p>Если обстоятельства продолжаются более 60 рабочих дней, каждая Сторона вправе отказаться от исполнения Договора в одностороннем порядке.</p>

  <h4>Ответственность Сторон</h4>
  <p>В случае неисполнения или ненадлежащего исполнения обязательств по Договору, Стороны несут ответственность в соответствии с настоящей Офертой.</p>
  <p>Агент не несет ответственности за неисполнение или ненадлежащее исполнение обязательств, если оно вызвано действиями или бездействием Принципала.</p>

  <h4>Срок действия настоящей Оферты</h4>
  <p>Оферта вступает в силу с момента размещения на Сайте Агента и действует до момента её отзыва Агентом.</p>
  <p>Агент оставляет за собой право внести изменения в условия Оферты и/или отозвать Оферту в любой момент по своему усмотрению. Сведения об изменении или отзыве Оферты доводятся до Принципала по выбору Агента одним из следующих способов:</p>
  <ul>
    <li>путем размещения на сайте Агента в сети «Интернет»;</li>
    <li>в Личном кабинете Принципала;</li>
    <li>направлением уведомления на электронный или почтовый адрес Принципала.</li>
  </ul>
  <p>Договор вступает в силу с момента Акцепта условий Оферты Принципалом и действует до полного исполнения Сторонами обязательств по Договору.</p>
  <p>Изменения, внесенные Агентом и опубликованные на сайте в форме актуализированной Оферты, считаются принятыми Принципалом в полном объеме.</p>

  <h4>Дополнительные условия</h4>
  <p>Договор регулируется законодательством Российской Федерации. Все вопросы, не урегулированные настоящей Офертой, решаются в соответствии с правом РФ.</p>
  <p>Стороны обязаны урегулировать спор мирным путем до обращения в суд. Судебное разбирательство проводится в порядке, установленном законодательством РФ. Досудебный порядок урегулирования является обязательным.</p>
  <p>Языком Договора и взаимодействия Сторон является русский язык. Документы должны быть составлены на русском языке либо переведены с нотариальным удостоверением.</p>
  <p>Бездействие одной из Сторон при нарушении условий Оферты не лишает её права защищать свои интересы позднее. Это также не считается отказом от прав в будущем.</p>
  <p>Ссылки на сторонние ресурсы на Сайте Агента размещены исключительно в информационных целях. Агент не несет ответственности за контент таких ресурсов и возможные убытки при их использовании.</p>

  <h4>Реквизиты Агента</h4>
  <p><strong>Полное наименование:</strong> Мусихин Константин Александрович</p>
  <p><strong>ИНН:</strong> 660900916658</p>
  <p><strong>ОГРНИП:</strong> 319665800217392</p>
  <p><strong>Контактный телефон:</strong> +7 904 380-13-13</p>
  <p><strong>Контактный e-mail:</strong> <a href="mailto:ixbit@mail.ru">ixbit&#64;mail.ru</a></p>
</div>

</ion-content>