
.button-wrapper{
    display: inline-flex;
    width: 100%;
    cursor: pointer;
    gap: 6px;
}


.trim{

    span{

        max-width: 200px;
        width: 100%;
        white-space: nowrap;         /* Запрещает перенос текста */
        overflow: hidden;            /* Скрывает выходящий за границы текст */
        text-overflow: ellipsis;     /* Добавляет троеточие (…) в конце */
    }

}

.no-trim{

    span{
        text-wrap: wrap;
        max-width: 100%;
    }

}

.standart-height{
    height: 2.5rem;
}

.long-height{
    height: 48px;
}
.little-height{
    height: 1.875rem;
}
.auto-height{
    height: auto;
}
.font{
    font-size: 14px;
}
.w40{
    min-width: 2.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.w20{
    min-width: 25px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.w49{
    min-width: 3.063rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.w52{
    min-width: 3.25rem;
    padding-left: 1rem;
    padding-right: 1rem;

}
.height64{
    height: 64px;
}
.w58{
    min-width: 3.625rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.w71{
    min-width: 4.438rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.full{
    width: 100%;
}

.dark{
    background: #181818;
    background: linear-gradient(180deg, rgba(24, 24, 24, 1) 0%, rgba(46, 46, 46, 1) 100%);
    transition: 0.3s all;
    // &:active{
    //     transition: 0.3s all;
    //     background: #363636;
    // }
    span{
        color: #fff;
    }
}
.green{
    background: #008428;
    background: linear-gradient(180deg,rgba(0, 132, 40, 1) 0%, rgba(0, 194, 58, 1) 100%);
    transition: 0.3s all;
    // &:active{
    //     transition: 0.3s all;
    //     background: #363636;
    // }
    span{
        color: #fff;
    }
}
.elements-in-start{
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: start !important;
    span{
        width: 100%;
        display: flex;
        justify-content: start;
    }
}
.dark-gray{
    background-color: #373737;
    transition: 0.3s all;
    .checked-box,.checked-box__active{
        border: 1px solid #979797;
    }
    span{
        color: #fff;
    }
    // &:active{
    //     transition: 0.3s all;
    //     background-color: #4e4e4e;
    // }
}
.red{
    background: #FF5555;
    background: linear-gradient(182deg, rgb(255, 85, 85) 0%, rgb(210, 49, 49));
    transition: 0.3s all;
    // &:active{
    //     transition: 0.3s all;
    //     background: #fc6969;
    // }

    span{
        text-wrap: nowrap;
        color: #fff;
    }
}
.white{
    background: #FFF;
    transition: 0.3s all;
    // &:active{
    //     transition: 0.3s all;
    //     background: #b9b9b9;
    // }
    // .icon-filter{
    //     filter: brightness(0) saturate(100%) invert(0%) sepia(96%) saturate(16%) hue-rotate(246deg) brightness(98%) contrast(105%);
    // }
    span{
        color: #000000;
    }

}

.transparent{
  background: transparent;
  transition: 0.3s all;
  // &:active{
  //     transition: 0.3s all;
  //     background: #363636;
  // }
  span{
    color: #fff;
  }
}

.disabled{
    opacity: 0.4;
    pointer-events: none;
}

.icon-filter{
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(5deg) brightness(102%) contrast(102%);
    width: 1.375rem;
    height: 1.375rem;
}

.icon-button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.clippy-right{
    transform: skew(-10deg);
    span{
        transform: skew(10deg);
    }
    img{
        transform: skew(10deg);
    }
}

.none{
    transform: skew(0deg);
    span{
        transform: skew(0deg);
    }
    img{
        transform: skew(0deg);
    }
}

.nav-clipy{
    transform: skew(0deg);
    span{
        transform: skew(8deg);
    }
    img{
        transform: skew(8deg);
    }
}


.clippy-left{
    transform: skew(10deg);
    span{
        transform: skew(-10deg);
    }
    img{
        transform: skew(-10deg);
    }

}

.elements-position{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.elements-position__row_reverse{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 4px;
    img{
        width: 14px;
        height: 14px;
    }
}

.elements-position__row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
    img{
        width: 14px;
        height: 14px;
    }
}
.row__reverse{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    img{
        width: 14px;
        height: 14px;
    }
}
.font{
    font-family: var( --font-semi-bold);
}
.red-color{
   span{
    color: #D53131;
   }
}
.litle-font-size{
    font-size: 12px;
}
.standart-font-size{
    font-size: 16px;
}
.big-font-size{
    font-size: 20px;
}
.font-bold{
    font-size: 14px;
    font-family: var( --font-bold);
}

.b0{
    border: 0px solid ;
   }
.b05{
    border: 1px solid ;
}

.b1{
 border: 1.5px solid ;
}

.b2{
    border: 2px solid;
}

.b3{
    border: 3px solid;
}

.null-border{
    border-color: rgba(0, 0, 0, 0.137);
}

.dark-border{
    border-color: rgba(0, 0, 0);
}
.red-border{
    border-color: rgb(255, 0, 0);
}
.white-border{
    border-color: rgb(255, 255, 255);
}

.dark-icon{
    img{
        filter: brightness(0) saturate(100%) invert(0%) sepia(96%) saturate(16%) hue-rotate(246deg) brightness(98%) contrast(105%);

    }

}
.red-icon{
    img{

        filter: brightness(0) saturate(100%) invert(20%) sepia(99%) saturate(7451%) hue-rotate(356deg) brightness(91%) contrast(109%);


    }

}
.white-icon{

    img{

        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(102%) contrast(102%);

    }
}

.standart-size{

    img{
        width: 20px;
        height: 20px;
    }
}

.little-size{
    img{
        width: 14px;
        height: 14px;
    }
}

.green--light{
    background: #00890996;
    transition: 0.3s all;
    // &:active{
    //     transition: 0.3s all;
    //     background: #008909;
    // }
    // .icon-filter{
    //     filter: brightness(0) saturate(100%) invert(0%) sepia(96%) saturate(16%) hue-rotate(246deg) brightness(98%) contrast(105%);
    // }
    span{
        color: #54fb5f;
    }
}
.red--light{
    background: #700000;
    transition: 0.3s all;
    // &:active{
    //     transition: 0.3s all;
    //     background: #700000;
    // }
    // .icon-filter{
    //     filter: brightness(0) saturate(100%) invert(0%) sepia(96%) saturate(16%) hue-rotate(246deg) brightness(98%) contrast(105%);
    // }
    span{
        color: #FF5C5C;
    }
}

.icon{
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.icon-margin-standard {

  .icon{
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }
}

.icon-margin-none {

  .icon{
    margin-right: 0;
    margin-left: 0;
  }
}



.shape-column-right{
    transform: skew(-10deg);
    width: 8px;
    height: 100%;
}
.shape-column-grid{
    display: flex;
    gap: 6px;
}
