
  


  <div class="info-container">
    <div class="user-parametr">
      <span>Фамилия:{{user.surname}}</span>
    </div>

    <div class="user-parametr">
      <span>Имя: {{user.name}}</span>
    </div>

    <div class="user-parametr">
      <span>Отчество: {{user.patronymic}} </span>
    </div>
  </div>


  <div class="info-container">
    <div class="user-parametr">
      <span>Адрес: {{user.location.name}} {{user.location.type}}, {{user?.city}}</span>
    </div>

    <div class="user-parametr">
      <span>Дата рождения: {{user?.date_of_birth}}</span>
    </div>

    <div class="user-parametr">
      <span>Номер телефона: {{user?.phone_number}}</span>
    </div>

  </div>

  <div class="info-container">
    <div class="user-parametr">
      <span>Звание: {{user?.rank}}</span>
    </div>

    <div class="user-parametr">
      <span>Стартовый номер: {{user?.start_number}}</span>
    </div>

    <div class="user-parametr">
      <span>Двигатель: {{user?.engine}}</span>
    </div>

    <div class="user-parametr">
      <span>Марка мотоцикла: {{user?.moto_stamp}}</span>
    </div>

    <div class="user-parametr">
      <span>Класс гонщика: {{user?.grade?.name}}</span>
    </div>
    
    

    
    
  </div>

  <div class="info-container">
    <div class="user-parametr">
      <span>Команда: {{user?.community}}</span>
    </div>

    <div class="user-parametr">
      <span>Тренер: {{user?.coach}}</span>
    </div>
  </div>



  <div class="info-container">
    <div class="user-parametr">
      <span>Паспорт: {{user?.number_and_seria}}</span>
    </div>

    <div class="user-parametr">
      <span>Снилс: {{user?.snils}}</span>
    </div>

    <div class="user-parametr">
      <span>ИНН: {{user?.inn}}</span>
    </div>
  </div>

  <div class="licensed-container">
    <span>Лицензия: {{licensed.number}}</span>
    <br>
    <a href="{{licensed.url_view}}" target="_blank">{{licensed.name}}</a>
  </div>

