<ion-content>
  <app-header [customButton]="true" headerTitle="Мои гонки" secondButtonIcon="/assets/icons/menu-pen.svg">
    <app-rounded-button (click)="redirectInCreate()" icon="assets/icons/create.svg" buttonText="Создать"></app-rounded-button>
  </app-header>

  <div class="main-container--with-header">
    <div class="events-grid">
      @for (event of events; track $index) {
        <div>
          <app-event-card [event]="event"></app-event-card>
          <div class="buttons-container">
            <app-standart-button  (click)="generateGoogleLink(event.id)" buttonText="Получить таблицу"></app-standart-button>
          </div>
        </div>
      
      }
   </div>
  </div>

</ion-content>