
.events-grid{
    padding-top: var(--standart-padding);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--standart-padding);
    flex-direction: column;
    padding-bottom: 2rem;
}