<ion-content>
  <div class="container">
    <ng-container>
      
      <div class="button-container__back-button"><app-back-button></app-back-button></div>
      

      <div class="button-container">
        <app-circle-button class="circle-button" [icon]="'assets/icons/plus.svg'" (click)="zoomIn()"></app-circle-button>
        <app-circle-button class="circle-button" [icon]="'assets/icons/minus.svg'" (click)="zoomOut()"></app-circle-button>
        <app-circle-button class="circle-button" [icon]="'assets/icons/close.svg'" (click)="resetZoom()"></app-circle-button>
        
      </div>

      <pdf-viewer [src]="documentUrl" [zoom]="zoomLevel"
      [render-text]="true"
      [original-size]="false"
      (pages-initialized)="hidePdfLoader()"
      
      class="file__img"
      ></pdf-viewer>
    </ng-container>
    
  
  </div>
</ion-content>