:root {
    --font-bold: 'NunitoSans-Bold';
    --font-black: 'NunitoSans-Black';
    --font-extra-bold: 'NunitoSans-Extrabold';
    --font-regular: 'NunitoSans-Regular';
    --font-semi-bold: 'NunitoSans-SemiBold';
    --font-extra-light: 'NunitoSans-ExtraLight';
    --font-light: 'NunitoSans-Light';
}
.none-text-change{
  
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 

}