:root {
    --font-bold: 'NunitoSans-Bold';
    --font-black: 'NunitoSans-Black';
    --font-extra-bold: 'NunitoSans-Extrabold';
    --font-regular: 'NunitoSans-Regular';
    --font-semi-bold: 'NunitoSans-SemiBold';
    --font-extra-light: 'NunitoSans-ExtraLight';
    --font-light: 'NunitoSans-Light';
}