.document-container{
    border: 1px solid rgba(76, 88, 97, 0.2549019608);
    padding: var(--little-padding);
    margin-bottom: var(--little-padding);
    display: flex;
    border-radius: 5px;
    gap: var(--little-padding);
    flex-direction: column;
}

.document-header{
    padding-top: 0.5rem;
    font-family: var(--font-bold);
    font-size: var(--font-regular-size);
    padding-bottom: var(--little-padding);

}

.start-number-container{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.input-container{
    display: flex;
    flex-direction: column;
    padding: 10px 0px 10px 0px;
    gap: 10px;
}

.user-document-container{
    padding-top: 1rem;
    
}
.buttons-container{
    padding-top: var(--standart-padding);
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.scan-header{
    margin-top: 0.5rem;
    font-family: var(--font-regular);
    font-size: var(--font-regular-size);
}

ion-modal{
    --max-height:50%;
    --width:90%;
    --border-radius: 12px;
    --overflow-y: hidden;
}
.region-modal-container{
    padding: var(--standart-padding);
    padding-top: 0rem;
}

.document{
    width: 100%;
    background-color: white;
    border-radius: 0.5rem;
    padding: 0.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    
}

.upload-result-modal{
    --min-width: 100%;
    --min-height: 100%;
}
.documents-grid__item{
    display: flex;
    flex-direction: column;
    padding: var(--standart-padding);
    width: 95vw;
    height: 100vh;
    position: relative;
    gap: var(--standart-padding);
}
.file__img{
  width: 100%;
  height: 100%;
}
.documents-grid{
    display: flex;
    padding-bottom: 10rem;
    flex-wrap: wrap;
    align-items: center;
    padding-top:4rem;
    width: 100%;
    justify-content: center;
    gap: 2rem;
}
.button-container--pdf{
    position: absolute;
    top: 2rem;
    display: flex;
    gap: var(--standart-padding);
    right: 2rem;
 
}