.document-container{
    border: 1px solid rgba(76, 88, 97, 0.2549019608);
    padding: var(--little-padding);
    margin-bottom: var(--little-padding);
    display: flex;
    border-radius: 5px;
    gap: var(--little-padding);
    flex-direction: column;
}

.document-header{
    padding-top: 0.5rem;
    font-family: var(--font-bold);
    font-size: var(--font-regular-size);
    padding-bottom: var(--little-padding);
}
.start-number-container{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}


.input-container{
    display: flex;
    flex-direction: column;
    padding: 10px 0px 10px 0px;
    gap: 10px;
}

.user-document-container{
    padding-top: 1rem;
    
}
.buttons-container{
    padding-top: var(--standart-padding);
    display: flex;
    flex-direction: column;
    gap: 10px;
}