<div class="users">
    <div class="users_avatars" (click)="openModal()">
        <ng-container *ngFor="let user of usersPreview">
            <div  style="background-image:url('{{user.user.avatar | checkImgUrl}}');" class="users_avatars-user"></div>
        </ng-container>
       
        <div *ngIf="moreCount" class="users_avatars-user-more">{{fullValueUsers}}</div>
    </div>
</div>

<!-- <ion-modal  class="modal" backdropDismiss="false" [isOpen] ="true" [canDismiss]="openModalGroupValue"></ion-modal> -->

<ion-modal (willDismiss)="closeModal()" mode="ios" class="modal" [isOpen] ="openUsersModal">
    <ng-template>
        <ion-header>
            <ion-toolbar>
                <div class="user-modal-header">
                    Участники {{fullValueUsers}}
                    <!-- <div class="close-wrapper">
                        <img (click)="closeModal()" class="user-modal-header_close-image" src="assets/icons/close.svg" alt="">
                    </div> -->
                </div>
            </ion-toolbar>
          </ion-header>
         
      <ion-content class="">
        <div class="users-content">
            <ng-container *ngIf="users && !formattedUsers" >
                <div *ngFor="let user of users" (click)="openUser(user)" class="card-grid__item">
                    <app-user-section  [hideEmail]= "true"  [user]="user.user"></app-user-section>
                    <div *ngIf="user?.personal?.start_number" class="user-info__class">
                        {{user?.personal?.start_number}}
                    </div>
                </div>
  
            </ng-container> 
            <ng-container *ngIf="users && formattedUsers" >
                <div class="group-grid">
                    <button (click)="scrollToItem(group.group)" *ngFor="let group of formattedUsers" class="group-grid__item">
                        {{group.group}}
                    </button>
                </div>
                <div *ngFor="let group of formattedUsers">
                    <h2 id="{{group.group}}">{{group.group}}:</h2>
                    <div class="card-grid">
                        <ng-container *ngFor="let user of group.users; let i = index">
                            <div>
                                <div (click)="openUser(user)" class="card-grid__item">
                                    <app-user-section [showRank]="true"  [hideEmail]= "true"  [user]="user.user"></app-user-section>
                                    <div *ngIf="user?.start_number" class="user-info__class">
                                        {{user?.start_number}}
                                    </div>
                                </div>
                                
                            </div>
                            
                        </ng-container>
                        
                     
                    </div>
                   
                </div>
               
  
            </ng-container> 
        </div>

        <div class="close-container">
            <app-standart-button (click)="closeModal()" [disabled]="true" buttonText="Вернуться"></app-standart-button>
        </div> 
        
      </ion-content>
    </ng-template>
</ion-modal>