@font-face {
    font-family: 'NunitoSans-Bold';
    src: url('/assets/fonts/NunitoSans/NunitoSans-Bold.ttf');
}
@font-face {
    font-family: 'NunitoSans-Black';
    src: url('/assets/fonts/NunitoSans/NunitoSans-Black.ttf');
}
@font-face {
    font-family: 'NunitoSans-ExtraBold';
    src: url('/assets/fonts/NunitoSans/NunitoSans-ExtraBold.ttf');
}
@font-face {
    font-family: 'NunitoSans-ExtraLight';
    src: url('/assets/fonts/NunitoSans/NunitoSans-ExtraLight.ttf');
}
@font-face {
    font-family: 'NunitoSans-Light';
    src: url('/assets/fonts/NunitoSans/NunitoSans-Light.ttf');
}
@font-face {
    font-family: 'NunitoSans-Regular';
    src: url('/assets/fonts/NunitoSans/NunitoSans-Regular.ttf');
}
@font-face {
    font-family: 'NunitoSans-SemiBold';
    src: url('/assets/fonts/NunitoSans/NunitoSans-SemiBold.ttf');
}

@font-face {
  font-family: 'RussoOne-Regular';
  src: url('/assets/fonts/RussoOne/RussoOne-Regular.ttf');
}

@font-face {
  font-family: 'RobotoCondensed-Bold';
  src: url('/assets/fonts/RobotoCondensed/RobotoCondensed-Bold.ttf');
}

@font-face {
  font-family: 'RobotoCondensed-BoldItalic';
  src: url('/assets/fonts/RobotoCondensed/RobotoCondensed-BoldItalic.ttf');
}

@font-face {
  font-family: 'RobotoCondensed-Italic';
  src: url('/assets/fonts/RobotoCondensed/RobotoCondensed-Italic.ttf');
}

@font-face {
  font-family: 'RobotoCondensed-Light';
  src: url('/assets/fonts/RobotoCondensed/RobotoCondensed-Light.ttf');
}

@font-face {
  font-family: 'RobotoCondensed-LightItalic';
  src: url('/assets/fonts/RobotoCondensed/RobotoCondensed-LightItalic.ttf');
}

@font-face {
  font-family: 'RobotoCondensed-Regular';
  src: url('/assets/fonts/RobotoCondensed/RobotoCondensed-Regular.ttf');
}




