
<div *ngIf="control" [ngClass]="getClassesInWrapper"  class="input-wrapper">

  <ng-container>
    <label *ngIf="!labelLight" [ngClass]="{'label':!invalid,'label_invalid':invalid}" for="{{label}}">{{label}}</label>
    <label *ngIf="labelLight" [ngClass]="{'label__light':!invalid,'label_invalid':invalid}" for="{{label}}">{{label}}</label>
    <div class="input-height-wrapper">
      <input
      (focus)="emitFocus()"
      (focusout)="emitOnFocus()"
      [maskito]="type !== 'date' ? optionMask : null"
      [maxlength]="maxLength"
      [ngClass]="allClasses"
      (input)="emitInput($event)"
      #input
      (blur)="TrimValue()"
      [readonly]="readonly"
      placeholder="{{placeholder}}"
      type="{{type}}"
      name="{{label}}"
      [formControl]="control"
      name="new_name">

      <img class="calendar-icon" src="/assets/icons/calendar.svg" *ngIf="type =='date' || type == 'datetime-local'" (click)="openDatePicker(input)" alt="">
      <img class="icon" *ngIf="iconLeft" src="{{iconLeft}}" alt="">
      <button (click)="openPasword(input)" *ngIf="openPassword" type="button" class="open-input">
      <img class="open-input-icon" src="/assets/icons/open-input.svg" alt=""></button>

    </div>


    <span *ngIf="errorMessage" class="error-message">{{errorMessage}}</span>
  </ng-container>


</div>

<span *ngIf="!control">
  добавьте formControl - например:
  <br>
  app-standart-input [control]="createSightForm.get('site')"
</span>
