.standart-input{
    border: 1px solid rgb(76 88 97 / 47%);
    width: 100%;
    min-height: 2.25rem;
    font-size: 14px;
 
    padding-left: 0.8rem;
    transition: 0.1s;
    margin-top: 3px;
    color: #363d42;
    
    background: none;
}
.cursor{
    cursor: pointer;
}

.inavlid__input{
    background: #fad3d3 !important;
    color: #363d42 !important;
    border: 1px solid #ff0000;
    
}
.inavlid__input:focus{
    outline: 1px solid #ff0000;
}
.inavlid__input::placeholder{
    color: #fb0e0e !important;
}

.icon{
    width: 18px;
    height: 18px;
}
.input-height-wrapper{
    position: relative;
    display: flex;
    align-items: center;
    position: relative;
}
.icon-left{
    position: relative;
 
    img{
        position: absolute;
        top: 30%;
        left: 10px;
    }
    input{
        padding-left: 2.2rem;
    }
    img{
      
    }
    
}

.invalid-filter{
    img{
        filter: brightness(0) saturate(100%) invert(11%) sepia(63%) saturate(7418%) hue-rotate(5deg) brightness(136%) contrast(126%);
    }
  
}


.standart-input_inavlid:focus{
    outline: none;
    width: 100%;
    min-height: 2.25rem;
    margin-top: 3px;
    transition: 0.2s;
    background: none;
    font-size: 14px;
    padding-left: 0.8rem;
    transition: 0.1s;
    color: #363d42;
}
.standart-input:focus{
    transition: 0.2s;
    outline: 1px solid #4991d853;
    margin-top: 3px;
    width: 100%;
    background: none;
    min-height: 2.25rem;
    font-size: 14px;
    padding-left: 0.8rem;
    color: #363d42;
}

.label{
    color: #4C5861;
    font-size: 14px;
    padding-bottom: 1px;
    font-family: var(--font-regular);
}
.label_invalid{
    color: #ff0000;
    font-size: 14px;
    padding-bottom: 1px;
    font-family: var(--font-regular);
}
.error-message{
    color: #ff0000;
    display: flex;
    font-family: var(--font-regular);
    font-size: 14px;
    margin-top: 12px;
}
.input-wrapper{
    
}
.open-input{
    background: none;
    position: absolute;
    right: 1rem;
}
.open-input:active{
    background: none;
    position: absolute;
    right: 1rem;
    .open-input-icon{
        filter: brightness(0) saturate(100%) invert(20%) sepia(2%) saturate(3827%) hue-rotate(188deg) brightness(93%) contrast(92%);
    }
}
.open-input-icon:active{
    filter: brightness(0) saturate(100%) invert(20%) sepia(2%) saturate(3827%) hue-rotate(188deg) brightness(93%) contrast(92%);
}
.standart-input_disabled{
    pointer-events: none;
    opacity: 0.6;
}
.dark{
    background-color: #373737;
    color: #ffffff;
}
.dark:focus{
    transition: 0.2s;
    outline: 1px solid #ffffffd3;
    margin-top: 3px;
    width: 100%;
    min-height: 2.25rem;
    background-color: #373737;
    font-size: 14px;
    font-family: var(--font-regular);
    padding-left: 0.8rem;
    color: #ffffff;
}
.dark::placeholder {
    color: #d5d5d5;
}

.gradient{
    background: #a8a8a8;
    background: linear-gradient(270deg, rgba(168, 168, 168, 1) 0%, rgba(255, 255, 255, 1) 15%);
}

input[type="date"]{
    line-height: normal;
    box-sizing: border-box;
    padding: 0px;
    padding-left: 0.8rem;
    padding-right: 2rem;
}
.calendar-icon{
    position: absolute;
    right: 12px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    pointer-events: auto;
}
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    position: absolute;
    right: 10px;
    cursor: pointer;
  }