<div *ngIf="user" class="user-section">
  <div class="user-section__avatar">
    <img class="user-section__avatar__img" [src]="user.avatar | checkImgUrl" alt="">
  </div>
  <div class="user-section__info">
    <div *ngIf="user?.personal?.name && user?.personal?.surname" class="user-section__name">

      <div >{{user.personal.name}}</div>
      <div>{{user.personal.surname}}</div>

    </div>
    <!-- <h2 class="user-section__name">{{ (user?.personal?.name && user?.personal?.surname) ? (user.personal.name +  ' ' +  user.personal.surname) : user.name}}</h2> -->
    <!-- <h2 class="user-section__name">{{ (user?.personal?.name && user?.personal?.surname) ? (user.personal.name +  ' ' +  user.personal.surname) : user.name}}</h2> -->
    <p class="user-section__email">{{user.email}}</p>
    <p *ngIf="user?.personal?.city && showAddress" class="user-section__email">{{user.personal.city}}</p>
    <p *ngIf="user?.personal?.rank && showRank" class="user-section__rank">{{user.personal.rank}}</p>
  </div>
</div>
<div *ngIf="status" class="cabinet__user-status">{{status}}</div>  
