<div [ngClass]="getClasses">
  <div class="left-border">
    
  </div>
  <div *ngIf="user" class="user-section">
    
    <div class="user-section__avatar">
      <img class="user-section__avatar__img" [src]="user.avatar ? (user.avatar | checkImgUrl) : (user?.user?.avatar | checkImgUrl)" alt="">
    </div>
    <div class="user-section__info">

      <!-- 1 row -->
      <div class="user-section__name"> 
        <div class="user-section-text" *ngIf="user?.personal?.name && user?.personal?.surname && name" >{{user.personal?.name}}</div>
        <div class="user-section-text" *ngIf="user?.personal?.name && user?.personal?.surname && surname">{{user.personal?.surname}}</div>
        <div class="user-section-text" *ngIf="user?.name && !user?.personal && name" >{{user.name}}</div>
        <div class="user-section-text" *ngIf="user?.surname && !user?.personal && surname" >{{user.surname}}</div>
      </div>
      <!-- <h2 class="user-section__name">{{ (user?.personal?.name && user?.personal?.surname) ? (user.personal.name +  ' ' +  user.personal.surname) : user.name}}</h2> -->
      <!-- <h2 class="user-section__name">{{ (user?.personal?.name && user?.personal?.surname) ? (user.personal.name +  ' ' +  user.personal.surname) : user.name}}</h2> -->
      <div class="user-section__date">
        <p *ngIf="user?.roles && showRoles" class="user-section__date__info">{{translitRole}}</p>
        <p *ngIf="user?.personal?.city && showAddress" class="user-section__date__info">{{user.personal?.city}}</p>
        <p *ngIf="user?.personal?.rank && showRank" class="user-section__date__info">{{user.personal?.rank}}</p>
        <p *ngIf="user?.city && showAddress && !user?.personal" class="user-section__date__info">{{user?.city}}</p>
        <p *ngIf="user?.rank && showRank && !user?.personal" class="user-section__date__info">{{user?.rank}}</p>
      </div>
              
      
    </div>  
    <div *ngIf="user?.start_number && startNumber" class="user-section__start-number">
      <div class="start_number">{{user?.start_number}}
      </div>
    </div>
    <div *ngIf="user?.personal?.start_number && startNumber" class="user-section__start-number">
      <div class="start_number">{{user?.personal?.start_number}}
      </div>
    </div>

  </div>
  <div *ngIf="status" class="cabinet__user-status">{{status}}</div>  
</div>