p{
    display: flex;
    align-items: center;
    font-size: var(--font-regular-size);
    margin: 0;
    padding: 0;
  }
.user-section-text{
    display: flex;
    align-items: center;
    height: 10px;
    margin-bottom: 8px;
}
.user-section{
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 360px;
    padding: 10px;
    
    .user-section__avatar{
        display: flex;
        justify-content: center;
        align-items: center;
        
        .user-section__avatar__img{
            min-width: 3.125rem;
            min-height: 3.125rem;
            max-width: 3.125rem;
            max-height: 3.125rem;
            object-fit: cover;
            overflow: hidden;
            background-color: rgb(99, 99, 99);
            border-radius: 50%;
            
        }
    }
    .user-section__info{
        display: flex;
        justify-content: start;
        flex-direction: column;
        
        flex-grow: 1;
        .user-section__name{
            
            display: flex;
            gap:5px;
            word-break: break-all;
            margin: 0;
            color: var(--font-standart-color);
            font-family: var(--font-black);
            font-size: 14px;
            flex-wrap: wrap;
            text-wrap: wrap;
            
        }
        
        .user-section__email{
            height: 14px;
            font-size: var(--font-regular-size);
            color: var(--font-standart-color);
            font-family: var(--font-regular);
            
        }
        .user-section__rank{
            height: 14px;
            color: var(--font-standart-color);
            font-size: var(--font-regular-size);
            font-family: var(--font-regular);
            margin: 0rem;
        }
        .user-section-city{
            height: 14px;
            margin: 0px;
            font-family: var(--font-regular);
        }
    }
}

.cabinet__user-status{
    display: inline-flex;
    width: auto;
    padding-left: 0.6rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-right: 0.6rem;
    font-family: var(--font-regular);
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.151);
    border-radius: 2rem;
}

.user-section__start-number{
    
    display: flex;
    justify-content: center;
    transform: skew(-10deg);
    background-color: black;
    height: 50px;
    width: 45px;
    .start_number{
        transform: skew(10deg);
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: var(--font-headers-size-little);
        font-family: var(--font-black);
    }
}



.b0{
    .left-border{
        width: 0px;
        height: 70px;
    }
   }

.b1{
    .left-border{
        width: 5px;
        height: 70px;
    }
}

.red{

    .left-border{
        background: #FF5555;
        background: linear-gradient(180deg, rgba(255, 85, 85, 1) 23%, rgba(213, 49, 49, 1) 76%);
    }
    
}
.green{
    .left-border{
        background: green;  
    }
    
}
.yellow{
    .left-border{
        background: yellow;  
    }
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.standart-them{
    .user-section{
        background: #EDEDED;
        background: linear-gradient(170deg, rgba(237, 237, 237, 1) 23%, rgba(255, 255, 255, 1) 50%, rgba(227, 227, 227, 1) 76%);

    }
}

.red-them{
    .user-section{
        background-color: #FFE2E2;

    }
}

.green-them{
    .user-section{
        background-color: #D0FFE0;

    }
}

.yellow-them{
    .user-section{
        background-color: #FFECD0;
    }
}

