



@media screen and (max-width: 768px) {
    .bottom-nav-container{
        display: block;
        font-family: var(--font-bold);
        padding-bottom: 1rem;
        background-color: var(--white-backgrounds);
    }
}

