

<ion-content scroll-y="false">
  <ng-container *ngIf="event">
  <!-- <app-header [headerTitle]="usersPreviewConfig.usersCount ? 'Участники: ' + usersPreviewConfig.usersCount : ' '"> -->
    <app-header [customContainer]="true">
      <span  style="color:rgb(0, 0, 0); width: 100%; margin: auto; background-color: bisque;">{{event.name}}</span>
    </app-header>
  <main class="main">
    <div class="main-content">

      <div class="event-information-title users-title">
        <img src="/assets/icons/red-finished.svg" alt="">
        Список участников
        <!-- <app-icon-button *ngIf="allUsers.length" font="font-bold" widht="w20" theme="red" clippy="clippy-right" height="auto-height" [buttonText]="allUsers.length"></app-icon-button> -->
      </div>
      <div *ngFor="let group of formattedUsers">
        <div class="class-name">
          <div class="event-information-title users-title">
            <img src="/assets/icons/red-finished.svg" alt="">
            {{group.group}}
            <!-- <app-icon-button *ngIf="allUsers.length" font="font-bold" widht="w20" theme="red" clippy="clippy-right" height="auto-height" [buttonText]="allUsers.length"></app-icon-button> -->
          </div>
        </div>
        
        <div class="application-list">
          <div *ngFor="let user of group.users" >
            <div class="user-card" (click)=" navigateToUser(user.user_id, user)">
              <app-user-section 
                [startNumber]="true"   
                [showRank]="true"  
                [hideEmail]= "true"  
                [user]="user">
              </app-user-section>
            </div>
            
          </div>
        </div>
      </div>
        
    </div>

    <div class="view-user" *ngIf="viewUser">
      <app-user-in-application [arrayDocument]="arrayDocument" [user]="userGet"></app-user-in-application>
    </div>
    
  </main>
</ng-container>
</ion-content>