.files-result-upload{
    width: 80vw;
    max-width: 360px;
    display: flex;
    transition: 0.3s all;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 1px;
    height: 150px;
  border: 2px dashed rgb(255, 85, 85);
    span{
      color:rgb(255, 85, 85);
    }
}
.upload{
    width: 80vw;
    max-width: 360px;
    display: flex;
    align-items: center;
 
    flex-direction: column;
    gap: var(--standart-padding);
}
.files-grid{
    width: 100%;
  
    display: flex;
    flex-direction: column;
    gap: var(--little-padding);
    .files-grid__item{
        background-color: #fff;
        padding: 0.3rem;
        border-radius: 3px;
        transition: 0.3s all;
        font-family: var(--font-regular);
        &:active{
            background-color: #d3d3d3;
            transition: 0.3s all;
        }
    }
}
.files-result-upload__wrapper{
    display: flex;
    flex-direction: column;
    padding: 0.2rem;
    font-size: 0.75rem;
    align-items: center;
}
.files-grid__item{
    cursor: pointer;
}
.files-grid__item-wrapper{
    display: flex;
    gap: var(--little-padding);
}
.upload-text{
    font-family: var(--font-regular);
}
.file{
   padding: 5rem;
   top: 0;
   opacity: 0;
   position: absolute;
}
.files-result-upload__active{
    width: 80vw;
    max-width: 360px;
    display: flex;
    align-items: center;
    transition: 0.3s all;
    background-color: #0b40ee31;
    flex-direction: column;
    justify-content: center;
    border-radius: 1px;
    height: 150px;
    border: 3px dashed rgba(6, 137, 238, 0.6);
}
.upload-image{
    width: 4rem;
    height: 4rem;
    margin: auto;
    filter: brightness(0) saturate(100%) invert(59%) sepia(58%) saturate(4017%) hue-rotate(327deg) brightness(102%) contrast(104%);
}
.upload-wrapper{
    background-color: #fff;
    border-radius: 16px;
    position: relative;
    
     margin-top: var(--standart-padding);
    padding: var(--standart-padding);
    display: inline-block;
}

.upload-label{
    font-family: var(--font-regular);
    font-size: 16px;
    padding-bottom: var(--little-padding);
}