<div class="upload">
  <div  
  (dragover)="onDragOver($event)"
  (dragleave)="onDragLeave($event)"
  (drop)="onDrop($event)"
  class="upload-wrapper">
  <div  [ngClass]="{ 'files-result-upload__active': isDragOver }" class="files-result-upload">
    <div class="files-result-upload__wrapper">
      <img class="upload-image" src="/assets/icons/images.svg" alt="">
      <div class="upload-text">Добавьте сюда файлы для загрузки</div>
      <input accept=".pdf" #fileInput class="file" multiple (change)="getResultFile($event)" type="file">
    </div>

  </div>
</div>
<div class="files-grid">
  <ng-container *ngFor="let fileElement of resultsFilesUpload">
    <div class="files-grid__item-wrapper">
      <div class="files-grid__item">
        <img src="/assets/icons/documents.svg" alt="">
        {{fileElement.file.name}}
      </div>
      <app-circle-button (click)="deleteUploudResultFile(fileElement)" icon="/assets/icons/trash.svg"></app-circle-button>
    </div>

  </ng-container>

</div>


</div>