<ion-content>
  <app-header  [customContainer]="true">
    <form (ngSubmit)="filterTeams()" class="header-container">
      <app-standart-input type="search" iconLeft="/assets/icons/search.svg" placeholder="Поиск команды" tyle="width: 100%;" [control]="teamsFormGroup.get('searchInput')"></app-standart-input>
        <div class="header__filter-grid">
        <app-icon-button (click)="clearAllFilters()" [theme]="!this.regionFilterId ? 'red':'dark'" height="little-height" clippy="clippy-right" buttonText="Все"></app-icon-button>
        <app-icon-button (click)="openRegionModal()" [theme]="this.regionFilterId ? 'red':'dark'" height="little-height" clippy="clippy-right" [buttonText]="regionFilterName ? regionFilterName : 'По области'"></app-icon-button>
       </div>
    </form>
   
  </app-header>
  <main class="main-container--with-header--strong">

    <article class="commands-grid">
      <ng-container *ngFor="let team of filteredTeams">
        <div class="commands-grid__item" (click)="viewTeam(team.id)">
          <app-command-section 
            
            [command]="team"
            (toggleMembership)="toggleTeamMembership($event)"
          ></app-command-section>
        </div>
      </ng-container>
    </article>

    <div class="no-results" *ngIf="filteredTeams.length === 0">
      <h2>Команды не найдены</h2>
    </div>
  </main>
</ion-content> 
  <app-regions-select-modal (select)="filterEventsInLocation($event)" [selectedRegion]="regionFilterName" [visible]="regionModalState" (onClose)="closeRegionModal()" [regions]="searchRegionItems"> </app-regions-select-modal>

<!-- <ion-modal class="region-modal" (didDismiss)="closeRegionModal()"  [isOpen]="regionModalState">
  <ng-template>
    <ion-content>
      <div class="region-modal-container">
        <app-standart-input-search 
        label="Область/край*" 
        [searchCurrentItems]="searchRegionItems" 
        [searchItems]="searchRegionItems" 
        (changeSearchValue)="filterEventsInLocation($event)"
        >
      </app-standart-input-search>
      </div>
    </ion-content>
  </ng-template>  
</ion-modal>       -->