<ion-content>
  <app-header (click)="openRegionModal()" [hiddenBackButton]="true" [headerTitle]="regionFilterName" icon='/assets/icons/arrow-down.svg'></app-header>
  <main class="main-container--with-header">
    <div class="search-container">
      <app-standart-input-search
        (input)="onSearchInput($event)"
        placeholder="Поиск по имени команды"
        label="Поиск по имени команды"
      ></app-standart-input-search>
    </div>

    <article class="commands-grid">
      <ng-container *ngFor="let team of filteredTeams">
        <div class="commands-grid__item" (click)="viewTeam(team.id)">
          <app-command-section 
            [command]="team"
            (toggleMembership)="toggleTeamMembership($event)"
          ></app-command-section>
        </div>
      </ng-container>
    </article>

    <div class="no-results" *ngIf="filteredTeams.length === 0">
      <h2>Команды не найдены</h2>
    </div>
  </main>
</ion-content> 

<ion-modal class="region-modal" (didDismiss)="closeRegionModal()"  [isOpen]="regionModalState">
  <ng-template>
    <ion-content>
      <div class="region-modal-container">
        <app-standart-input-search 
        label="Область/край*" 
        [searchCurrentItems]="searchRegionItems" 
        [searchItems]="searchRegionItems" 
        (changeSearchValue)="filterEventsInLocation($event)"
        >
      </app-standart-input-search>
      </div>
    </ion-content>
  </ng-template>  
</ion-modal>      