.search-container {
  padding: 1rem;
  max-width: 100%;
  margin-top: 1rem;
  
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;  /* Закрепляем элемент */
  top:4rem;  /* Отступ от верхней границы */
  
}

app-standart-input-search {
  
  --page-bg: rgb(255, 255, 255);
}
.header-container{
  max-width: 960px;
  margin: auto;
  width: 100%;
}

.commands-grid {
  padding-top: 1rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 960px;
  margin: auto;
  width: 100%;
}

.no-results {
  text-align: center;
  padding: 2rem;
  color: var(--ion-color-medium);

  h2 {
    font-size: 1.2rem;
    font-weight: 500;
  }
}


.teams-container {
  padding: 16px;
}

.teams-list {
  margin-top: 16px;
}

.team-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-radius: 8px;
  background: var(--ion-color-light);
  margin-bottom: 8px;
  cursor: pointer;

  &:hover {
    background: var(--ion-color-light-shade);
  }
}

.team-info {
  display: flex;
  align-items: center;
  flex: 1;
  cursor: pointer;
}

.team-avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-right: 16px;
  object-fit: cover;
}

.team-details {
  h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
  }

  p {
    margin: 4px 0;
    color: var(--ion-color-medium);
  }
}

ion-button {
  margin-left: 16px;
} 

.region-modal{
  ion-content{
   --background: rgb(255, 255, 255);
  }
  --max-height:50%;
  --width:90%;
  --border-radius: 12px;
  --overflow-y: hidden;
}

.region-modal-container{
  background: rgb(255, 255, 255);
  padding: var(--standart-padding);
  app-standart-input-search{
      --page-bg: #ffffff
  }
}

.commands-grid__item{

}