.card{
    
    max-width:20rem;
    min-width: 20rem;
    cursor: pointer;
    border-radius:10px;
    background-color:var(--white-color);
    .card__header{
        padding-top: var(--little-padding);
        padding-bottom: var(--little-padding);
        border-bottom: 1px solid rgb(239, 244, 252);
        display: flex;
        padding-left: var(--little-padding);
        align-items: center;
        gap: 5px;
        font-family: var(--font-regular);
        padding-right: var(--little-padding);
        .card__header__track-avatar{
            width: 2rem;
            height: 2rem;
            background-color: rgb(170, 170, 170);
            border-radius: 50%;
            img{
                border-radius: 50%;
                width: 100%;
                object-fit: cover;
                height: 100%;
            }
        }
    }
    .card__content{
        display: flex;
        justify-content: center;
    }

}
.card__footer{
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: var(--little-padding);
    padding-right: var(--little-padding);
    padding-top: var(--little-padding);
    background: #EDEDED;
    background: linear-gradient(328deg, rgb(225 225 225) 0%, rgb(255, 255, 255) 50%, rgb(247 247 247 / 38%) 100%);
    padding-bottom: var(--little-padding);
    -webkit-box-shadow: -1px 7px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: -1px 7px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: -1px 7px 8px 0px rgba(34, 60, 80, 0.2);
}
.event-name{
    font-family: var(--font-bold);
    padding-left: var(--little-padding);
}

.track-name{
    display: flex;
    padding-right: var(--standart-padding);
    gap: var(--little-padding);
    align-items: center;
    width: 100%;
    color: #6A6A6A;
    font-family: var(--font-regular);
}
.event-address{
    font-family: var(--font-bold);
    padding-top: 12px;
    font-style: italic;
    color: #373737;
    font-size: var(--font-little-size);
}
.record-information{
    padding-top: 12px;
}
.wheel-img{
    width: 1.1rem;
}
.users-count{
    font-family: var(--font-extra-bold);
    font-size: 14px;
}
.event-address-with-users{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-regular);
    font-size: var(--font-little-size);
    padding-left: var(--little-padding);
    padding-right: var(--standart-padding);
    font-style: normal;
    
}

.event-date{
    display: flex;
    justify-content: center;
    color: var(--white-color);
    padding: var(--little-padding);
    font-family: var(--font-bold);
    font-size: var(--font-little-size);
    background-color: var(--grey-color);
    width: 100%;
    display: inline-flex;   
    height: 2rem;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.users-in-event{
    
    right: var(--standart-padding);
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    img{
        height: 2rem;
        max-width: 2rem;
        border-radius: 50%;
    }
}
.bottom-info{
    display: flex;
    justify-content: space-between;
    padding: var(--little-padding);
    
    
    align-items: center;
    max-width: 100%;
}


.users-in-track-container{
    padding-top: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: var(--standart-padding);
    
}
.status-events{
   padding-top: 12px;
}
.card__date-start{
    font-family: var(--font-extra-bold);
    display: flex;
    gap: 0.5rem;
    padding-bottom: 6px;
    font-size: 18px;
}
.card__name{
    padding-top:0.75rem;
    font-family: var(--font-extra-bold);
    display: flex;
    margin-bottom: 0px;
    gap: 0.5rem;
    font-size: 18px;
}