
   
 <div *ngIf="event" class="card">
 
    <div>
        <div *ngIf="event.date_start" class="card__date-start">
            <img src="/assets/icons/red-finished.svg" alt="">
            {{ formatDate(event.date_start) }}
        </div>
        <div (click)="redirectInEvent()" class="card__content">
            <img src="{{event.images ? (event.images[0] | checkImgUrl) : ''}}" alt="">
        </div>
        <div (click)="redirectInEvent()" class="card__footer"> 
            <h3 class="card__name">
                {{event.name}}
            </h3>

        
            <div class="record-information" *ngIf="formatingDate"> 
                <app-icon-button  theme="dark-gray" height="little-height" clippy="clippy-right" buttonText="Регистрация {{formatingDate}}"> </app-icon-button>
            </div>

            <div *ngIf="event.track" class="event-address">
                {{event.track.location?.name}} {{event.track.location?.type}}
            </div>
            
            <div *ngIf="event.track" class="users-in-track-container">
                <div *ngIf="event.track" class="track-name">
                    <img class="wheel-img" src="/assets/icons/wheel.svg" alt="">
                    {{event.track.name}}
                </div>
            </div>
            <div *ngIf="event.appointment_count" class="users-in-track-container">
                <div *ngIf="event.appointment_count" class="track-name users-count">
                    <img class="wheel-img" src="/assets/icons/user-group.svg" alt="">
                    {{event.appointment_count?.count | usersPluralRule}} 
                </div>
            </div>

            
            <div class="status-events">
                <app-icon-button height="little-height" widht="full" theme="red" buttonText="Регистрация открыта" *ngIf="registrationStatus; else registrationClosed"></app-icon-button>
                <ng-template #registrationClosed>
                  <app-icon-button [disabled]="true" buttonText="Регистрация закрыта" widht="full" height="little-height"></app-icon-button>
                </ng-template>
            </div>
            

            <!-- <div class="event-name">
                {{event.name}}
            </div>

            <div *ngIf="event.track" class="users-in-track-container">
                <div *ngIf="event.track" class="track-name">
                    {{event.track.name}}
                </div>
            </div>


            <div *ngIf="event.track" class="event-address">
                {{event.location?.name}} {{event.location?.type}}
            </div>

            <div  class="event-address-with-users">
                <span *ngIf="event.date_start">
                    Дата начала гонки: {{ formatDate(event.date_start) }}
                </span>
                <div *ngIf="event.appointment_count" class="users-in-event">
                    <img src="/assets/images/standartAvatar.jpg" alt="">
                    {{event.appointment_count?.count}} 
                </div>
            </div>

            <div *ngIf="event.record_start" class="event-address">
                <span>
                    Дата регистрации: 
                </span>

                <br>

                <span>
                    Начало: 
                </span>

                <span *ngIf="event.record_start">
                    {{  formatDate(event.record_start)  }} 
                </span>

                <div *ngIf="event.record_end" class="">
                <span>
                    Конец: 
                </span>

                <span *ngIf="event.record_end">
                    {{  formatDate(event.record_end)  }} 
                </span>
                
            </div>

            <div class="status-events">
                <span *ngIf="registrationStatus; else registrationClosed">Регистрация открыта</span>
                <ng-template #registrationClosed>
                  <span>Регистрация закрыта</span>
                </ng-template>
            </div>
        </div> -->
    </div>
    
</div>
<ng-content>
</ng-content>
</div>
