@if (event) {
    
   
 <div class="card">
     <div class="event-date">
             {{ event.date_start | date: 'dd.MM.YYYY' }}
            </div>
    <div (click)="redirectInEvent()" >
        <div class="card__content">
            <img src="{{event.images ? (event.images[0] | checkImgUrl : '/assets/images/moto-background.png') : '' | checkImgUrl : '/assets/images/moto-background.png'}}" alt="">
        </div>
        <div class="card__footer"> 
            
            <div *ngIf="event.appointment_count" class="users-in-event">
                <img src="/assets/images/standartAvatar.jpg" alt="">
                {{event.appointment_count?.count}} 
            </div>

            <div class="event-name">
                {{event.name}}
            </div>

            <div *ngIf="event.track" class="users-in-track-container">
                <div *ngIf="event.track" class="track-name">
                    {{event.track.name}}
                </div>

            </div>


            <div *ngIf="event.track" class="event-address">
                {{event.track.location?.name}} {{event.track.location?.type}}
            </div>

        
    </div>
</div>
<ng-content>
</ng-content>
</div>
}