.card{
    
    max-width:20rem;
    min-width: 20rem;
    border-radius:10px;
  
    background-color:var(--white-color);
    .card__header{
        padding-top: var(--little-padding);
        padding-bottom: var(--little-padding);
        border-bottom: 1px solid rgb(239, 244, 252);
        display: flex;
        padding-left: var(--little-padding);
        align-items: center;
        gap: 5px;
        font-family: var(--font-regular);
        padding-right: var(--little-padding);
        .card__header__track-avatar{
            width: 2rem;
            height: 2rem;
            background-color: rgb(170, 170, 170);
            border-radius: 50%;
            img{
                border-radius: 50%;
                width: 100%;
                object-fit: cover;
                height: 100%;
            }
        }
    }
    .card__content{
        display: flex;
        justify-content: center;
    }

}
.card__footer{
    padding-left: var(--little-padding);
    padding-top: var(--little-padding);
    padding-bottom: var(--little-padding);
}
.event-name{
    font-family: var(--font-bold);
    padding-left: var(--little-padding);
}
.event-address{
    padding-top: var(--little-padding);
    padding-bottom: var(--little-padding);
    font-family: var(--font-regular);
    font-size: var(--font-little-size);
    
}
.event-date{
    display: flex;
    justify-content: center;
    color: var(--white-color);
    padding: var(--little-padding);
    font-family: var(--font-bold);
    font-size: var(--font-little-size);
    background-color: var(--grey-color);
    width: 100%;
    display: inline-flex;   
    height: 2rem;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.users-in-event{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    img{
        height: 2rem;
        max-width: 2rem;
        border-radius: 50%;
    }
}
.bottom-info{
    display: flex;
    justify-content: space-between;
    padding: var(--little-padding);
    padding-right: var(--standart-padding);
    height: 4rem;
    align-items: center;
    max-width: 100%;
}