.card{
    max-width:20rem;
    min-width: 20rem;
    border-radius:10px;
    background-color:var(--white-color);
    .card__header{
        padding-top: var(--little-padding);
        padding-bottom: var(--little-padding);
        border-bottom: 1px solid rgb(239, 244, 252);
        display: flex;
        padding-left: var(--little-padding);
        align-items: center;
        gap: 5px;
        font-family: var(--font-regular);
        padding-right: var(--little-padding);
        .card__header__track-avatar{
            width: 2rem;
            height: 2rem;
            background-color: rgb(170, 170, 170);
            border-radius: 50%;
            img{
                border-radius: 50%;
                width: 100%;
                object-fit: cover;
                height: 100%;
            }
        }
    }

}
.card__footer{
    padding-left: var(--little-padding);
    padding-top: var(--little-padding);
    padding-bottom: var(--little-padding);
}
.event-name{
    font-family: var(--font-bold);
}
.event-address{
    padding-top: var(--little-padding);
    font-family: var(--font-regular);
    font-size: var(--font-little-size);
    padding-bottom: var(--little-bottom);
}