<ion-content>
    <app-header (customBackClick)="stepPrevious()" [hiddenBackButton]="true" [customBack]="false" headerTitle="Создание трека"></app-header>
    <main class="main-container--with-header">
        <app-step-container [maxStepsCount]="maxStepsCount" [stepCurrency]="stepCurrency">
            <app-step-container-item [maxStepsCount]="maxStepsCount" [stepCurrency]="stepCurrency" stepNum="1">
                <form [formGroup]="createTrackForm" action="">
                    <app-standart-input label="Название*" [control]="createTrackForm.get('name')" placeholder="Введите название вашего трека"></app-standart-input>
                    <div style="padding-top: var(--standart-padding); padding-bottom: var(--standart-padding);">
                        <span class="label">Логотип трека</span>
                        <div class="logo-track">
                      
                            <button (click)="logoFile.click()" class="upload-logo">
                                <img src="/assets/icons/addPhoto.svg" alt="">
                            </button>
                            <div class="logo-track__text">
                                <ng-container *ngIf="!logoUrl">
                               
                                    <span class="logo-track__file-name">Фото не загружено</span>
                                </ng-container>
                                <ng-container *ngIf="logoUrl">
                                    <img [src]="logoUrl" alt="" class="logo-track__logo">
                                    <div class="delete-button-wrapper">
                                     <app-circle-button (click)="clearLogo()" icon="/assets/icons/trash.svg"></app-circle-button>
                                    </div>
                                </ng-container>
                               
                                <input (change)="setLogo($event,logoFile)" #logoFile style="display: none;" accept="image/png, image/jpeg" type="file" type="file">
                            </div>
                        </div>
                    </div>
                    <!-- <div class="specifications">
                        @for (param of newParams; track param.temp_id) {
                            <div>
                                <div class="select-level__label">
                                Новый параметр 
                                <button (click)="deleteNewParameter(param.temp_id)" class="delete-button">
                                    <img class="delete-img" src="/assets/icons/trash.svg" alt="">
                                </button>
                              </div>
                                <div class="new-param-input">
                                    <input class="new-param-input__title" placeholder="Введите название вашего параметра" type="text">
                                    <input class="new-param-input__text" placeholder="Введите значение вашего параметра" type="text">
                                </div>
                            </div>
                        }
                   
                        <app-standart-button (click)="addNewParameter()" buttonText="Добавить параметр"></app-standart-button>
                    </div> -->
                    <app-standart-input (click)="openRegionModal()" [readonly]="true" label="Область/край*" [control]="createTrackForm.get('region')" placeholder="Выберите область вашего соревнования"></app-standart-input>
                    <div class="select-level__label">Адрес трека</div>
                    
                    <ion-modal (didDismiss)="closeRegionModal()"  [isOpen]="regionModalState">
                        <ng-template>
                          <ion-content>
                            <div class="region-modal-container">
                              <app-standart-input-search style="width: 100%;" label="Область/край" [searchCurrentItems]="searchRegionItems" [searchItems]="searchRegionItems" (changeSearchValue)="setRegion($event)"></app-standart-input-search>
                            </div>
                          </ion-content>
                        </ng-template>  
                    </ion-modal>   
                    <app-address-input (addressEditEmit)="changeAddress($event)"></app-address-input>

                    <span style="padding-top: var(--standart-padding);" class="label">Cхема трека*</span>
                    <div class="logo-track">
                        <button (click)="schemeFile.click()" class="upload-logo">
                            <img src="/assets/icons/addPhoto.svg" alt="">
                        </button>
                        <div class="logo-track__text">
                            <ng-container *ngIf="!schemeUrl">
                                <span class="logo-track__file-name">Фото не загружено</span>
                            </ng-container>
                            <input (change)="setScheme($event,schemeFile)" #schemeFile style="display: none;" accept="image/png, image/jpeg" type="file" type="file">
                            <ng-container *ngIf="schemeUrl">
                                <img [src]="schemeUrl" alt="" class="logo-track__scheme">
                            </ng-container>
                            
                        </div>
                        <app-info-popover style="position: absolute; right: 0;" text="Скриншот области трассы со спутника"></app-info-popover>
                    </div>

                    <!-- <div class="photo-slider">
                        <app-edit-slider (filesEmit)="getImages($event)" type="create"></app-edit-slider>
                    </div> -->
                 

                    <div class="track-settings">
                        <ion-toggle formControlName="light" (ionChange)="changeLight($event)" name="light" id="light" mode="ios" class="custom-toggle">Освещение</ion-toggle>
                        <ion-toggle formControlName="allSeazonal" name="light" id="light" mode="ios" class="custom-toggle">Всесезонность</ion-toggle>
                    </div>

                    <form [formGroup]="specForm" class="track-settings__spec">
                        <div class="track-settings__spec__item">
                            <div class="track-settings__spec__item__text">
                                <img style="opacity: 60%;" src="/assets/icons/length.png" alt="" class="track-settings__spec__item__icon">
                                <div class="track-settings__spec__item__label__wrapper">
                                    <label class="track-settings__spec__item__label" for="length">Протяжённость круга</label>
                                </div>
                               
                            </div>

                            <div class="input-wrapper">
                                <input formControlName="lengthTrack" class="track-settings__spec__item__input" id="length" type="number">
                                м

                                <app-info-popover style="position: absolute; right: 0;" text="Замерьте полную длину летнего круга трассы. Можете воспользоваться линейкой яндекс карт."></app-info-popover>
                            </div>
 
                        </div>

                        <div class="track-settings__spec__item">
                            <div class="track-settings__spec__item__text">
                                <img style="opacity: 60%;" src="/assets/icons/coverage.svg" alt="" class="track-settings__spec__item__icon">
                                <div class="track-settings__spec__item__label__wrapper">
                                    <label class="track-settings__spec__item__label" for="length">Покрытие трека</label>
                                </div>
                               
                            </div>

                            <div class="input-wrapper">
                                <app-standart-input-select [selectedItem]="coverageSelectedItem" (onChange)="setCoverage($event)" selectedName="groupSelect" [items]="coverageItems" style="width: 6rem;" label=""></app-standart-input-select>
                                <app-info-popover style="position: absolute; right: 0;" text="Какое покрытие большую часть времени, летом, имеет трасса"></app-info-popover>
                            </div>
 
                        </div>

                        <div class="track-settings__spec__item">
                            <div class="track-settings__spec__item__text">
                                <img style="opacity: 60%;" src="/assets/icons/heigth.svg" alt="" class="track-settings__spec__item__icon">
                                <div class="track-settings__spec__item__label__wrapper">
                                    <label class="track-settings__spec__item__label" for="length">Перепад высот</label>
                                </div> 
                            </div>

                            <div class="input-wrapper">
                                <input formControlName="heightDifference" class="track-settings__spec__item__input" id="length" type="number">
                                <app-info-popover style="position: absolute; right: 0;" text="от самой низкой точки до самой высокой точке на трассе"></app-info-popover>
                            </div>
                        </div>

                        <div class="track-settings__spec__item">
                            <div class="track-settings__spec__item__text">
                                <img style="opacity: 60%;" src="/assets/icons/left-arr.svg" alt="" class="track-settings__spec__item__icon">
                                <div class="track-settings__spec__item__label__wrapper">
                                    <label class="track-settings__spec__item__label" for="length">Левых поворотов</label>
                                </div> 
                            </div>
                            
                            <div class="input-wrapper">
                                <input formControlName="leftTurns" class="track-settings__spec__item__input" id="length" type="number">
                            </div>
                        </div>

                        <div class="track-settings__spec__item">
                            <div class="track-settings__spec__item__text">
                                <img style="opacity: 60%;" src="/assets/icons/right-arr.svg" alt="" class="track-settings__spec__item__icon">
                                <div class="track-settings__spec__item__label__wrapper">
                                    <label class="track-settings__spec__item__label" for="length">Правых поворотов</label>
                                </div> 
                            </div>

                            <div class="input-wrapper">
                                <input formControlName="rightTurns" class="track-settings__spec__item__input" id="length" type="number">
                            </div>
                        </div>

                        <div class="track-settings__spec__item">
                            <div class="track-settings__spec__item__text">
                                <img style="opacity: 60%;" src="/assets/icons/elements-list.svg" alt="" class="track-settings__spec__item__icon">
                                <div class="track-settings__spec__item__label__wrapper">
                                    <label class="track-settings__spec__item__label" for="length">Количество элементов</label>
                                </div> 
                            </div>

                            <div class="input-wrapper">
                                <input formControlName="elementsCount" class="track-settings__spec__item__input" id="length" type="number">
                            </div>
                        </div>

                        <div class="track-settings__spec__item">
                            <div class="track-settings__spec__item__text">
                                <img style="opacity: 60%;" src="/assets/icons/speed.svg" alt="" class="track-settings__spec__item__icon">
                                <div class="track-settings__spec__item__label__wrapper">
                                    <label class="track-settings__spec__item__label" for="length">Длина самого скоростного участка</label>
                                </div> 
                            </div>

                            <div class="input-wrapper">
                                <input formControlName="highSpeedSection" class="track-settings__spec__item__input" id="length" type="number">
                            </div>
                        </div>

                    </form>
                  
                    <div class="payment-track">
                        <ion-checkbox  class="label" formControlName="apayment">Трек платный</ion-checkbox>
                        <ng-container *ngIf="createTrackForm.value.apayment">
                            <span class="apayment-text">Для того что бы подключить платные услуги к своему треку напишите нам на почту admin&#64;vokrug.city</span>
                            <div class="apayment-buttons">
                                    <app-standart-button (click)="penMail()" buttonText="Почта"></app-standart-button>
                            </div>
                        </ng-container>
                        
                    </div>

                    <div class="decription">
                        <app-standart-rich-input [control]="createTrackForm.get('desc')" label="Описание" placeholder="Введите описание вашего трека"></app-standart-rich-input>
                    </div>
                  
                    
                </form>

                <div class="contacts-form">
                    <app-standart-input label="Сайт" [control]="contactsForm.get('site')" placeholder="Введите ссылку на сайт вашего трека"></app-standart-input>
                    <div style="position: relative;">
                        <app-standart-input label="Видео трека" [control]="contactsForm.get('trackVideo')" placeholder="Введите ссылку на видео вашего трека"></app-standart-input> <app-info-popover style="position: absolute; right: 0.5rem; top: 1.6rem;" text="Видео с экшн камеры быстрого гонщика"></app-info-popover>
                    </div>
                    <app-standart-input label="ВК" [control]="contactsForm.get('vk')" placeholder="Введите ссылку на группу вашего трека"></app-standart-input>
                    <app-standart-input label="Telegram" [control]="contactsForm.get('tg')" placeholder="Введите ссылку на канал вашего трека"></app-standart-input>
                    <app-standart-input label="WhatsApp" [control]="contactsForm.get('whatsApp')" placeholder="Введите ссылку на группу вашего трека"></app-standart-input>
                    <app-standart-input label="Телефон" [control]="contactsForm.get('phone')" placeholder="Введите номер телефона"></app-standart-input>
                </div>

            </app-step-container-item>
        </app-step-container>

        <div class="navigate-buttons-container">
            <app-standart-button [disabled]="stepInvalidate()"  *ngIf="stepCurrency !== maxStepsCount" (click)="stepNext()" buttonText="Далее" theme="standart"></app-standart-button>
            <app-standart-button [disabled]="stepInvalidate()"   *ngIf="stepCurrency === maxStepsCount" (click)="submitForm()" buttonText="Создать и открыть" theme="standart"></app-standart-button>
            <div>
              <app-standart-button (click)="cancelCreate()"  buttonText="Отмена" theme="light"></app-standart-button>
            </div>
        </div>
    </main>
</ion-content>