<ion-content>
  <app-header *ngIf="this.event" >
    <div class="event-date">
      {{ event.date_start | date: 'dd.MM.YYYY ' : 'UTC' }}
    </div> 
  </app-header>
  <main >
  @if (this.event) {
      <div class="slider-container">
        <app-show-slider standartImagesPath='assets/images/moto-background.png' [files]="event.images" (click)="openImagesModalFunction()"></app-show-slider>
        <div class="slider-container__header">
         
          <!-- <app-back-button ></app-back-button> -->
        </div> 
       
      </div>

      
    <div class="main-container-parent">

      <app-images-modal  *ngIf="event.images && event.images.length " [openModal]="statusImagesModal" (closeModalEmit)="closeImagesModal()" [imagesPathArray]="event.images"></app-images-modal>

      <div class="main-container">
        <div class="event-name">{{event.name}}</div>
        <div class="event-location-name">
          <div class="event-location-name__text">{{event.location?.name}}</div>
        </div>
        <div [innerHTML]="clearDescription()" *ngIf="event.desc" class="event-description">{{event.desc}}</div>

        <div *ngIf="event.grades && event.grades.length" class="groups">
          <span class="groups-header">Классы соревнования:</span>
          <div class="group-item" *ngFor="let group of event.grades">
            <div class="group-item__name">{{group.name}}</div>
          </div>
        </div>
        
        <div *ngIf="event.position_file || event.results_file" class="event-documents">
           <span *ngIf="event.results_file" [routerLink]="['/view-document', event.results_file | checkImgUrl]" class="event-documents__text">Регламент <img class="event-documents__icon" src="/assets/icons/documents.svg" alt=""></span>
           <span *ngIf="event.position_file" [routerLink]="['/view-document', event.position_file | checkImgUrl]" class="event-documents__text">Положение <img class="event-documents__icon" src="/assets/icons/documents.svg" alt=""></span>
        </div>

        

        <div class="event-track">
          <!-- <div class="event-track__title">Где проходит</div> -->
          <app-track-section [hidhtStatus]="true" (click)="redirectInRace()" [track]="event.track"></app-track-section>
        </div>
        

        <div class="list-users-container">
          @if (usersPreviewConfig.usersCount) {
            <div class="user-modal-header">
              Участники гонки
              {{usersInRace.length}}
            </div>
          <app-users-preview [groups]="event.grades"  [fullValueUsers]="usersPreviewConfig.usersCount" [users]="usersInRace" [moreCount]="usersPreviewConfig.usersCount" [openUsersModal]="openUserModalValue" (closeModalEmit)="closeStateUsersModal()" (openModalEmit)="openStateUsersModal()"></app-users-preview>
        }
        </div>

      </div>
      
      <div *ngIf="!checkRecordEnd() && this.event.status && this.event.status.id !== 2" class="footer">
          @if (!this.event.appointments_exists ) {
            <app-standart-button (click)="openApplicationForm()" buttonText="Заявиться" theme="big"></app-standart-button>
          }
          @else {
            <app-standart-button [disabled]="true"  buttonText="Заявка отправлена"></app-standart-button>
          }

          @if(checkUserRoleService.userHaveRole(confirmUsersRolesInGroupAplication)){
            <app-standart-button (click)="redirectTrenerInEditAplication()" buttonText="Заявится группой" theme="big"></app-standart-button>
          }
         
        </div>
      </div>
       
    }
  </main>

</ion-content>

@if (this.event) {
<ion-modal [isOpen]="applicationFormValueState" (didDismiss)="closeApplicationForm()">
  <ng-template>
    <ion-content >
      <app-header (customBackClick)="closeApplicationForm()" [customBack]="true" headerTitle="Отправить заявку"></app-header>
      <div class="main-container--with-header application-main">
        <div class="race-name">{{event.name}}</div>
        <div class="race-date-start">{{event.date_start |date}}</div>
        <form class="personal-form">
          <app-standart-input [control]="personalUserForm.get('surname')" placeholder="Введите фамилию" [errorMessage]="formErrors.surname.errorMessage" [invalid]="formErrors.surname.errorMessage.length !== 0" label="Фамилия*"></app-standart-input>
          <app-standart-input [control]="personalUserForm.get('name')" [errorMessage]="formErrors.name.errorMessage" [invalid]="formErrors.name.errorMessage.length !== 0" placeholder="Введите имя" label="Имя*"></app-standart-input>
          <app-standart-input [errorMessage]="formErrors.patronymic.errorMessage" [invalid]="formErrors.patronymic.errorMessage.length !== 0" [control]="personalUserForm.get('patronymic')" placeholder="Введите отчество" label="Отчество*"></app-standart-input>
          <app-standart-input [errorMessage]="formErrors.dateOfBirth.errorMessage" [invalid]="formErrors.dateOfBirth.errorMessage.length !== 0" [control]="personalUserForm.get('dateOfBirth')" placeholder="Выберите дату" label="Дата рождения*" type="date"></app-standart-input>
          <app-standart-input [errorMessage]="formErrors.region.errorMessage" [invalid]="formErrors.region.errorMessage.length !== 0" (click)="openRegionModal()" [readonly]="true" label="Область/край*" [control]="personalUserForm.get('region')" placeholder="Выберите область вашу область"></app-standart-input>     
          <app-standart-input [errorMessage]="formErrors.city.errorMessage" [invalid]="formErrors.city.errorMessage.length !== 0" [control]="personalUserForm.get('city')" [errorMessage]="formErrors.city.errorMessage" [invalid]="formErrors.city.errorMessage.length !== 0" placeholder="Введите город" label="Город*"></app-standart-input>     
          <ion-modal class="region-modal" (didDismiss)="closeRegionModal()"  [isOpen]="regionModalState">
            <ng-template>
              <ion-content>
                <div class="region-modal-container">
                  <app-standart-input-search label="Область/край*" [searchCurrentItems]="searchRegionItems" [searchItems]="searchRegionItems" (changeSearchValue)="setRegion($event)"></app-standart-input-search>
                </div>
              </ion-content>
            </ng-template>  
          </ion-modal>        
          
          <app-standart-input [errorMessage]="formErrors.numberAndSeria.errorMessage" [invalid]="formErrors.numberAndSeria.errorMessage.length !== 0" [control]="personalUserForm.get('numberAndSeria')" placeholder="Серия, номер" label="Паспорт/Свидетельство о рождении*"></app-standart-input>

          <div class="start-number-container">
            <app-standart-input [errorMessage]="formErrors.inn.errorMessage" [invalid]="formErrors.inn.errorMessage.length !== 0" [control]="personalUserForm.get('inn')" placeholder="ИНН" label="ИНН*"></app-standart-input>
            <app-standart-input [errorMessage]="formErrors.snils.errorMessage" [invalid]="formErrors.snils.errorMessage.length !== 0" [control]="personalUserForm.get('snils')" placeholder="СНИЛС" label="СНИЛС*"></app-standart-input>
          </div>
          <app-standart-input [errorMessage]="formErrors.phoneNumber.errorMessage" [invalid]="formErrors.phoneNumber.errorMessage.length !== 0" [control]="personalUserForm.get('phoneNumber')" placeholder="Номер телефона" label="Телефон*"></app-standart-input>
          <div class="start-number-container">
            <app-standart-input [errorMessage]="formErrors.startNumber.errorMessage" [invalid]="formErrors.startNumber.errorMessage.length !== 0" [control]="personalUserForm.get('startNumber')" [maxLength]="3" type="number" [invalid]="formErrors.startNumber.errorMessage.length !== 0" [errorMessage]="formErrors.startNumber.errorMessage" placeholder="Стартовый номер" label="Стартовый номер*"></app-standart-input>
          </div>
          <app-standart-input-select [errorMessage]="formErrors.group.errorMessage" [invalid]="formErrors.group.errorMessage.length !== 0"  selectedName="groupSelect" [items]="groupItems" (onChange)="setGroup($event)" [selectedItem]="{name:personalUserForm.value.group, value:personalUserForm.value.group}" label="Класс, группа*"></app-standart-input-select>
          <app-standart-input-select [errorMessage]="formErrors.rank.errorMessage" [invalid]="formErrors.rank.errorMessage.length !== 0" selectedName="rankSelect" [items]="sportRankItems" (onChange)="setRank($event)" [selectedItem]="{name:personalUserForm.value.rank, value:personalUserForm.value.rank}" label="Спортивное звание, разряд*"></app-standart-input-select>
          <app-standart-input [control]="personalUserForm.get('rankNumber')" placeholder="№ удостоверения (МСМК, МС, КМС)" label="№ удостоверения"></app-standart-input>
          <app-standart-input [errorMessage]="formErrors.community.errorMessage" [invalid]="formErrors.community.errorMessage.length !== 0" (click)="openComandSelectModalStateValue()" [readonly]="true" [control]="personalUserForm.get('community')" placeholder="Команда" label="Название команды*"></app-standart-input>
          <app-standart-input [control]="personalUserForm.get('coach')" placeholder="Тренер" label="ФИО тренера"></app-standart-input>
          <app-standart-input-select [errorMessage]="formErrors.motoStamp.errorMessage" [invalid]="formErrors.motoStamp.errorMessage.length !== 0" selectedName="motoStampSelect" [items]="motoStampItems" (onChange)="setMotoStamp($event)" [selectedItem]="{name:personalUserForm.value.motoStamp, value:personalUserForm.value.motoStamp}" label="Марка мотоцикла*"></app-standart-input-select>
          <app-standart-input-select [errorMessage]="formErrors.engine.errorMessage" [invalid]="formErrors.engine.errorMessage.length !== 0" selectedName="engineSelect" [items]="engineItems" (onChange)="setEngine($event)" [selectedItem]="{name:personalUserForm.value.engine, value:personalUserForm.value.engine}" label="Тип двигателя*"></app-standart-input-select>
          <app-standart-rich-input [inputStatus]="true" [control]="personalUserForm.get('comment')" label="Комментарий" placeholder="Оставьте комментарий"></app-standart-rich-input>
        </form>
        
        <div class="documents">
            <div class="document-header">Лицензия</div>
            <div class="licenses document-container">
              <app-standart-input [control]="licensesForm.get('number')" placeholder="Лицензия МФР" label="Лицензия МФР (тип, №)*"></app-standart-input>
              <span class="scan-header">Скан или фотография Лицензии</span>
              <app-file-input (click)="!licensesFile ? licensesFileInput.click(): showToastInfoFileUpload()" [fileName]="licensesFile.name"></app-file-input>
              <input (change)="setLicensesFile($event)" #licensesFileInput style="display: none;"  type="file">
            </div>

            <div class="document-header">Страховой полис</div>
            <div class="polis document-container">
              <app-standart-input [errorMessage]="documentsError.polisNumber.errorMessage" [invalid]="documentsError.polisNumber.errorMessage.length !== 0"  [control]="polisForm.get('number')" placeholder="Серия, номер" label="Серия и номер*"></app-standart-input>
              <app-standart-input [errorMessage]="documentsError.issuedWhom.errorMessage" [invalid]="documentsError.issuedWhom.errorMessage.length !== 0" [control]="polisForm.get('issuedWhom')" placeholder="Кем выдан" label="Кем выдан*"></app-standart-input>
              <app-standart-input [errorMessage]="documentsError.itWorksDate.errorMessage" [invalid]="documentsError.itWorksDate.errorMessage.length !== 0" [control]="polisForm.get('itWorksDate')" placeholder="Срок действия" type="date" label="Срок действия*"></app-standart-input>
              <span class="scan-header">Скан или фотография Полиса</span>
              <app-file-input [fileName]="polisFile.name" (click)="!polisFile ? polisFileInput.click(): showToastInfoFileUpload()"></app-file-input>
              <input (change)="setPolisFile($event)" #polisFileInput style="display: none;"  type="file">
            </div>

            <div class="document-header">Нотариальное согласие родителей</div>
            <div class="polis document-container">
              <span class="scan-header">Скан или фотография Нотариального согласия</span>
              <app-file-input [fileName]="notariusFile.name" (click)="!notariusFile ? notariusFileInput.click(): showToastInfoFileUpload()"></app-file-input>
              <input (change)="setNotariusFile($event)" #notariusFileInput style="display: none;"  type="file">
            </div>

        </div>
      </div>
      <div class="footer">
        <app-standart-button theme="big" (click)="toggleAplicationInRace()" buttonText="Заявиться"></app-standart-button>
      </div>
    </ion-content>
  </ng-template>
  </ion-modal>

<app-confirm-modal text="Ваши данные были изменены, сохранить их?" [openModal]="changePersonalDateModalValue" (confirm)="saveNewPersonal()" (cancel)="closePersonalNewModal()" ></app-confirm-modal>
<!-- <app-select-comands (openComandSelectModal)="openComandSelectModalStateValue()" (closeComandSelectModal)="closeComandSelectModalStateValue()" [comandSelectModalStateValue]="comandSelectModalStateValue" (selectComand)="setComand($event)"  [commands]="allComands"></app-select-comands> -->

<app-select-comands 
(createNewComand)="createNewComand($event)" 
(openComandSelectModal)="openComandSelectModalStateValue()" 
(closeComandSelectModal)="closeComandSelectModalStateValue()" 
[comandSelectModalStateValue]="comandSelectModalStateValue" 
(selectComand)="setComand($event)"  
[selectedRegion]="selectRegionInCommandModal"
(setSelectedRegion)="selectRegionInCommandModalFunction($event)"
[commands]="allComands"
[regions]="searchRegionItems"
(clearFilterRegion)="clearRegionInComandFilter()"
></app-select-comands>}