
.slider-container__header{
    position: absolute;
    top: var(--standart-padding);
    padding-left: var(--standart-padding);
    padding-right: var(--standart-padding);
    z-index: 100;
}

.event-name{
    font-size: 1.5rem;
    font-family: var(--font-bold);
}

.event-location-name__text{
    padding-top: var(--litle-padding);
    font-size: 1rem;
    font-family: var(--font-bold);
    color: var(--gray);
    line-height: 1.5;
}

.button-commission{
    
    
    padding: 0rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    app-icon-button{
        
        width: 600px;
    }
}

.event-track__title{
    padding-top: var(--standart-padding);
    padding-bottom: var(--standart-padding);
    text-align: start;
    font-family: var(--font-bold);
    font-size: 20px;
    color: #1c2226;
}
.scan-header{
    margin-top: 0.5rem;
    font-family: var(--font-regular);
    font-size: var(--font-regular-size);
}
// .footer{
//     padding: var(--standart-padding);
//     position: fixed;
//     bottom: 0;
//     display: flex;
//     gap: 1rem;
//     flex-direction: column;
//     background-color: var(--page-background);
//     width: 100%;
//     z-index: 100;
    
// }
.footer-page{
 

    

    .footer{
        padding: var(--standart-padding);
        position: fixed;
        bottom: 0;
        right: 0;
        display: flex;
        
        gap: 1rem;
        flex-direction: column;
        background-color:var(--page-background);
        width: 100%;
        z-index: 100;

        .dark-gray-button{
            display: flex;
            justify-content: center;
            width: 100%;
            app-icon-button{
                width: 100%;
                max-width: 600px;
            }
        }

        .red-button{
            display: flex;
            justify-content: center;
            width: 100%;
            app-icon-button{
                width: 100%;
                max-width: 600px;
            }
        }
    } 
   
}

// .footer-group{
//     padding: var(--standart-padding);
//     position: fixed;
//     bottom: 2rem;
//     display: flex;
//     gap: 1rem;
//     flex-direction: column;
//     background-color: var(--page-background);
//     width: 100%;
//     z-index: 100;
    
// }

.event-track{
    padding-top: var(--little-padding);
}
.header-buttons__grid{
    padding-top: 20px;
    display: flex;
    img{
        filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(312deg) brightness(109%) contrast(101%);
    }
}
.header-button{
    padding: 8px 10px;
    align-items: center;
    display: flex;
    gap: 6px;
    cursor: pointer;
    justify-content: center;
    transition: 0.3s all;
    background:#ffffff26 ;
    font-family: var(--font-regular);
    color: var(--white-color);
    &:active{
        transition: 0.3s all;
        background:#ffffff6e ;
    }
}
.event-track__name{
    color: var(--white-color);
    display: flex;
    gap: 1rem;
    font-family: var(--font-regular);
    align-items: center;
    cursor: pointer;
}
.event-grades{
    padding-top: var(--little-padding);
}
.event-grade{
    font-family: var(--font-regular);
    color: var(--white-color);
}
.personal-form{
    padding-top: var(--standart-padding);
    display: flex;
    flex-direction: column;
    gap: var(--standart-padding);
}
.personal-form{
    padding-top: var(--standart-padding);
    display: flex;
    flex-direction: column;
    gap: var(--standart-padding);
}
.start-number-container{
    display: flex;
    gap: 10px;
}
.event-documents{
    background: #c4d5f275;
    margin-bottom: var(--standart-padding);
    margin-top: var(--standart-padding);
    justify-content: space-between;
    flex-direction: column;
    display: inline-flex;
    font-family: var(--font-light);
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: var(--little-padding);
    padding-bottom: var(--little-padding);
    padding-left: 1rem;
    padding-right: 1rem;

}
.event{

    padding-bottom: 8rem;
   
}
.event-documents-grid__item{
    margin-top: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 8px;
    gap:8px;
    background-color:#464646;
    color: var(--white-color);
    font-family: var(--font-regular);

    img{
        filter: brightness(0) saturate(100%) invert(99%) sepia(6%) saturate(564%) hue-rotate(224deg) brightness(117%) contrast(100%);
    }
}
.users-title{
    padding-top: var(--standart-padding);
}
.height-header{
    flex-grow: 1;
    transition: 0.3s;
    background-position: center;
    padding-bottom: 2rem;
}
.not-found-users{
    color:#929292;
    font-family: var(--font-regular);
    font-size: 24px;
    text-align: center;
    margin-top: 40px;
}
.group-grid{
    padding-top: var(--standart-padding);
    display: flex;
    flex-direction: column;
    gap:20px;
}
.users-grid{
    padding-top: var(--little-padding);
}
.event-images-grid{
    margin-left: -1rem;
    padding-left: var(--little-padding);
    overflow-y: auto;
    gap: -0.5rem;
    margin-right: -1rem;
    padding-top: var(--little-padding);
    display: flex;
    .event-images-grid__item{
        margin-right: -0.5rem;
        min-width: 200px;
        clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
        height: 122px;
        object-fit: cover;
    }
}

.event-desc{
    font-family: var(--font-regular);
}
.event-information{
    padding-top: var(--standart-padding);
    display: flex;
    flex-direction: column;
    gap:var(--standart-padding);
}
.event-information-title{
    display: flex;
    align-items: center;
    gap: 8px;
    img{
       width: 24px; 
    }
    font-family: var(--font-bold);
    font-size: 18px;
}
.users-grid{
    display: flex;
    flex-direction: column;
    gap: var(--standart-padding);
}
.grades-filter-grid{
    padding-top: var(--little-padding);
    display: flex;
    overflow-y: auto;
    padding-left: var(--little-padding);
    gap: var(--little-padding);
    overflow-x: auto;
    app-icon-button{
        flex: 0 0 auto;
    }
}

.region-modal{
    ion-content{
     --background: rgb(255, 255, 255);
    }
    --max-height:50%;
    --width:90%;
    --border-radius: 12px;
    --overflow-y: hidden;
}

.event-header__background{
   height: 100%;
   left: 0;
   right: 0;
   top: 0;
   object-fit: cover;
   width: 100%;
}
.header-content__wrapper{
    z-index: 100;

}
.header-block{
    max-width: 1240px;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: flex;
    transition: 0.3s all;
    justify-content: space-between;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0px 0px 100px 100px;
}
.bottom{
    z-index: 100;
    padding-top: 100px;
}
.event-header__background__dark{
    position: absolute;
    left: 0;
    height: 100%;
    right: 0;
    z-index: 1;
    top: 0;
    object-fit: cover;
    border-radius: 0px 0px 20px 20px;
    width: 100%;
    background: linear-gradient(360deg, rgb(0 0 0 / 88%) 8%, rgb(0 0 0 / 39%) 60%, rgb(0 0 0 / 76%) 82%);
}

.event-header__content{
    margin: auto;
    position: relative;
    background-size: cover;
    border-radius: 0px 0px 20px 20px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: 0;
    right: 0;
    padding: 1rem;
    top: 0;
    .event-header__content__top{
        width: 100%;
        display: flex;
        img{
            height: 20px;
            cursor: pointer;
            filter: brightness(0) saturate(100%) invert(99%) sepia(1%) saturate(7497%) hue-rotate(212deg) brightness(131%) contrast(100%);
        }
        justify-content: space-between;
        color: var(--white-color);
        span{
            color: var(--white-color);
            font-family: var(--font-bold);
        }
    }
    .event-header__content__bottom{
        width: 100%;
        display: flex;
        height: 100%;
        justify-content: space-between;
    }
}
.event-address{
    padding-top: var(--standart-padding);
    color: var(--white-color);
    font-family: var(--font-regular);
    font-style: italic;
}
.event-name{
    color: var(--white-color);
    margin: 0;
    padding-top: var(--standart-padding);
    font-size: 24px;
    font-family: var(--font-bold);
}

.error-message{
    color: #ff0000;
    display: flex;
    font-family: var(--font-regular);
    font-size: 12px;
    padding-top: 6px;
}
.groups-header{
    display: flex;
    padding-top: var(--little-padding);
    font-family: var(--font-bold);
}
.group-item{
    font-family: var(--font-regular);
    font-size: 0.85rem;
}
.region-modal-container{
    background: rgb(255, 255, 255);
    padding: var(--standart-padding);
}

.event-documents__icon{
    width: 1.25rem;

}
.event-documents__text{
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 5px;
}
.upload-result-modal{
    --min-width: 100%;
    --min-height: 100%;
}
.documents-grid__item{
    display: flex;
    flex-direction: column;
    padding: var(--standart-padding);
    width: 95vw;
    height: 100vh;
    position: relative;
    gap: var(--standart-padding);
}
.file__img{
  width: 100%;
  height: 100%;
}
.documents-grid{
    display: flex;
    padding-bottom: 10rem;
    flex-wrap: wrap;
    align-items: center;
    padding-top:4rem;
    width: 100%;
    justify-content: center;
    gap: 2rem;
}
.button-container--pdf{
    position: absolute;
    top: 2rem;
    display: flex;
    gap: var(--standart-padding);
    right: 2rem;
 
}

.race-name{
    font-size: var(--font-headers-size);
    font-family: var(--font-bold);
}
.documents{
    display: flex;
    flex-direction: column;
}
.document-name{
    font-size: 1rem;
    font-family: var(--font-bold);
}
.document-container{
    border: 1px solid rgba(76, 88, 97, 0.399);
    padding: var(--little-padding);
    margin-bottom: var(--little-padding);
    display: flex;
    
    gap: var(--little-padding);
    flex-direction: column;
}

.document-header{
    padding-top: 1rem;
    font-family: var(--font-bold);
    font-size: var(--font-regular-size);
    padding-bottom: var(--little-padding);
}

.header-bottom__title{
    color: var(--white-color);
    opacity: 0.6;
    font-size: 14px;
    font-family: var(--font-light);
}
.date-start{
    color: var(--white-color);
    font-family: var(--font-regular);
}
.date-time{
    color: var(--white-color);
    font-family: var(--font-regular);
}
.date-content{
    color: var(--white-color);
    font-family: var(--font-regular);
}
.event-date{
    display: flex;
    gap: 100px;
    .date-name{
     
    }
}

.list-users-container{
    padding-bottom: 10.5rem;
}

.user-modal-header{
    display: flex;
    width: 100%;
    gap: 1rem;
    font-family: var(--font-bold);
    color: var(--dark-grey-color);
}



.record-end{
    width: 100%;
    display: flex;
    align-items: start;
    padding-bottom: 4rem;
    gap: 5px;
    font-family: var(--font-bold);
    color: var(--dark-grey-color);
}


// @media (min-width: 900px){
//     .footer{
//         z-index: 100;
//         padding-left: 25%;
//         padding-right: 25%;
//         position: fixed;
//         bottom: 0;
//         // background-color: var(--page-background);
//         width: 100%;
//     }

//     .main-container-parent{
  
//         justify-content: center;
//         width: 100%;
//     }
//     .main-container{
       
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         width: 50%;
//     }
//     .slider-container{
//         max-width: 50%;
//         height: auto;
//         margin: auto;
         
//      }
    
// }
.event-id{
    display: flex;
    justify-content: end;
    padding-right: 1rem;
    opacity: 0.5;
    font-size: smaller;
}



.event-content{
    background: var(--white-color);
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 1rem;
    max-width: 1240px;
    width: 100%;
}

.event-content__tabs-grid{
    display: flex;
    gap: 2rem;
    justify-content: center;
    
}

.up-header{
    display: flex;
    position: relative;
    justify-content: start;
    align-items: center;
    height: 50px;
    width: 100%;
    max-width: 960px;
    margin:0rem 1rem;
    

    app-back-button{
        position: absolute;
    }
}

.application-main{
    margin-top: 1rem;
    padding-bottom: 1rem;
}

.header-text{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: var(--font-headers-size-little);
    font-family: var(--font-bold);
}
.footer-button{
    width: 100%;
    padding: 0rem 1rem;
    padding-bottom: 1rem ;
}