<ion-content>
  <main>
    @if (this.event) {
      <div class="slider-container">
        <app-show-slider [files]="event.images"></app-show-slider>
        <div class="slider-container__header">
          <app-back-button></app-back-button>
        </div>
      </div>
      <div class="main-container">
        <div class="event-name">{{event.name}}</div>
        @if (usersInRace.length) {
          <app-users-preview (userSelected)="openRacer($event)"  [fullValueUsers]="usersInRace.length" [users]="usersInRace" [moreCount]="usersInRace.length" [openUsersModal]="openUserModalValue" (closeModalEmit)="closeStateUsersModal()" (openModalEmit)="openStateUsersModal()"></app-users-preview>
        }
        <div [innerHTML]="clearDescription()" class="event-description">{{event.desc}}</div>
        <div class="event-track">
          <!-- <div class="event-track__title">Где проходит</div> -->
          <app-track-section (click)="redirectInRace()" [track]="event.track"></app-track-section>
        </div>
      </div>
      
      <div class="footer">
          @if (!this.event.appointments_exists) {
            <app-standart-button (click)="openApplicationForm()" buttonText="Заявиться" theme="big"></app-standart-button>
          }
          @else {
            <app-standart-button [disabled]="true" (click)="cancelApplicationForm()" buttonText="Отменить заявку"></app-standart-button>
          }
    
        </div>
    }
  </main>

</ion-content>

@if (this.event) {
<ion-modal [isOpen]="applicationFormValueState">
  <ng-template>
    <ion-content >
      <app-header (customBackClick)="closeApplicationForm()" [customBack]="true" headerTitle="Отправить заявку"></app-header>
      <div class="main-container--with-header application-main">
        <div class="race-name">{{event.name}}</div>
        <div class="race-date-start">{{event.date_start |date}}</div>
        <form class="personal-form">
          <app-standart-input [control]="personalUserForm.get('surname')" placeholder="Введите фмилию" [errorMessage]="formErrors.surname.errorMessage" [invalid]="formErrors.surname.errorMessage.length !== 0" label="Фамилия"></app-standart-input>
          <app-standart-input [control]="personalUserForm.get('name')" [errorMessage]="formErrors.name.errorMessage" [invalid]="formErrors.name.errorMessage.length !== 0" placeholder="Введите имя" label="Имя"></app-standart-input>
          <app-standart-input [control]="personalUserForm.get('patronymic')" placeholder="Введите отчество" label="Отчество"></app-standart-input>
          <app-standart-input [control]="personalUserForm.get('dateOfBirth')" placeholder="Выберите дату" label="Дата рождения" type="date"></app-standart-input>
          <app-standart-input [control]="personalUserForm.get('city')" placeholder="Город (край, область, регион)" label="Город" [invalid]="formErrors.city.errorMessage.length !== 0" [errorMessage]="formErrors.city.errorMessage"></app-standart-input>
          <div class="start-number-container">
            <app-standart-input [control]="personalUserForm.get('inn')" placeholder="ИНН" label="ИНН"></app-standart-input>
            <app-standart-input [control]="personalUserForm.get('snils')" placeholder="СНИЛС" label="СНИЛС"></app-standart-input>
          </div>
          <app-standart-input [control]="personalUserForm.get('phoneNumber')" placeholder="Номер телефона" label="Телефон"></app-standart-input>
          <div class="start-number-container">
            <app-standart-input [control]="personalUserForm.get('startNumber')" [invalid]="formErrors.startNumber.errorMessage.length !== 0" [errorMessage]="formErrors.startNumber.errorMessage" placeholder="Стартовый номер" label="Стартовый номер"></app-standart-input>
            <app-standart-input [control]="personalUserForm.get('group')" placeholder="Класс (группа)" label="Класс"></app-standart-input>
          </div>
          <app-standart-input [control]="personalUserForm.get('rank')" [invalid]="formErrors.rank.errorMessage.length !== 0" [errorMessage]="formErrors.rank.errorMessage" placeholder="Спортивное звание, разряд" label="Спортивное звание"></app-standart-input>
          <app-standart-input [control]="personalUserForm.get('rankNumber')" placeholder="№ удостоверения (МСМК, МС, КМС)" label="№ удостоверения"></app-standart-input>
          <app-standart-input [control]="personalUserForm.get('community')" placeholder="Команда" label="Навзание команды"></app-standart-input>
          <app-standart-input [control]="personalUserForm.get('coach')" placeholder="Тренер" label="ФИО тренера"></app-standart-input>
          <app-standart-input [control]="personalUserForm.get('motoStamp')" placeholder="Марка мотоцикла" label="Мотоцикл"></app-standart-input>
          <app-standart-input [control]="personalUserForm.get('engine')" placeholder="Двигатель мотоцикла" label="Двигатель"></app-standart-input>
        </form>
        
        <div class="documents">
            <div class="document-header">Лицензия</div>
            <div class="licenses document-container">
              <app-standart-input [control]="licensesForm.get('licensesNumber')" placeholder="Лицензия МФР" label="Лицензия МФР (тип, №):"></app-standart-input>
              <app-standart-input [control]="licensesForm.get('licensesFileLink')" placeholder="Введите ссылку на файл документа" label="Введите ссылку на файл"></app-standart-input>
            </div>

            <div class="document-header">Страховой полис</div>
            <div class="polis document-container">
              <app-standart-input [control]="polisForm.get('polisNumber')" placeholder="Серия, номер" label="Серия и номер"></app-standart-input>
              <app-standart-input [control]="polisForm.get('issuedWhom')" placeholder="Кем выдан" label="Кем выдан"></app-standart-input>
              <app-standart-input [control]="polisForm.get('itWorksDate')" placeholder="Срок действия" type="date" label="Срок действия"></app-standart-input>
              <app-standart-input [control]="polisForm.get('polisFileLink')" placeholder="Введите ссылку на скан документа" label="Введите ссылку на файл документа"></app-standart-input>
            </div>

            <div class="document-header">Паспорт / Свидетельство о рождении</div>
            <div class="pasportForm document-container">
              <app-standart-input [control]="pasportForm.get('numberAndSeria')" placeholder="Серия, номер" label="Серия, номер"></app-standart-input>
            </div>
            
        </div>
      </div>
      <div class="footer">
        <app-standart-button (click)="toggleAplicationInRace()" buttonText="Заявиться"></app-standart-button>
      </div>
    </ion-content>
  </ng-template>
  
  
</ion-modal>

<app-confirm-modal text="Ваши данные были изменены, сохранить их?" [openModal]="changePersonalDateModalValue" (confirm)="saveNewPersonal()" (cancel)="closePersonalNewModal()" ></app-confirm-modal>
}