
.slider-container__header{
    position: absolute;
    top: var(--standart-padding);
    padding-left: var(--standart-padding);
    padding-right: var(--standart-padding);
    z-index: 100;
}

.event-name{
    font-size: 1.5rem;
    font-family: var(--font-bold);
}
.event-description{
    padding-top: var(--standart-padding);
    font-size: 1rem;
    font-family: var(--font-light);
    color: var(--gray);
    line-height: 1.5;
}
.event-location-name__text{
    padding-top: var(--litle-padding);
    font-size: 1rem;
    font-family: var(--font-bold);
    color: var(--gray);
    line-height: 1.5;
}
.event-track__title{
    padding-top: var(--standart-padding);
    padding-bottom: var(--standart-padding);
    text-align: start;
    font-family: var(--font-bold);
    font-size: 20px;
    color: #1c2226;
}
.scan-header{
    margin-top: 0.5rem;
    font-family: var(--font-regular);
    font-size: var(--font-regular-size);
}
.footer{
    padding: var(--standart-padding);
    position: fixed;
    bottom: 0;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    background-color: var(--page-background);
    width: 100%;
    z-index: 100;
    
}
.footer-page{

    margin-left: -1rem;

    .footer{
        padding: var(--standart-padding);
        position: fixed;
        bottom: 0;
        display: flex;
        gap: 1rem;
        flex-direction: column;
        background-color: var(--page-background);
        width: 100%;
        z-index: 100;
    } 
   
}

// .footer-group{
//     padding: var(--standart-padding);
//     position: fixed;
//     bottom: 2rem;
//     display: flex;
//     gap: 1rem;
//     flex-direction: column;
//     background-color: var(--page-background);
//     width: 100%;
//     z-index: 100;
    
// }

.event-track{
    padding-top: var(--standart-padding);
    padding-bottom: 1rem;
}
.personal-form{
    padding-top: var(--standart-padding);
    display: flex;
    flex-direction: column;
    gap: var(--standart-padding);
}
.personal-form{
    padding-top: var(--standart-padding);
    display: flex;
    flex-direction: column;
    gap: var(--standart-padding);
}
.start-number-container{
    display: flex;
    gap: 10px;
}
.event-documents{
    background: #c4d5f275;
    margin-bottom: var(--standart-padding);
    margin-top: var(--standart-padding);
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-light);
    display: flex;
    gap: 1rem;
    padding-top: var(--little-padding);
    padding-bottom: var(--little-padding);
    padding-left: 2rem;
    padding-right: 2rem;

}

.region-modal{
    ion-content{
     --background: rgb(255, 255, 255);
    }
    --max-height:50%;
    --width:90%;
    --border-radius: 12px;
    --overflow-y: hidden;
}
.error-message{
    color: #ff0000;
    display: flex;
    font-family: var(--font-regular);
    font-size: 12px;
    padding-top: 6px;
}
.groups-header{
    display: flex;
    padding-top: var(--little-padding);
    font-family: var(--font-bold);
}
.group-item{
    font-family: var(--font-regular);
    font-size: 0.85rem;
}
.region-modal-container{
    background: rgb(255, 255, 255);
    padding: var(--standart-padding);
}

.event-documents__icon{
    width: 1.25rem;

}
.event-documents__text{
    display: flex;
    align-items: center;
    gap: 5px;
}
.application-main{
    padding-bottom: 4rem;
}
.race-name{
    padding-top: var(--standart-padding);
    font-size: var(--font-headers-size);
    font-family: var(--font-bold);
}
.documents{
    display: flex;
    flex-direction: column;
}
.document-name{
    font-size: 1rem;
    font-family: var(--font-bold);
}
.document-container{
    border: 1px solid rgba(76, 88, 97, 0.2549019608);
    padding: var(--little-padding);
    margin-bottom: var(--little-padding);
    display: flex;
    border-radius: 5px;
    gap: var(--little-padding);
    flex-direction: column;
}

.document-header{
    padding-top: 1rem;
    font-family: var(--font-bold);
    font-size: var(--font-regular-size);
    padding-bottom: var(--little-padding);
}


.event-date{
    display: inline-flex;
    width: 100%;
    justify-content: center;
    margin: auto;
    margin-right: 2rem;
    color: var(--white-color);
    font-family: var(--font-bold);
    font-size: var(--font-headers-size-little);
}

.list-users-container{
    padding-bottom: 10.5rem;
}

.user-modal-header{
    display: flex;
    width: 100%;
    gap: 1rem;
    font-family: var(--font-bold);
    color: var(--dark-grey-color);
}



.record-end{
    width: 100%;
    display: flex;
    align-items: start;
    padding-bottom: 4rem;
    gap: 5px;
    font-family: var(--font-bold);
    color: var(--dark-grey-color);
}


@media (min-width: 900px){
    .footer{
        z-index: 100;
        padding-left: 25%;
        padding-right: 25%;
        position: fixed;
        bottom: 0;
        background-color: var(--page-background);
        width: 100%;
    }

    .main-container-parent{
  
        justify-content: center;
        width: 100%;
    }
    .main-container{
       
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
    }
    .slider-container{
        max-width: 50%;
        height: auto;
        margin: auto;
         
     }

    
    
}
.event-id{
    display: flex;
    justify-content: end;
    padding-right: 1rem;
    opacity: 0.5;
    font-size: smaller;
}



