.track-page-header{
    padding: var(--standart-padding);
}

.tracks-grid__item{
    display: inline-flex;
    align-items: center;
    max-width: 21.438rem;
    height: 11.25rem;
    position: relative;
    flex: 1 0;
    width: 100%;
    position: relative;
}

.tracks-grid{
    padding-top: var(--standart-padding);
    display: flex;
    max-width: 960px;
    width: 100%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    gap: 16px;
}
.edit-button-wrapper{
    position: absolute;
    top: 14px;
    right: 10px;
    z-index: 101;


}

.edit-button-container{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.my-events-header{
    max-width: 960px;
    width: 100%;
    align-items: center;
    color: #181818;
    margin: auto;
   
 
    .cabinet-header__back{
        background: none;
    }
    .cabinet-header__exite{
        background: none;
    }
    .cabinet-header__title{
        font-family: var(--font-regular);
        font-size: 16px;
    }
    .my-events-header__top{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    .header__filter-grid{
        padding-top: var(--standart-padding);
        display: flex;
        gap: 8px;
    }
}