<ion-content>
  <app-header [customContainer]="true" >
    <div class="my-events-header">
      <div class="my-events-header__top">
        <button (click)="back()" class="cabinet-header__back">
          <img src="/assets/icons/arrow.svg"  alt="Назад">
        </button>
        <span class="cabinet-header__title">Мои трассы</span>
        <app-icon-button  [buttonIconColor]="'red-icon'" [buttonBorderWidth]="'b1'" [buttonBorderColor]="'red-border'" (click)="redirectInCreate()" clippy="clippy-right" icon="assets/icons/plus.svg" height="standart-height" sizeIcon="little-size" theme="white"></app-icon-button>
      </div>
      
    </div>
    
  </app-header>
  <div class="main-container--with-header">
    <div class="tracks-grid">
      <div  *ngIf="!tracks || !tracks.length " class="not-found-users">Трасс пока что нет...</div>
        @for (track of tracks; track $index) {
          <div class="tracks-grid__item">
            <div class="edit-button-wrapper">
              <app-icon-button (click)="redirectInEditPage(track.id)" theme="red" clippy="clippy-right" height="little-height" icon="/assets/icons/pen.svg" buttonIconColor="white-icon" elementsPosition="row__reverse" sizeIcon="little-size" buttonText="Редактировать"></app-icon-button>
            </div>
            <div *ngIf="track.store" class="payment-button-wrapper">
                <app-icon-button (click)="redirectInPayment(track.id)" clippy="clippy-right" theme="green" height="little-height"  widht="w49" buttonText="Оплаты"></app-icon-button>
            </div>
            <app-track-section [routerLink]="['/track/', track.id]" routerLinkActive="router-link-active"  [track]="track"></app-track-section>
          </div>
        } 
      </div>
  
  </div>
</ion-content>