<ion-content>
  <app-header headerTitle="Восстановление пароля"></app-header>
    <div class="main-container--with-header">
      <div class="recovery-password">
        <app-standart-input  [label]="'Пароль'" [control] = "recoveryForm.get('password')" password="email" [invalid]="recoveryInvalid.password.status" [errorMessage]="recoveryInvalid.password.message" [openPassword]="true" type="password"></app-standart-input>
        <app-standart-input  [label]="'Повторите пароль'" [control] = "recoveryForm.get('password_confirmation')" password="email" [invalid]="recoveryInvalid.password_confirmation.status" [errorMessage]="recoveryInvalid.password_confirmation.message" [openPassword]="true" type="password"></app-standart-input>
      </div>
      <div class="confirmation_button">
        <app-standart-button [disabled]="recoveryForm.invalid" [buttonText]="'Подтвердить'" [theme]="'standart'" (click)= "recoveryPasswordMethod()" >
        </app-standart-button>
      </div>
      
  </div>
</ion-content>