<ion-content>
  <ng-container >
    <app-header [customContainer]="true" [hiddenBackButton]="true">
      <div class="cabinet-header">
        <button (click)="back()" class="cabinet-header__back">
          <img src="/assets/icons/arrow.svg"  alt="Назад">
        </button>
        <span class="cabinet-header__title">Просмотр пользователя</span>
        <button  class="cabinet-header__plug none">
         
        </button>
      </div>
  </app-header>
<main class="main-container--with-header">

      <div class="user-page">


        <div class="cabinet__user-section">
          <div class="user-images">
            <img class="user-avatar" [src]="user?.avatar | checkImgUrl" alt="">
          </div>
        
          <div class="cabinet__user-section__info">
            <div class="cabinet__user-section__info__name">
              <div class="info__name__item" *ngIf="user?.personal?.name && user?.personal?.surname" >{{user?.personal?.name}}</div>
              <div class="info__name__item" *ngIf="user?.personal?.name && user?.personal?.surname">{{user?.personal?.surname}}</div>
              <div class="info__name__item" *ngIf="user?.personal?.name && user?.personal?.patronymic">{{user?.personal?.patronymic}}</div>
  
              
              <div class="info__name__item" *ngIf="user?.name && !user?.personal" >{{user?.name}}</div>
              <div class="info__name__item" *ngIf="user?.surname && !user?.personal" >{{user?.surname}}</div>
              <div class="info__name__item" *ngIf="user?.patronymic && !user?.personal" >{{user?.patronymic}}</div>
            </div>
            <div class="city-rank">
              <div *ngIf="user?.personal?.city" class="email">{{user?.personal?.city}}</div>
              <div class="dash"></div>
              <div class="rank">{{user?.personal?.rank}}</div>
            </div>
            <div class="user-statuses-grid">
              <app-icon-button *ngIf="user?.personal?.start_number" font="font-bold" widht="w20" height="auto-height" clippy="clippy-right" buttonText="{{user?.personal?.start_number}}"></app-icon-button>
  
              <app-icon-button clippy="clippy-right" height="auto-height" theme="red" *ngFor="let status of userTranslitStatuses" [buttonText]="status"></app-icon-button>
            </div>
          </div>
  
  
          
        </div>
  
        <div class="event-information-title">
          <img src="/assets/icons/red-finished.svg" alt="">
          Команда
          <!-- <app-icon-button *ngIf="allUsers.length" font="font-bold" widht="w20" theme="red" clippy="clippy-right" height="auto-height" [buttonText]="allUsers.length"></app-icon-button> -->
        </div>
  
        <article class="commands-grid">
          <div *ngIf="!user?.personal?.command" class="not-found-users">Команды пока что нет...</div>
  
        <div class="commands-grid__item" >
          <ng-container *ngIf="user?.personal && user?.personal?.command" >
            <app-command-section [command]="user.personal!.command!"
            
          ></app-command-section>
          </ng-container>
          
        </div>
        </article>

        <div class="event-information-title">
            <img src="/assets/icons/red-finished.svg" alt="">
            Гонки в которых учавствовал
          <!-- <app-icon-button *ngIf="allUsers.length" font="font-bold" widht="w20" theme="red" clippy="clippy-right" height="auto-height" [buttonText]="allUsers.length"></app-icon-button> -->
        </div>
         <div class="events">
      <div  *ngIf="!formatedEvents || !formatedEvents.length" class="not-found-users">Гонок пока что нет...</div>
        <ng-container *ngIf="formatedEvents">
          <div *ngFor="let group of formatedEvents" class="events-grid">
            <div class="month-container">
              <span class="month">{{group.groupMonth}}</span>
              <div class="month-shape"></div>
            </div>
        
            <div  class="card-wrapper" *ngFor="let event of group.events; let i = index">
              <app-event-card [event]="event"></app-event-card>
            </div>
          </div>
        </ng-container>
    
       </div>

      </div>

      
    </main>
    
  </ng-container>
</ion-content>
