<ion-content [scrollEvents]="true">
  <app-header-strong image ="/assets/images/moto-background.png">
     <div class="track-page-header">
        <div class="track-page-header__top-content">
          <app-switcher></app-switcher>
        </div>
        <div class="track-page-header__bottom-content">
            <button class="map-button">На карте</button>
        </div>
     </div>
  </app-header-strong>
  <main class="main-container--with-header--strong">
    <div class="tracks">
      <div class="tracks-grid">
        @for (track of tracks; track $index) {
          <div class="tracks-grid__item">
            <app-track-section [track]="track"></app-track-section>
          </div>
        } 
      </div>
    </div>
  </main>
</ion-content>