<ion-content [scrollEvents]="true">
  <app-header  [customContainer]="true">
    <div class="header-container">
      <app-standart-input iconLeft="/assets/icons/search.svg" placeholder="Поиск трассы" style="width: 100%;" [control]="searchTapeTrackForm.get('searchInput')"></app-standart-input>
    </div>
 
  </app-header>
  <main class="main-container--with-header">
    <div class="tracks">
      <div class="tracks-grid">
        @for (track of  this.trackTapeService.tracks; track $index) {
          <div class="tracks-grid__item">
            <app-track-section [routerLink]="['/track/', track.id]" routerLinkActive="router-link-active" [hidhtStatus]="true"  [track]="track"></app-track-section>
          </div>
        } 
      </div>
    </div> 
  </main>
</ion-content>

<!-- <ion-modal class="region-modal" (didDismiss)="closeRegionModal()"  [isOpen]="regionModalState">
  <ng-template>
    <ion-content>
      <div class="region-modal-container">
        <app-standart-input-search 
        label="Область/край*" 
        [searchCurrentItems]="searchRegionItems" 
        [searchItems]="searchRegionItems" 
        (changeSearchValue)="filterEventsInLocation($event)">
      </app-standart-input-search>
      </div>
    </ion-content>
  </ng-template>  
</ion-modal>        -->