<ion-content [scrollEvents]="true">
  
  <app-header [hiddenBackButton]="true" (click)="openRegionModal()" [headerTitle]="regionFilterName" icon='/assets/icons/arrow-down.svg'></app-header>
  <main class="main-container--with-header">
    <div class="tracks">
      <div class="tracks-grid">
        @for (track of  this.trackTapeService.tracks; track $index) {
          <div class="tracks-grid__item">
            <app-track-section [routerLink]="['/track/', track.id]" routerLinkActive="router-link-active" [hidhtStatus]="true"  [track]="track"></app-track-section>
          </div>
        } 
      </div>
    </div>
    
  </main>
</ion-content>

<ion-modal class="region-modal" (didDismiss)="closeRegionModal()"  [isOpen]="regionModalState">
  <ng-template>
    <ion-content>
      <div class="region-modal-container">
        <app-standart-input-search 
        label="Область/край*" 
        [searchCurrentItems]="searchRegionItems" 
        [searchItems]="searchRegionItems" 
        (changeSearchValue)="filterEventsInLocation($event)">
      </app-standart-input-search>
      </div>
    </ion-content>
  </ng-template>  
</ion-modal>       