
//Стандартный контейнер с учётом обычного хедера
.main-container--with-header{
    padding-top:var(--standart-header-padding);
    padding-left:var(--standart-padding);
    padding-right:var(--standart-padding);
    width: 100%;
    // min-height: 60%;
}
.main-container--with-header--strong{
    padding-top: var(--strong-header-padding);
    padding-left:var(--standart-padding) ;
    padding-right: var(--standart-padding) ;
    width: 100%;
    height: 100%;
 
}
.main-container{
    padding:  var(--standart-padding) ;
    width: 100%;
}