.page {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: var(--container-width);
  padding: 0 10px;
}

.footer-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-icon {
  width: 55px;
}


.logo-text {
  margin: 0 0 0 10px;
  font-family: var(--font-regular);
  font-size: 40px;
  color: #ffffff;
}

.links {
  display: flex;
  gap: 0.5rem;
}

.app-buttons {
  display: flex;
  gap: 0.5rem;

  img {
    height: 40px;
  }
}

.footer-bottom {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 10px 0;
  border-top: 1px solid #6A6A6A;

  a {
    font-family: 'RobotoCondensed-Regular'; // Нужно переопределить переменные шрифтов и заменить в библиотеке
    font-size: 16px;                        // Не понял где задаются шрифты
    color: #6A6A6A;
  }

}

//@media (max-width: 1200px) {
//  .logo-text {
//    display: none;
//  }
//}


