<div class="page">
  <div class="container">
    <div class="footer-top">
<!--      <div class="top-row">-->
<!--        <div class="links">-->
<!--          @for (link of links; track $index) {-->
<!--            <div (click)="handleLinkClick(link)" class="bottom-nav__item">-->
<!--              <div class="button-container">-->
<!--                <app-icon-button-->
<!--                  elementsPosition="elements-position__row"-->
<!--                  widht="w20"-->
<!--                  fontSize="standart-font-size"-->
<!--                  buttonText={{link.name}}-->
<!--                  icon={{link.icon}}-->
<!--                  theme="transparent"-->
<!--                  iconMargin="icon-margin-none"-->
<!--                  [height]="this.header ? 'standart-height' : 'long-height'"-->
<!--                  buttonIconColor="white-icon">-->
<!--                </app-icon-button>-->
<!--              </div>-->

<!--            </div>-->
<!--          }-->
<!--        </div>-->
<!--      </div>-->
      <div class="bottom-row">
        <div class="logo">
          <img class="logo-icon" src="/assets/icons/red-finished.svg" alt="Логотип">
          <span class="logo-text">МотоКросс</span>
        </div>
        <div class="app-buttons">
          <a [href]="appStore" target="_blank">
            <img src="assets/icons/download-on-the-app-store.svg" alt="download-on-the-app-store" >
          </a>
          <a [href]="googleStore" target="_blank">
            <img src="assets/icons/get-it-on-google-play.svg" alt="download-on-the-app-store">
          </a>
          <a [href]="ruStore" target="_blank">
            <img src="assets/icons/available-in-rustore.svg" alt="available-in-rustore">
          </a>
        </div>
      </div>

    </div>
    <div class="footer-bottom">
      <a href="">Политика конфиденциальности</a>
      <a href="">Условия использования</a>
      <a href="">Оферта</a>
    </div>
  </div>
</div>
