.track{
    padding-top: var( --little-padding);
}
.track-header__avatar{
    display: flex;
    min-width: 20rem;
    min-height: 20rem;
    max-width: 95%;
    
    border:1px solid rgb(150, 54, 54);
    background-color: rgb(99, 99, 99);
    border-radius: 5%;
    justify-content: center;


    img{
        width: 100%;
        height: 100%;

    }
}


.track__header__params{
    display: flex;
    flex-direction: column  ;
    gap: 0.5rem;
    position: absolute;
    right: 1rem;
    top: 2rem;
}

.track__header{
    padding-top: var(--standart-padding);
    position: relative;
    display: flex;
    justify-content: center;
    gap: 10px;

}

.map__address{
    color:var(--white-color);
    padding: var(--standart-padding);
}
.track-gopro{
    display: flex;
    min-width: 20rem;
    
    max-width: 95%;
    
    border:1px solid rgb(150, 54, 54);
    background-color: rgb(99, 99, 99);
    border-radius: 5px;
    justify-content: center;


    img{
        width: 100%;
        height: 100%;

    }
}



.track__status__circle{
    width: 20px;
    height: 20px;
    background-color:var(--green-color);
    border-radius: 50%;
}
.track__status{
    display: inline-flex;
    font-family: var(--font-regular);
    font-size: var(--font-regular-size);
    align-items: center;
    /* padding-bottom: var(--little-padding); */
    gap: 5px;
}
.track__params{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: var(--font-regular);
    font-size: var( --font-little-size);
    padding-top: var(--standart-padding);
}

.track__files{
    padding-top: var(--standart-padding);
    padding-left:var(--standart-padding);
}

.track__info{
    
}


.video{
    padding-top: var(--standart-padding);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: var(--standart-padding);
    height: 100%;
    width: 100%;
    
}



.specifications__item{
    padding-top: var(--little-padding);
    display: flex;
    align-items: center;
    gap: 5px;
    .specifications__item__title{
        font-family: var(--font-regular);
        font-size: var(--font-regular-size);
        color: var(--font-gray-color);
    }
    .specifications__item__value{
        font-family: var(--font-regular);
        font-size: var(--font-regular-size);
        color: var(--text-color);
    }

}
.additional-services{
    padding-top: 1rem;
    .additional-services__grid{
        display: flex;
        padding-top: var(--little-padding);
        flex-wrap: wrap;
        gap:1rem;
        .additional-services__item{
            .additiobal-services__item__ico{
                width: 12px;
            }
            .additional-services__item__value{
                font-family: var(--font-regular);
                font-size: var(--font-regular-size);
                color: var(--font-gray-color);
            }
            display: flex;
            align-items: center;
            gap: 6px;
        }
    }
}

.description{
    display: flex;
    flex-direction: column;

    font-family: var(--font-regular);
    font-size: var( --font-regular-size);
    color: var(--text-color);
    width: 100%;
    .description__text{
        padding: var(--standart-padding);
    }
} 
ya-map{
    // border-radius: 5px;
}
.map{

    .map__container{
       
        overflow: hidden; /* Обрезаем всё, что выходит за границы */
        height: 12rem;
        margin: var(--standart-padding);
        border-radius: 0.5rem;
       
    }
    .map__open-button{
       
    }

}

.map__address{
    font-family: var(--font-regular);
    font-size: var(--font-regular-size);
    padding-top: var(--standart-padding);
}


.parametr{
    display: flex;
    flex-direction: row;
    padding: var(--little-padding);
    justify-content: space-between;
    align-items: center;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.402);
    gap: 8px;
}

.result{
    margin-right: 2rem;
    
}

.name{
    margin-right: 0rem;
    font-size: 0.8rem;
}

.information{
    position: absolute;
    right: 0rem;
    width: 1.3rem;
    height: 1.3rem;
    img{
        min-width: 1rem;
        min-height: 1rem; 
    }
}

.icon-lenght{
    margin-right: 1.5rem;
    display: flex;
    justify-content: center;
    
    .arrow-icon{
        width: 1.5rem;
        height: 1.5rem; 
    }
    
}



.icon{
    
    margin-right: 1.5rem;
    display: flex;
    justify-content: center;
    img{
        min-width: 1.5rem;
        min-height: 1.5rem; 
    }
    
}

.arrow-icon{
    margin: auto;
    width: 1.5rem;
    height: 1.5rem;
}

.name-track-parametrs{
    font-size: 1.3rem;
    padding: var(--little-padding);
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.402);
    margin-top:1rem;
    width: 100%;
}

.tape-sponsors{
    display: flex ;
    justify-content: flex-start;
    align-items: center;
    
    font-size: 1.3rem;
    padding: var(--little-padding);
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.402);
    padding-top: var(--little-padding);
    padding-bottom: var(--little-padding);
    min-height: 5rem;
    width: 100%;
    margin-bottom: 1rem;

    overflow-x: auto; /* Добавляем горизонтальный скролл */
    white-space: nowrap; /* Запрещаем перенос элементов */
    scrollbar-width: thin; /* Для Firefox */
    scrollbar-color: darkgray lightgray; /* Цвета скроллбара */
}

.tape-sponsors__item{
    width: 4rem;
    height: 4rem;
    background-color: beige;
    margin-right:1rem;

    flex-shrink: 0; /* Запрещаем уменьшение элементов */
    min-width: 4rem; /* Фиксируем минимальную ширину */
    
}

.tape-gallery{
    display: flex ;
    justify-content: flex-start;
    align-items: center;
    
    font-size: 1.3rem;
    padding: var(--little-padding);
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.402);
    padding-top: var(--little-padding);
    padding-bottom: var(--little-padding);
    min-height: 5rem;
    width: 100%;
    margin-bottom: 1rem;

    overflow-x: auto; /* Добавляем горизонтальный скролл */
    white-space: nowrap; /* Запрещаем перенос элементов */
    scrollbar-width: thin; /* Для Firefox */
    scrollbar-color: darkgray lightgray; /* Цвета скроллбара */
}

.tape-gallery__item{
    width: 8rem;
    height: 6rem;
    background-color: rgb(169, 169, 163);
    margin-right:1rem;

    flex-shrink: 0; /* Запрещаем уменьшение элементов */
    min-width: 4rem; /* Фиксируем минимальную ширину */

    border-radius: 5px;
    
}

 .speed{
     opacity: 0.5;
     width: 2rem;
     height: 2rem;
     margin-right: 1.5rem;
 }

 
 .icon-lenght{
    opacity: 0.5;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1.5rem;
 }

 .left-flang{
    gap: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
 }
 .right-flang{
    width: 30%;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
 }

 footer{
    position: absolute;
    width: 100%;
    left: 0px;
    background-color: #4C5861;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
 }

 .requisites-and-link-container{
    display: flex;
    flex-direction: row;
    padding: var(--standart-padding);
    gap: 16px;

    .requisites{
        display: flex;
        flex-direction: column ;
        gap: 8px;
        width: 65%;
    .req-name{
        font-size: 16px;
        font-weight: bold;
        color: white;
    }
    .req-text{
        font-size: 12px;
        color: white;
        opacity: 0.4;
    }
    .req-button{
        
    }
}
}

 .links-list{
    width: 40%;
    .link-name{
        font-size: 14px;
        font-weight: bold;
        color: white;
    }
    .links{
        padding-top: var(--little-padding);
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 15px;

        .link{
            width: 2rem;
            height: 2rem;
            
            img{
                width: 100%;
                height: 100%;
            }
            
        }
    }
 }
