.track{
    padding-top: var( --little-padding);
}
.track-header__avatar{
    min-width: 3.75rem;
    min-height: 3.75rem;
    max-width: 3.75rem;
    border:1px solid rgb(182, 182, 182);
    max-height: 3.75rem;
    object-fit: cover;
    overflow: hidden;
    background-color: rgb(99, 99, 99);
    border-radius: 50%;
}

.track__header{
    display: flex;
    gap: 10px;
}

.track__status__circle{
    width: 20px;
    height: 20px;
    background-color:var(--green-color);

    border-radius: 50%;
}
.track__status{
    display: inline-flex;
    font-family: var(--font-regular);
    font-size: var(--font-regular-size);
    align-items: center;
    /* padding-bottom: var(--little-padding); */
    gap: 5px;
}
.track__params{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: var(--font-regular);
    font-size: var( --font-little-size);
    padding-top: var(--standart-padding);
}

.track__files{
    padding-top: var(--standart-padding);
    padding-left:var(--standart-padding);
}

.track__info{
    
}
.track__header{
    padding-top: var(--standart-padding);
}

.specifications__item{
    padding-top: var(--little-padding);
    display: flex;
    align-items: center;
    gap: 5px;
    .specifications__item__title{
        font-family: var(--font-regular);
        font-size: var(--font-regular-size);
        color: var(--font-gray-color);
    }
    .specifications__item__value{
        font-family: var(--font-regular);
        font-size: var(--font-regular-size);
        color: var(--text-color);
    }

}
.additional-services{
    padding-top: 1rem;
    .additional-services__grid{
        display: flex;
        padding-top: var(--little-padding);
        flex-wrap: wrap;
        gap:1rem;
        .additional-services__item{
            .additiobal-services__item__ico{
                width: 12px;
            }
            .additional-services__item__value{
                font-family: var(--font-regular);
                font-size: var(--font-regular-size);
                color: var(--font-gray-color);
            }
            display: flex;
            align-items: center;
            gap: 6px;
        }
    }
}

.description{
    padding-top: var(--little-padding);
    font-family: var(--font-regular);
    font-size: var( --font-regular-size);
    color: var(--text-color);
    .description__text{
        padding-top: var(--little-padding);
    }
}
.map{

    .map__container{
        height: 12rem;
        padding-top: var(--standart-padding);
    }
    .map__open-button{
        padding-top: var(--little-padding);
    }
}

.map__address{
    font-family: var(--font-regular);
    font-size: var(--font-regular-size);
    padding-top: var(--standart-padding);
}