<ion-content>
  <main>
    <div class="track">
      <div class="track-header">
        <div  class="track-header__content height-header" style="background-image: url('/assets/images/track-background.png');">
          <div class="track-header__background__dark height-header"></div>
          <div class="header-block height-header">
            <div class="header-content__wrapper">
              <div class="track-header__content__top">
                <img (click)="back()" src="/assets/icons/back-arrow.svg" alt="">
                <span>Подробности трассы</span>
               <img src="/assets/icons/circle_menu.svg" alt="">
              </div>
              <ng-container  *ngIf="track">
                <div class="content">
                  <h2 class="track-name">{{track.name}}</h2>
                  <div *ngIf="getSpecValue('lengthTrack') || getSpecValue('elementsCount') || getSpecValue('coverage')" class="track-params-grid">
                    <div *ngIf="getSpecValue('lengthTrack')" class="track-params-grid__item">
                      <span class="track-params-grid__item__label">Длина</span>
                      <span class="track-params-grid__item__value">{{getSpecValue('lengthTrack')}}м</span>
                    </div>
                    <div *ngIf="getSpecValue('elementsCount')" class="track-params-grid__item">
                      <span class="track-params-grid__item__label">Кол-во элементов</span>
                      <span class="track-params-grid__item__value">{{getSpecValue('elementsCount')}}</span>
                    </div>
                    <div *ngIf="getSpecValue('coverage')" class="track-params-grid__item">
                      <span class="track-params-grid__item__label">Покрытие</span>
                      <span class="track-params-grid__item__value">{{getSpecValue('coverage')}}</span>
                    </div>
                  </div>
                  <div *ngIf="track.address" class="track-location">
                    <span class="track-label-opacity">Местоположение</span>
                    <span class="track-location-value">{{track.address}}</span>
                  </div>
                  <div *ngIf="getSpecValue('heightDifference') || getSpecValue('leftTurns') || getSpecValue('rightTurns') || getSpecValue('highSpeedSection') " class="also-params-grid">
                    <div *ngIf="getSpecValue('heightDifference')" class="also-params-grid__item">
                      <span class="also-params-grid__item__label">Перепад высот</span>
                      <span class="also-params-grid__item__value">{{getSpecValue('heightDifference')}}м</span>
                    </div>
                    <div *ngIf="getSpecValue('leftTurns')" class="also-params-grid__item">
                      <span class="also-params-grid__item__label">Левых поворотов</span>
                      <span class="also-params-grid__item__value">{{getSpecValue('leftTurns')}}</span>
                    </div>
                    <div *ngIf="getSpecValue('rightTurns')" class="also-params-grid__item">
                      <span class="also-params-grid__item__label">Правых поворотов</span>
                      <span class="also-params-grid__item__value">{{getSpecValue('rightTurns')}}</span>
                    </div>
                    <div *ngIf="getSpecValue('highSpeedSection')" class="also-params-grid__item">
                      <span class="also-params-grid__item__label">Длина скор. участка</span>
                      <span class="also-params-grid__item__value">{{getSpecValue('highSpeedSection')}}м</span>
                    </div>
                  </div>
                  <div class="header-button-grid">
                    <button (click)="goToPoint()" class="header-button"> 
                      <img src="/assets/icons/map.svg" alt="">Показать на карте
                    </button>
                  </div>
                 
                </div>

               
    
              </ng-container>
            </div>
          </div>
        </div>
      </div>
      <ng-container *ngIf="track">
        <div class="track-information">
          <ng-container *ngIf="track.desc && track.desc.length">  
                <div class="event-desc--wrapper">
                  <div class="event-information-title">
                    <img src="/assets/icons/red-finished.svg" alt="">
                    Описание
                  </div>
                  <div class="event-desc">
                   
                  </div>
                </div>
              </ng-container>
        </div>
      </ng-container>
    </div>
  </main>
    
  <!-- <div class="main-container-with-footer">
    <div class="main-container--with-header">
      <div class="track__header">
        <app-show-slider standartImagesPath='/assets/icons/track-standart.png' [files]="imgArray" (click)="openImagesModalFunction()"></app-show-slider>
        <app-images-modal  *ngIf="track.schema_img" [openModal]="statusImagesModal" (closeModalEmit)="closeImagesModal()" [imagesPathArray]="imgArray"></app-images-modal>

     
        <div class="track__header__params">
          <app-circle-button *ngIf="this.track.light" icon='/assets/icons/lamp.svg'></app-circle-button>
          <app-circle-button *ngIf="this.track.season" icon='/assets/icons/snow.svg'></app-circle-button>
        </div>
      </div>
      <div class="track-id">TID:{{track.id}}</div>
      <div class="list-track-parametrs">

        
        <div class="parametrs" *ngIf="track.spec && track.spec?.length">
          <div class="name-track-parametrs">
            <span>Параметры трека</span>
          </div>



          <div class="parametr"  *ngIf="getSpecValue('lengthTrack')">
            <div class="left-flang">
              <div class="icon-lenght"><img src="/assets/icons/length.png" alt="" class="arrow-icon"></div>
              <div class="name"><span>Длина трассы</span></div>
            </div>
            <div class="right-flang">
              <div class="result">{{getSpecValue("lengthTrack")}} м </div>
              <div class="information"> <app-info-popover  text="полная длина круга трассы"></app-info-popover></div>
            </div>
          </div>
          
          
          <div class="parametr" *ngIf="getSpecValue('coverage')">
            <div class="left-flang">
            <div class="icon"><img src="/assets/icons/coverage.svg" alt="" class="arrow-icon"></div>
            <div class="name"><span>Тип покрытия</span></div>
          </div>
          <div class="right-flang">
            <div class="result">{{getSpecValue("coverage")}}</div>
            <div class="information"><app-info-popover  text="какое покрытие большую часть времени, летом, преобладает на трассе"></app-info-popover></div>
          </div>
          </div>


          <div class="parametr" *ngIf="getSpecValue('heightDifference')">
            <div class="left-flang">
            <div class="icon"><img src="/assets/icons/heigth.svg" alt="" class="arrow-icon"></div>
            <div class="name"><span>Перепад высот</span></div>
          </div>
          <div class="right-flang">
            <div class="result">{{getSpecValue("heightDifference")}} м</div>
            <div class="information"><app-info-popover  text="расстояние в метрах от самой низкой точки до самой высокой точке на трассе"></app-info-popover></div>
          </div>
          </div>


          <div class="parametr" *ngIf="getSpecValue('leftTurns')">
            <div class="left-flang">
            <div class="icon"><img src="/assets/icons/left-arr.svg" alt="" class="arrow-icon"></div>
            <div class="name"><span>Левых поворотов</span></div>
          </div>
          <div class="right-flang">
            <div class="result">{{getSpecValue("leftTurns")}}</div>
          </div>
          </div>


          <div class="parametr" *ngIf="getSpecValue('rightTurns')">
            <div class="left-flang">
            <div class="icon"><img src="/assets/icons/right-arr.svg" alt="" class="arrow-icon"></div>
            <div class="name"><span>Правых поворотов</span></div>
          </div>
          <div class="right-flang">
            <div class="result">{{getSpecValue("rightTurns")}}</div>
          </div>
          </div>


          <div class="parametr" *ngIf="getSpecValue('elementsCount')">
            <div class="left-flang">
            <div class="icon"><img src="/assets/icons/elements-list.svg" alt="" class="arrow-icon"></div>
            <div class="name"><span>Количество элементов</span></div>
          </div>
          <div class="right-flang">
            <div class="result">{{getSpecValue("elementsCount")}}</div>
          </div>
          </div>


          <div class="parametr" *ngIf="getSpecValue('highSpeedSection')">
            <div class="left-flang">
            <div class="icon-lenght"><img src="/assets/icons/speed.svg" alt="" class="arrow-icon"></div>
            <div class="name"><span>Длина самого <br> скоростного участка</span></div>
          </div>
          <div class="right-flang">
            <div class="result">{{getSpecValue("highSpeedSection")}} м</div>
            <div class="information"><app-info-popover  text="длина в метрах прямого участка трассы, на котором можно использовать максимальную скорость"></app-info-popover></div>
          </div>
          </div>

          
        </div>

      </div>

    

      <div *ngIf="track.desc" class="description">
        <span class="name-track-parametrs">Описание трека</span> 
        <div [innerHTML]="clearDescription()" class="description__text">{{track.desc}}</div>
      </div>


    </div>
    <footer>
          
          <div class="map">
            <div class="map__address">
            {{track.address}}
          </div>
          <div class="map__container">
            <ya-map
            [center]="[track.latitude,track.longitude,]"
            [zoom]="12"   
            [state]="{controls: []}"
            [options]="{
              yandexMapDisablePoiInteractivity: true,
              suppressMapOpenBlock: true,
              suppressObsoleteBrowserNotifier: true,
              autoFitToViewport: 'always',
            }">
            <ya-placemark [geometry]="[track.latitude,track.longitude,]"></ya-placemark>
            </ya-map>
            </div>
            <div class="map__open-button">
            <app-standart-button buttonText="Проложить маршрут" (onClick) = "goToPoint()"></app-standart-button>
            </div>
          
        </div>

        

        <div class="requisites-and-link-container">
          <div class="requisites">
          
          </div>
          <div class="links-list" >
 
            <span class="link-name" *ngIf="allContactsIncorrect">
              Ссылки на медиа
            </span>
            <div class="links" *ngIf="allContactsIncorrect"> 
              <div class="link" *ngIf="getContactValue('vk') != null">
                <a [attr.href]="getContactValue('vk')"><img src="/assets/icons/VK2.svg" alt=""></a>
                
              </div>
              <div class="link" *ngIf="getContactValue('tg') != null">
                <a [attr.href]="getContactValue('tg')"> <img src="/assets/icons/telegram.svg" alt=""></a>
              
              </div>
              <div class="link" *ngIf="getContactValue('whatsApp') != null">
                <a [attr.href]="getContactValue('whatsApp')"> <img src="/assets/icons/watsapp.svg" alt=""></a>
              
              </div>
              <div class="link" *ngIf="getContactValue('site') != null">
                <a [attr.href]="getContactValue('site')"><img src="/assets/icons/sait.svg" alt=""></a>
                
              </div>
            </div>
          </div>
        </div>

    </footer>
  </div> -->

</ion-content>

  


