.close_image{
    width: 0.4rem;
    height: 0.4rem;
    position: absolute;
    margin-top: -0.3rem;
    right: 0.2rem;
}
.rounded-button{
    background-color: #ffffff;
    font-size: 0.75rem;
    color: var(--font-color);
    min-width: 3rem;
    padding-left: 0.6rem;
    gap: 3px;
    padding-right: 0.6rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    transition: 0.2s;
    max-height: 34px;
    border-radius: 100px;
}
.rounded-button_outline{
    background-color: #ffffff;
    font-size: 0.75rem;
    color: var(--font-color);
    min-width: 2rem;
    padding-left: 0.6rem;
    gap: 3px;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.55);
    padding-right: 0.6rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    transition: 0.2s;
    max-height: 34px;
    border-radius: 100px;
}

.rounded-button__line{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    font-size: 0.75rem;
    color: white;
    min-width: 2rem;
    gap: 3px;
    padding: 0.3rem;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    transition: 0.2s;
    min-height: 1rem;
    border: 1px solid var(--font-gray-color);
    border-radius: 10px;

    .span-text{
        color: #000000;
        
    }

    
}

.rounded-button__red-line{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    font-size: 0.75rem;
    color: white;
    min-width: 2.5rem;
    min-height: 2rem;
    gap: 3px;
    padding: 0.3rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    border: 1px solid var(--red-color);
    border-radius: 0px;
    transform: skew(-10deg);
    .span-text{
        color: #000000;
        
    }
    .rounded-button-img{
        filter: brightness(0) saturate(100%) invert(14%) sepia(99%) saturate(7451%) hue-rotate(356deg) brightness(91%) contrast(109%);

    }
}

.rounded-button__second{
    background-color: #368be0;
    font-size: 1rem;
    color: #ffffff;
    width: 150px;
    padding-left: 0.6rem;
    gap: 3px;
    padding-right: 0.6rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    max-height: 34px;
    border-radius: 100px;
    
}
.rounded-button__container{
    display: flex;
    font-family: var(--font-bold);
    color: var(--font-gray-color);
    justify-content: center;
    align-items: center;

}