<!-- <ion-modal [isOpen]="comandSelectModalStateValue" (didDismiss)="closeModal()">
  <ng-template>
    <ion-content>
      <div *ngIf="commands" class="commands-grid">
        <app-standart-input-search [searchCommands]="true" label="Название команды" [searchCurrentItems]="commands" [searchItems]="commands" (changeSearchValue)="setComands($event)"></app-standart-input-search>
      </div>
    </ion-content>
  </ng-template>
</ion-modal> -->

<ion-modal [isOpen]="comandSelectModalStateValue" (didDismiss)="closeModal()">
  <!-- comandSelectModalStateValue -->
  <ng-template>
    <ion-content> 
      <div class="header">
        <app-header  headerTitle="Выбор команды" [hiddenBackButton]="true"></app-header>
      <div class="back-button-container">
        <app-circle-button icon="/assets/icons/arrow.svg" (click)="close()"></app-circle-button>
      </div>
      </div>
      

        <div class="group-modal-header">
         <div class="filter">
            <span class="label">Фильтр по областям:</span>
            <div class="filter-line-container">
              <app-rounded-button [theme]="'line'" class="filter-line" *ngIf="regions" (click)="openRegionModal()" [buttonText]="selectedRegion && selectedRegion.name ? selectedRegion.name : 'Россия'"></app-rounded-button>
            </div>
          </div> 
        </div>
        
      <div class="group-modal-container">
        <div class="race-groups__add-container__wrapper">
          <div *ngIf="commands" class="commands-grid">
            <div class="modal-container-search-region">
              <app-standart-input-search 
                [searchCommands]="true" 
                label="Поиск команд по названию" 
                [searchCurrentItems]="sortComands.length ? sortComands:commands" 
                [searchItems]="sortComands.length ? sortComands:commands" 
                (changeSearchValue)="setComands($event)">
              </app-standart-input-search>
            </div>
          </div>

          

          </div>
        </div>
      
        <div class="add-comand-button" *ngIf="!visibleCreateCommandContainerValue" (click)="visible()">
          <span class="label">Добавить команду:</span>
          <div class="filter-line-container">
            <app-circle-button icon="/assets/icons/plus.svg" ></app-circle-button>
          </div>
        </div> 

        <div class="race-groups__add-container"  *ngIf="visibleCreateCommandContainerValue">
          <div class="header-text">
            <h2>Создание команды</h2>
            <div class="close-button">
              <app-circle-button icon="/assets/icons/close.svg" (click)="nonVisible()"></app-circle-button>
            </div>
          </div>
          <app-standart-input label="Название" [control]="createComandForm.get('name')" placeholder="Введите название вашей команды"></app-standart-input>
          <!-- <app-standart-input label="Регион" [control]="createComandForm.get('region')" placeholder="Введите регион вашей команды "></app-standart-input> -->
          <app-standart-input (click)="openCreateRegionModal()" [readonly]="true" label="Область/край" [control]="createComandForm.get('region')" placeholder="Выберите область вашу область"></app-standart-input>          
          <app-standart-input label="Город" [control]="createComandForm.get('city')" placeholder="Введите город вашей команды"></app-standart-input>

          <!-- <input placeholder = "Название команды" class="standart-input" type="text" [(ngModel)]="createComandName"> -->
          <app-standart-button theme="light" style="width: 100%;" buttonText="Добавить команду" (click)="createComandFunction()"></app-standart-button>
        </div>

    </ion-content>
  </ng-template>
</ion-modal>   

<ion-modal  (didDismiss)="closeRegionModal()" class="region-modal" [isOpen]="regionModalState">
  <ng-template>
    <ion-content>
      <div class="region-modal-container">
        <app-standart-input-search 
        label="Область/край" 
        [searchCurrentItems]="regions" 
        [searchItems]="regions" 
        (changeSearchValue)="setRegion($event)">
        </app-standart-input-search>
      </div>
    </ion-content>
  </ng-template>  
</ion-modal>

<ion-modal class="create-comand-region-modal" (didDismiss)="closeCreateRegionModal()"  [isOpen]="createRegionModalState">
  <ng-template>
    <ion-content>
      <div class="region-modal-container">
        <app-standart-input-search 
        label="Область/край" 
        [searchCurrentItems]="createRegions"  
        [searchItems]="createRegions" 
        (changeSearchValue)="setCreateRegion($event)">
      </app-standart-input-search>
      </div>
    </ion-content>
  </ng-template>  
</ion-modal>

<!-- <ion-modal [isOpen]="createComandsModalState" (didDismiss)="closeCreateComandsModalState()" class="create-comand-modal">
  <ng-template>
    <ion-content>
      <input placeholder = "Название команды" class="standart-input" type="text" [(ngModel)]="createComandName">
    </ion-content>
  </ng-template>
</ion-modal> -->