<ion-modal
  [ngClass]="{ 'command-modal': !fullWidth, 'command-modal__full': fullWidth }"
  [isOpen]="comandSelectModalStateValue"
  (didDismiss)="closeModal()"
>
  <ng-template>
    <ion-content>
      <app-regions-select-modal
        style="z-index: 100000000"
        (select)="setRegion($event)"
        [visible]="regionModalState"
        (onClose)="closeRegionModal()"
        [regions]="regions"
      >
      </app-regions-select-modal>

      <app-regions-select-modal
        (select)="setCreateRegion($event)"
        [visible]="createRegionModalState"
        (onClose)="closeCreateRegionModal()"
        [regions]="createRegions"
      >
      </app-regions-select-modal>

      <app-header [customContainer]="true" [hiddenBackButton]="true">
        <div class="cabinet-header">
          <button (click)="close()" class="cabinet-header__back">
            <img src="/assets/icons/arrow.svg" alt="Назад" />
          </button>
          <span class="cabinet-header__title">Выбор команды</span>
          <button class="cabinet-header__plug none"></button>
        </div>
      </app-header>

      <div [ngClass]="{ 'group-modal-header': !fullWidth, 'group-modal-header__full': fullWidth }">
        <div class="add-comand-button" *ngIf="!visibleCreateCommandContainerValue" (click)="visible()">
          <div class="line-container">
            <app-icon-button
              class="icon"
              widht="full"
              [buttonText]="'Добавить команду:'"
              [elementsPosition]="'elements-position__row_reverse'"
              theme="white"
            ></app-icon-button>
            <img src="/assets/icons/plus.svg" alt="" />
          </div>
        </div>

        <div class="race-groups__add-container" *ngIf="visibleCreateCommandContainerValue">
          <div class="header-text">
            <h2>Создание команды</h2>
            <div class="close-button">
              <app-circle-button icon="/assets/icons/close.svg" (click)="nonVisible()"></app-circle-button>
            </div>
          </div>
          <app-standart-input
            label="Название"
            [control]="createComandForm.get('name')"
            placeholder="Введите название вашей команды"
          ></app-standart-input>
          <!-- <app-standart-input label="Регион" [control]="createComandForm.get('region')" placeholder="Введите регион вашей команды "></app-standart-input> -->
          <app-standart-input
            (click)="openCreateRegionModal()"
            [readonly]="true"
            label="Область/край"
            [control]="createComandForm.get('region')"
            placeholder="Выберите область вашу область"
          ></app-standart-input>
          <app-standart-input label="Город" [control]="createComandForm.get('city')" placeholder="Введите город вашей команды"></app-standart-input>

          <!-- <input placeholder = "Название команды" class="standart-input" type="text" [(ngModel)]="createComandName"> -->
          <app-standart-button theme="light" style="width: 100%" buttonText="Добавить команду" (click)="createComandFunction()"></app-standart-button>
        </div>
        <div class="filter">
          <div class="filter-line-container" (click)="openRegionModal()">
            <app-icon-button
              [theme]="'white'"
              height="little-height"
              [elementsPosition]="'elements-position__row'"
              [widht]="'full'"
              class="filter-line"
              *ngIf="regions"
              [buttonText]="selectedRegion && selectedRegion.name ? selectedRegion.name : 'Россия'"
            ></app-icon-button>
            <img src="/assets/icons/arrow_down.svg" alt="" />
          </div>
        </div>
      </div>

      <div [ngClass]="{ 'group-modal-container': !fullWidth, 'group-modal-container__full': fullWidth }">
        <div class="race-groups__add-container__wrapper">
          <div *ngIf="commands" class="commands-grid">
            <div class="modal-container-search-region">
              <app-standart-input-search
                [searchCommands]="true"
                label="Поиск команд по названию"
                [searchCurrentItems]="sortComands.length ? sortComands : commands"
                [searchItems]="sortComands.length ? sortComands : commands"
                (changeSearchValue)="setComands($event)"
              >
              </app-standart-input-search>
            </div>
          </div>
        </div>
        <div class="cancel-button">
          <app-icon-button
            *ngIf="fullWidth"
            (click)="close()"
            widht="full"
            [buttonText]="'Отмена'"
            [elementsPosition]="'elements-position__row_reverse'"
          ></app-icon-button>
        </div>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>
