.add-file-button{
    display: inline-flex;
    background: none;
    align-items: center;
    gap: 10px;
    background: #fff;
    padding: 0 15px 0 11px;
    transition: 0.3s all;
    border: 1px #dadce0 solid;
    -webkit-box-sizing: border-box;
    font-family: var(--font-regular);
    box-sizing: border-box;
    color: #1a73e8;
    height: 36px;
    line-height: 34px;
}
.add-file-button:active{
    display: inline-flex;
    background: none;
    align-items: center;
    transition: 0.3s all;
    gap: 10px;
    background: #ebebeb;
    padding: 0 15px 0 11px ;
    border: 1px #dadce0 solid;
    -webkit-box-sizing: border-box;
    font-family: var(--font-regular);
    box-sizing: border-box;
    color: #1a73e8;
    height: 36px;
    line-height: 34px;
}
.upload-icon{
    width: 1rem;
}