<div class="main-container">
  <div class="legal-info">
    <h3 class="legal-info__title">Программа для автоматизации мотоспорта в России</h3>
  
    <div class="legal-info__links">
      <p>
        <a (click)="navigateInOferta()" > Договор оферты</a>
      </p>
      <p>
        <a (click)="navigateInAgreed()">Политика обработки персональных данных</a>
      </p>
    </div>
  
    <div class="legal-info__developer">
      <h3>Разработка и сопровождение:</h3>
      <p>ИП Мусихин Константин Александрович</p>
      <p>ИНН: 660900916658</p>
      <p>Телефон: <a href="tel:+73437778887">+7 (34377) 7-888-7</a></p>
      <p>Версия программы: {{version}}</p>
    </div>
  </div>
</div>
