.main-photo{
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    padding-bottom:1.1rem;
    padding-top: 2rem;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 12.625rem;
    border-radius: 0px 0px 1.5rem 1.5rem;
  }
  .main-photo_create{
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    padding-bottom:1.1rem;
    padding-top: 2rem;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 12.625rem;
    border-radius: 0px 0px 1.5rem 1.5rem;
  }
  .header-tools_xxl{
    color: #fff;
    font-size: 1.5rem;
    font-family: var(--font-bold);
    display: flex;
    width: 100%;
   
  }
  .cover-add-button{
    display: flex;
    justify-content: center;
    align-items: center;
    height:200px;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    border-radius: 5px;
    min-width:6.625rem;
    margin-bottom: 0.5rem;
    background-color: #DCE9FF;  
  }
  .cover-add-button_text{
    color: var(--blue-color);
    font-size:0.7rem;
  }
  .label{
    color: #4C5861;
    font-size: 12px;
    margin-bottom: 6px;
    font-family: var(--font-bold);
}
  .slider-container{
    padding-left: 1rem;
    max-width: 100%;
    padding-top: 1.25rem;
    gap:0.4rem;
    display: flex;
    padding-right: 1rem;
    overflow-x: auto;
  }
  .slider-container_create{
    max-width: 100%;
    gap:0.4rem;
    display: flex;
    padding-right: 1rem;
    overflow-x: auto;
  }
 ::-webkit-scrollbar { /* chrome based */
    width: 0px;  /* ширина scrollbar'a */
    background: transparent;  /* опционально */
}
  .slider-container-item{
    min-width: 7.7rem;
    height: 5rem;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
  }
  .slider-container-add-button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    flex-direction: column;
    border-radius: 5px;
    min-width:6.625rem;
    background-color: #DCE9FF;
  }
  .slider-container-add-button_text{
    color: var(--blue-color);
    font-size:0.7rem;
  }
  .delete-button-wrapper{
    display: flex;
    justify-content: end;
    padding-top: 0.5rem;
    padding-right: 0.3rem;
  }
