<!-- Не загруженные данные -->

 <ng-container *ngIf="type === 'create'">
  <ng-container *ngIf="previews.length !== 0">
    <div class="label">Обложка</div>
    <div *ngIf="previews[0]" style="background-image: url({{previews[0].link}}) ;" class="cover-add-button" >
    </div>
    <div *ngIf="previews.length == 0 && !categoryType" style="background-image: url('assets/images/nophoto.jpg') ;" class="cover-add-button" ></div>
    <div *ngIf="previews.length == 0 && categoryType && categoryType.image_path " style="background-image: url('{{this.fileService.checkLinkString( categoryType.image_path)}}') ;" class="cover-add-button" ></div>
    
  </ng-container>
  
  
  <div class="label">Афиша</div>
  <div class="slider-container_create">
    <div (click)="file.click()" class="slider-container-add-button" >
      <img src="/assets/icons/addPhoto.svg" alt="">
      <span class="slider-container-add-button_text">Добавить фото</span>
    </div>

    <div *ngFor="let img of previews; let i = index" style="background-image: url({{img.link}});" class="slider-container-item">
      <div class="delete-button-wrapper"><app-circle-button (click)="deletePreview(img,i)" icon="/assets/icons/trash.svg"></app-circle-button></div>
    </div>
  </div>
  <input (change)="fileChanged($event,file)" multiple="multiple" style="opacity: 0; position: absolute;" #file type="file" accept="image/*,video/*">
 </ng-container>


