.standart-button_light{
    font-family: var(--font-regular);
    display: flex;
    align-items: center;
    // background:#DCE9FF;
    background: var(--light-blue-color);
    color: var(--blue-primary-color);
    min-height: 2.4rem;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 0.75rem;
    transition: 0.3s all;
}
.standart-button_light:active{
    transition: 0.3s all;
    font-family: var(--font-regular);
    display: flex;
    align-items: center;
    background:var(--blue-primary-color);
    color:var(--white-color);
    border: 1px solid #3881ff6e;
    min-height: 2.4rem;
    width: 100%;

    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 0.75rem;
    transition: 0.3s all;
}
.standart-button_red{
    font-family: var(--font-regular);
    display: flex;
    align-items: center;
    background:none;
    color: var(--red-color);
    border: 1px solid #ff030381;
    min-height: 2.4rem;
    padding-left: 10px;
    padding-right: 10px;
    width: 50%;

    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 0.75rem;
    transition: 0.3s all;
}
.standart-button_red:active{
    transition: 0.3s all;
    font-family: var(--font-regular);
    display: flex;
    align-items: center;
    background:var(--red-color);
    color: var( --white-color);
    border: 1px solid #ff030381;
    min-height: 2.4rem;
    width: 100%;

    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 0.75rem;
    transition: 0.3s all;
}
.standart-button--orange{
    font-family: var(--font-regular);
    display: flex;
    align-items: center;
    background-color: #F99011;
    color: var(--white-color);
    min-height: 2.4rem;
    width: 100%;
    gap: 0.5rem;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    transition: 0.3s all;
    font-weight: bolder;
}
.standart-button--orange:active{
    transition: 0.3s all;
    font-family: var(--font-regular);
    display: flex;
    align-items: center;
    background-color: #F99011;
    color:var(--white-color);
    min-height: 2.4rem;
    width: 100%;

    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    
}

.standart-button{
    font-family: var(--font-regular);
    display: flex;
    align-items: center;
    background-color: var(--blue-primary-color);
    color: var(--white-color);
    min-height: 2.4rem;
    width: 100%;
    gap: 0.5rem;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 0.75rem;
    transition: 0.3s all;
}

.standart-button--big:active{
    font-family: var(--font-regular);
    display: flex;
    align-items: center;
    background-color: var(--blue-primary-color);
    color:var(--white-color);
    min-height: 2.4rem;
    width: 100%;
    gap: 0.5rem;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    transition: 0.3s all;
}

.standart-button--big{
    font-family: var(--font-regular);
    display: flex;
    align-items: center;
    background-color: var(--blue-primary-color);
    color:var(--white-color);
    min-height: 2.4rem;
    width: 100%;
    gap: 0.5rem;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    font-size: 1rem;
    transition: 0.3s all;
}

.standart-button:active{
    transition: 0.3s all;
    font-family: var(--font-regular);
    display: flex;
    align-items: center;
    background-color: var(--blue-primary-color);
    color: var(--white-color);
    min-height: 2.4rem;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 0.75rem;
}
.standart-button_disabled{
    pointer-events: none;
    font-family: var(--font-regular);
    display: flex;
    align-items: center;
    background-color: #656668c7;
    color: var(--white-color);
    min-height: 2.4rem;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    pointer-events: none;
    font-size: 0.75rem;
    transition: 0.3s all;
}

.standart-button_orange{
    font-family: var(--font-regular);
    display: flex;
    align-items: center;
    background-color: #F99011;
    color: var(--white-color);
    min-height: 2.4rem;
    width: 100%;
    gap: 0.5rem;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 0.85rem;
    transition: 0.3s all;
    img{
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(3deg) brightness(103%) contrast(102%);
    }
}


.standart-button--red{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    width: 100%;
    background: none;
    border: 1px solid #e8393f60;
    color: var(--red-color);
    font-size: 0.75rem;
    transition: 0.2s;
    border-radius: 5px;
}
.standart-button--red:active{
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2.4rem;
    width: 100%;
    background: #E83940;
    border: none;
    color: var(--white-color);
    font-size: 0.75rem;
    border-radius: 5px;
}

@media(min-width: 500px){

}