<ion-content>
  <div class="container">
    <ng-container *ngIf="fileType == 'img'">
      <angular-image-viewer  [src]="images" [footerTexts]="['']" [config]="{btnShow: {
        zoomIn:true,
        zoomOut: true,
        rotateClockwise: true,
        rotateCounterClockwise: true,
      },
      btnIcons:{
        zoomIn:'zoom-icons',
        zoomOut:'zoom-out',
        rotateClockwise:'rotate-icons__left',
        rotateCounterClockwise:'rotate-icons__right',
        fullscreen:'full-screen-icons',

      }
      }"></angular-image-viewer>
    </ng-container>
    
    <ng-container *ngIf="fileType == 'pdf'">
      <pdf-viewer [src]="fileUrl"
      [render-text]="true"
      [original-size]="false"
      (pages-initialized)="hidePdfLoader()"
      
      class="file__img"
      ></pdf-viewer>
    </ng-container>
    
  
  </div>
</ion-content>
