<ion-content>
  <app-header [customContainer]="true">
    <app-back-button (click)="redirectCabinet()" fontColor="font-dark" theme="white"></app-back-button>
  </app-header>
  <div *ngIf="user" class="main-container">

    <div class="auth-title">
      Потверждение 
    </div>

    <p class="verification__title">Введите код отправленный на вашу электронную почту {{user.email}} </p>
    <ngx-otp-input  (otpChange)="changeCode($event)" [options]="otpOptions"></ngx-otp-input>
    
    <!-- <app-standart-button (click)="submitMessage()" [disabled]=" this.codeValue.length !== 4" buttonText="Отправить"></app-standart-button> -->
    
    <!-- <div class="back-button">
      <app-standart-button theme="light" (click)="redirectCabinet()"  buttonText="Отмена"></app-standart-button>
    </div> -->

    <div class="auth-containers__form__submit-container">
      <app-icon-button height="long-height" widht="full"  clippy="clippy-right" [shapeColumn]="true" [theme]=" this.codeValue.length !== 4 ? 'dark-gray' : 'red'"  (click)=" this.codeValue.length !== 4 ? null : submitMessage()  "  buttonText="Отправить" type="submit"></app-icon-button>
    </div>

    <div class="verification-timer">

      <span 
        (click)="getCodeInEmail(); showMessage(); changeClassSpan(); startTimer()" 
        [ngClass]="{'verification-timer__submit--active':timerActive,
        'verification-timer__submit':!timerActive}">Не пришёл код? 
      </span>
      <span *ngIf="timerActive" 
      [ngClass]="{'verification-timer__submit--active':timerActive,
        'verification-timer__submit':!timerActive}"> Отправить повторно через {{ displayTime }}
      </span>


    </div>


  </div>
</ion-content>  