.track-page-header{
    padding: var(--standart-padding);
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    height: 100%;
    .track-page-header__bottom-content{
        display: flex;
        justify-content: end;
    }
    .map-button{
        padding: 0.3rem;
        background-color: var(--white-color);
        font-family: var(--font-bold);
        text-align: end;
        transition: 0.3s all;
        border-radius: 4px;
        font-size: var(--font-regular-size);
    }
    .map-button:active{
        padding: 0.3rem;
        transition: 0.3s all;
        background-color: var(--blue-primary-color);
        font-family: var(--font-bold);
        text-align: end;
        color: var(--white-color);
        border-radius: 4px;
        font-size: var(--font-regular-size);
    }
}
.tracks{
    padding-top: var(--standart-padding);
}
.button-container--pdf{
    display: flex;
    align-items: center;
    gap: var(--standart-padding);
    justify-content: center;
}
.button-container{
    padding: var(--standart-padding);
    display: flex;
    flex-direction: column;
    gap: var(--little-padding);
}
.upload-result-modal{
    --min-width: 100%;
    --min-height: 100%;
}
.files-result-upload{
    width: 80vw;
    max-width: 360px;
    display: flex;
    transition: 0.3s all;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 1px;
    height: 150px;
    border: 3px dashed rgb(137 199 245 / 60%);
}
.upload{
    width: 80vw;
    max-width: 360px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: var(--standart-padding);
}
.files-grid{
    width: 100%;
  
    display: flex;
    flex-direction: column;
    gap: var(--little-padding);
    .files-grid__item{
        background-color: #fff;
        padding: 0.3rem;
        border-radius: 3px;
        font-family: var(--font-regular);
    }
}
.files-result-upload__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.save-result-button-wrapper{
    width: 100%;
    padding-top:  var(--standart-padding);
    padding-bottom: var(--standart-padding);
}
@media (min-width: 1024px) {
    .save-result-button-wrapper{
        width: 24rem;
    }
}
.add-result{
    max-width: 1240px;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.upload-label{
    font-family: var(--font-regular);
    font-size: 16px;
    padding-bottom: var(--little-padding);
}
.file__img{
    width: 300px;
    height: 430px;
}
.documents-grid{
    display: flex;
    padding-bottom: 10rem;
    flex-wrap: wrap;
    align-items: center;
    padding-top:4rem;
    width: 100%;
    justify-content: center;
    gap: 2rem;
}
.delete-button-container{
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 100;
}
.documents-grid__item{
    display: flex;
    flex-direction: column;
    background: #fff;
    position: relative;
    gap: var(--standart-padding);
}
.header-container{
    width: 100%;
}
.header__open-region-modal{
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    height: 40px;
    justify-content: space-between;
    background: var(--white-color);
    text-align: start;
    font-size: var( --font-regular-size);
    font-family: var(--font-semi-bold);
    border: 1px solid var(--dark-2);
}
.tracks-grid__item{
    border-bottom: 1px solid rgba(76, 88, 97, .1568627451);
    padding-top: var(--little-padding);
    padding-bottom: var(--little-padding);
}
.events-grid{
    padding-top: var(--standart-padding);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--standart-padding);
    flex-direction: column;
    padding-bottom: 2rem;
    .month{
        width: 100%;
        display: flex;
        justify-content: start;
        padding-left: 1rem;
        font-family: var(--font-bold);
        font-size: var(--font-headers-size-little);
        font-style: italic;
        border-left:5px solid red;
    }
}

ion-modal{
    --max-height: 12rem;
    --max-width: 22rem;
    --border-radius: 5px;
    --overflow: hidden;
}
.google-tabs{
    display: flex;
    height: 100%;
    flex-direction: column;
    padding: var(--standart-padding);
    gap: var(--standart-padding);
    align-items: center;
    justify-content: center;
    .google-tabs__modal-text{
        border-radius: 5px;
        font-family: var(--font-semi-bold);
        padding: var(--standart-padding);
        color: #000000;
        border: 1px solid rgba(76, 88, 97, 0.2549019608);
     .google-tabs__modal-text__link{
        font-family: var(--font-bold);
        border-bottom: solid 1px #000000;
    }
    }
}
 .tabs-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding-top: var(--standart-header-padding);
    padding-bottom: 1rem;
    width: 100%;
    height: 2rem;
 }

 app-tabs{
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .region-modal{
    ion-content{
     --background: rgb(255, 255, 255);
    }
    --max-height:50%;
    --width:90%;
    --border-radius: 12px;
    --overflow-y: hidden;
}

.region-modal-container{
    background: rgb(255, 255, 255);
    padding: var(--standart-padding);
    app-standart-input-search{
        --page-bg: #ffffff
    }
}