<ion-content>
  <app-header-strong image ="/assets/images/moto-background.png">
    <div class="track-page-header">
       <div class="track-page-header__top-content">
         <app-type-swither (endingSwitchAnimation)="redirectInTracks()"></app-type-swither>
       </div>
    </div>
 </app-header-strong>
 <main class="main-container--with-header--strong">
   <div class="events-grid">
    @for (event of this.eventTapeService.events; track $index) {
      <app-event-card [event]="event"></app-event-card>
    }

   </div>

 </main>
</ion-content>