<ion-content>

  <app-header  [customContainer]="true" [hiddenBackButton]="true" [headerTitle]="regionFilterName" >
   <div class="header-container">
      <button (click)="openRegionModal()" class="header__open-region-modal">
          {{regionFilterName}}
         <img src="/assets/icons/arrow_down.svg" alt="">
      </button>
      <div class="header__filter-grid">
        <!-- <app-icon-button (click)="setFilterInTape('all')" height="little-height" clippy="clippy-right" buttonText="Все" [theme]="allFilter ? 'red':'dark'"></app-icon-button> -->
        <app-icon-button (click)="setFilterInTape('current')" height="little-height" clippy="clippy-right" buttonText="Текущие"  [theme]="currentFilter ? 'red':'dark'"></app-icon-button>
        <app-icon-button (click)="setFilterInTape('expired')" height="little-height" clippy="clippy-right" buttonText="Прошедшие"  [theme]="expiredFilter ? 'red':'dark'"></app-icon-button>
        <button *ngIf="canRgp" [ngClass]="{'rgp-logo': !rgpFilter, 'rgp-logo--dark':rgpFilter }" (click)="setRgpFilter('rgp')" class="rgp-logo">
          <img  [src]="'/assets/icons/motoRGP.svg'" alt="">
        </button>

      </div>
   </div>
  </app-header>

  <app-regions-select-modal (select)="filterEventsInLocation($event)" [selectedRegion]="regionFilterName" [visible]="regionModalState" (onClose)="closeRegionModal()" [regions]="searchRegionItems"> </app-regions-select-modal>
 <div class="main-container--with-header--strong events">
  <div class="events">
    <ng-container *ngIf="formatedEvents">
      <div *ngFor="let group of formatedEvents" class="events-grid">
        <div class="month-container">
          <span class="month">{{group.groupMonth}}</span>
          <div class="month-shape"></div>
        </div>
    
        <div  *ngFor="let event of group.events; let i = index">
          
          <app-event-card [event]="event" >
            <div *ngIf="userService.userHaveRoot() && event.commissions_exists" class="button-container">
              <div class="button-commission">
                <div class="button-commission-first">
                  <app-icon-button [widht]="'full'"  buttonText="Проверка"  (click)="redirectApplicationForRace(event.id)"></app-icon-button>
                    <!-- <app-icon-button style="width: 100%;" [widht]="'full'" (click)="generateGoogleLink(event.id)" icon="/assets/icons/download.svg" ></app-icon-button> -->
                  </div>
                <div class="button-commission-two">
                  <app-icon-button (click)="generateGoogleLink(event.id)" class="width-button" [widht]="'w40'" height="long-height" [elementsPosition]="'elements-position__row'" [buttonIconColor]="'white-icon'" [buttonBorderWidth]="'b05'" [buttonBorderColor]="'dark-border'"  icon="assets/icons/upload.svg" height="standart-height" sizeIcon="standart-size" theme="dark"></app-icon-button>
                </div>
              </div>
              
              
              <app-icon-button style="width: 100%;" [widht]="'full'" (click)="openUploadResultModal(event)" buttonText="Добавить результаты"></app-icon-button>
            </div>
          </app-event-card>
        </div>
      </div>
    </ng-container>
  
  </div>
  
 </div>

 
    
</ion-content>

<ion-modal [isOpen]="tableModalValue">
  <ng-template>
    <ion-content>
      <div class="google-tabs">
        <div class="google-tabs__modal-text">
            Список участников был отправлен на вашу почту {{userService.user.value?.email}}
            Сейчас можно открыть его по
          <a class="google-tabs__modal-text__link" target="_blank" [href]="googleTabsLink">этой ссылке</a>
        </div>
        <app-standart-button (click)="closetTableModal()" style="width: 100%;" buttonText="Закрыть" theme="light"></app-standart-button>
      </div>
    </ion-content>
  </ng-template>
  
</ion-modal>
  
<ion-modal class="upload-result-modal" (didDismiss)="closeUploadResultModalState()" [isOpen]="uploadResultModalState">
  <ng-template>
    <ion-content>
        <app-header [customContainer]="true" [hiddenBackButton]="true">
        <div class="cabinet-header">
          <button (click)="back()" class="cabinet-header__back">
            <img src="/assets/icons/arrow.svg"  alt="Назад">
          </button>
          <span class="cabinet-header__title">Загрузка результатов к гоке</span>
          <span class="none"></span>
        </div>
      </app-header>
        <div class="main-container--with-header">
            <article class="add-result">
              <app-upload-file-input [resultsFilesUpload]="resultsFilesUploadArrayClear" [clearUploadFiles]="clearUploadFiles" [allowedTypes]="['application/pdf']" (resultsFilesUploadEmit)="getUploadResultsFiles($event)"></app-upload-file-input>
              <div class="save-result-button-wrapper">
                <app-icon-button style="width: 100%;" widht="full" theme="red" clippy="clippy-right"  (click)="submitResultInRace()" buttonText="Сохранить"></app-icon-button>
              </div>
              <app-no-data-found [show]="!currentRace.pdf_files" message="Результаты гонки не добавлены"></app-no-data-found>
              <ng-container *ngIf="currentRace.pdf_files">
                <div class="documents-grid">
              
                    <ng-container *ngFor="let document of formattedResultsDocument"> 
                      <div class="documents-grid__item">
                        <div class="delete-button-container">
                          <app-circle-button (click)="deleteResultFile(document)" icon="/assets/icons/trash.svg"></app-circle-button>
                        </div>
                        <pdf-viewer [src]="document.path | checkImgUrl" [zoom]="document.zoomLevel"
                        [render-text]="true"
                        [original-size]="false"
                        
                        class="file__img"
                        ></pdf-viewer>
                        <div class="button-container--pdf">
                          <app-circle-button class="circle-button" [icon]="'assets/icons/plus.svg'" (click)="zoomIn(document)"></app-circle-button>
                          <app-circle-button class="circle-button" [icon]="'assets/icons/minus.svg'" (click)="zoomOut(document)"></app-circle-button>
                          <app-circle-button class="circle-button" [icon]="'assets/icons/close.svg'" (click)="resetZoom(document)"></app-circle-button>
                        </div>
                      </div>                  
                    
                    </ng-container>
              
                </div>
              </ng-container>
            </article>
        </div>
    </ion-content>
  </ng-template>
</ion-modal>

