.commands-grid{
    padding-top: var(--standart-padding);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--standart-padding);
    padding-bottom: 5rem;
}
.commands-grid__item{
    // border-bottom: 1px solid rgba(76, 88, 97, .1568627451);
    padding-top: var(--little-padding);
    padding-bottom: var(--little-padding);
    background-color: white;
    position: relative;
    border-radius: 0.5rem;
}
.edit-button-container{
    position: absolute;
    top: 2.5rem;
    right: 0;
    z-index: 100;
}
.my-events-header{
    max-width: 960px;
    width: 100%;
    align-items: center;
    color: #181818;
    margin: auto;
   
 
    .cabinet-header__back{
        background: none;
    }
    .cabinet-header__exite{
        background: none;
    }
    .cabinet-header__title{
        font-family: var(--font-regular);
        font-size: 16px;
    }
    .my-events-header__top{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    .header__filter-grid{
        padding-top: var(--standart-padding);
        display: flex;
        gap: 8px;
    }
}