<ion-content>
  <app-header [customContainer]="true" [hiddenBackButton]="true">
    <div class="my-events-header">
      <div class="my-events-header__top">
        <button (click)="back()" class="cabinet-header__back">
          <img src="/assets/icons/arrow.svg"  alt="Назад">
        </button>
        <span class="cabinet-header__title">Мои команды</span>
        <app-icon-button  [buttonIconColor]="'red-icon'" [buttonBorderWidth]="'b1'" [buttonBorderColor]="'red-border'" (click)="redirectInCreate()" clippy="clippy-right" icon="assets/icons/plus.svg" height="standart-height" sizeIcon="little-size" theme="white"></app-icon-button>
      </div>
    </div>
  </app-header>

  <main class="main-container--with-header">
    <article class="commands-grid">
      <div *ngIf="!comands || !comands.length" class="not-found-users">Команд пока что нет...</div>
    <ng-container *ngFor="let command of comands">
      <div class="commands-grid__item" >
        <app-command-section (click)="redirectInViewPage(command.id)"  [editfFunction]="true" [vievComand]="command.id" [editComand]="command.id" [command]="command" ></app-command-section>
        <!-- <div class="edit-button-container">
          <app-icon-button (click)="redirectInEditPage(command.id)" theme="red" clippy="clippy-right" height="little-height" icon="/assets/icons/pen.svg" buttonIconColor="white-icon" elementsPosition="row__reverse" sizeIcon="little-size"></app-icon-button>
          
        </div> -->
      </div>
   
    </ng-container> 
    </article>
  </main>
</ion-content>
