.login__logo{
    display: flex;
    justify-content: center;
    opacity: 0;
    .login__logo__img{
        width: 7rem;
    }
  
}

.login{
    padding-top: var(--standart-padding);
}

.login__form{
    display: flex;
    padding: 0 1rem;
    flex-direction: column;
    gap: var(--standart-padding);
}
.recovery-password-wrapper{
    display: flex;
    justify-content:flex-end;
}

.recovery-password{
    font-family: var(--font-regular);
    font-size: var(  --font-little-size);
    color: var(--grey-color);
    opacity: 55%;
}
.submit-button{
    padding-top: var(--standart-padding);
}
.dont-have-account{
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    .dont-have-account__registration-link{
      font-size:0.75rem;
      font-family: var(--font-regular);
      color: var(--gray-color);
      cursor: pointer;
    }
    .dont-have-account__registration-link__route{
      font-size:0.75rem;
      font-family: var(--font-regular);
      color: var(--blue-primary-color);
      cursor: pointer;
    }
  }

  .ion-checkbox-container{
    width: 90%;
    display: flex;
    font-size: var(--font-little-size);
    padding-bottom: 1rem;
    justify-content:flex-start;
    align-items: center;
    margin-left: 1rem;

  }

  /* Кастомизация чекбокса */

    .fake-link{
        color: var(--blue-primary-color);
        padding-left: 2px;
    }

    .custom-checkbox {
        --size: 24px; /* Устанавливаем размер чекбокса */
        --border-radius: 0; /* Снимаем скругление, делаем квадратным */
        --background-checked: #3880ff; /* Цвет для отмеченного состояния */
        --background-unchecked: #fff; /* Цвет фона для неотмеченного состояния */
        --border-width: 1px; /* Толщина рамки */
        --border-color: #3880ff; /* Цвет рамки */
        --checkmark-color: #ffffff; /* Цвет галочки */
       
        --checkbox-background: white;
        margin-right: 10px; /* Отступ справа от чекбокса */
  }