.login__logo{
    display: flex;
    justify-content: center;
    opacity: 0;
    .login__logo__img{
        width: 7rem;
    }
  
}

.login{
    padding-top: var(--standart-padding);
}

.login__form{
    display: flex;
    padding: 0 1rem;
    flex-direction: column;
    gap: var(--standart-padding);
}
.recovery-password-wrapper{
    display: flex;
    justify-content:flex-end;
}

.recovery-password{
    font-family: var(--font-regular);
    font-size: var(  --font-little-size);
    color: var(--grey-color);
    opacity: 55%;
}
.submit-button{
    padding-top: var(--standart-padding);
}
.dont-have-account{
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    .dont-have-account__registration-link{
      font-size:0.75rem;
      font-family: var(--font-regular);
      color: var(--gray-color);
      cursor: pointer;
    }
    .dont-have-account__registration-link__route{
      font-size:12px;
      font-family: var(--font-regular);
      color: red;
      cursor: pointer;
    }
  }

  .ion-checkbox-container{
    display: flex;
    font-size: var(--font-little-size);
    padding-bottom: 1rem;
    justify-content:flex-start;
    align-items: center;
    margin-left: 1rem;
  }
  .phone-images{
    width: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }  

  /* Кастомизация чекбокса */

    .fake-link{
        color: var(--red-color);
        padding-left: 2px;
    }
    .ant-segmented {
        margin-bottom: var(--standart-padding);
        font-family: var(--font-regular);
  }
  .verificate-phone-header{
    font-family: var(--font-bold);
    margin: auto;
    display: flex;
    align-items: center;
    padding-left: var(--standart-padding);
    padding-top: var(--standart-padding);
    text-align: center;
    font-size: 1.2rem;
  }
  .verificate-phone-title{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    gap: 1rem;
    font-family: var(--font-bold);
    margin-bottom: 2rem;
    margin-top: 3rem;
  }
  .verificate-phone-description{
    padding-top: var(--little-padding);
  }
  .verificate-phone-container{
    padding: 1.5rem;
    font-family: var(--font-regular);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  ::ng-deep .ant-segmented-item-label {
    padding-left: 50px !important;
    padding-right: 50px !important;
    
  
  }



  .ant-segmented-item-label{
  
  }
  .select-auth-type{
    display: flex;
    align-items: center;
    justify-content: center;
  }

    .custom-checkbox {
        --size: 18px; /* Устанавливаем размер чекбокса */
        --border-radius: 0; /* Снимаем скругление, делаем квадратным */
        --background-checked: #3880ff; /* Цвет для отмеченного состояния */
        --background-unchecked: #fff; /* Цвет фона для неотмеченного состояния */
        --border-width: 1px; /* Толщина рамки */
        --border-color: #3880ff; /* Цвет рамки */
        --checkmark-color: #ffffff; /* Цвет галочки */
       
        --checkbox-background: white;
        margin-right: 10px; /* Отступ справа от чекбокса */
  }

  .main-container{
    max-width: 960px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
   
  }

  .auth-title{
    font-family: var(--font-black);
    font-size: 40px;
    text-align: center;
  }
  .auth-container{
    width: 100%;
  }

  .auth-container__buttons{
  display: flex;
  padding-top: 30px;
  gap:8px;
  width: 100%;
  app-icon-button {
    flex: 1 0 auto;
  
  }
}

.control-container{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.auth-containers__form__submit-container{
  padding-top: 2rem;
  width: 100%;
  app-icon-button{
    padding: 0rem 0.3rem;
    width: 100%;
  }
}

.user-agreement{
  font-size: 12px;
  padding-top: 14.5px;
  padding-left: 2rem;
  padding-right: 2rem;
  display: inline-flex;
  gap: 0rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-wrap: nowrap;
  width: 100%;
  span{
    padding-right: 0.5rem;
  }
}

ion-modal{
  --max-height: 100%;
  --max-width: 100%;
  --border-radius: 5px;
  --overflow: hidden;
}

.phone-modal{
  display: flex;
  justify-content: center;
  align-items: center;
}