<ion-content>
  <app-header headerTitle="Регистрация" secondButtonIcon="/assets/icons/menu-pen.svg"></app-header>
  <div class="main-container--with-header">
    <div class="login">
        <!-- <div class="login__logo">
          <img class="login__logo__img" src="/assets/icons/favicon.png" alt="">
        </div> -->
        <form action="" class="login__form">
          <app-standart-input [invalid]="registerInvalid.email.status" [errorMessage]="registerInvalid.email.message" [label]="'E-mail'" [control] = "registerForm.get('email')" name="email"></app-standart-input>
          <app-standart-input [invalid]="registerInvalid.password.status" [errorMessage]="registerInvalid.password.message" [openPassword]="true" type="password"  [label]="'Пароль'" [control] = "registerForm.get('password')" password="password"></app-standart-input>
          <app-standart-input [invalid]="registerInvalid.password_confirmation.status" [errorMessage]="registerInvalid.password_confirmation.message" [openPassword]="true" type="password"  [label]="'Повторите пароль'" [control] = "registerForm.get('password_confirmation')" password="password"></app-standart-input>
          <div class="recovery-password-wrapper">
          </div>
        </form>
    </div>

    <div class="ion-checkbox-container">
      <ion-checkbox 
      [checked]="isCheckedFirst" 
      (ionChange)="onCheckboxChange($event)" 
      class="custom-checkbox">
    </ion-checkbox>
      <span (click)="redirectInUserAgreement()">Согласен(-а) с </span>
      <span class="fake-link" (click)="redirectInUserAgreement()"> пользовательским соглашением</span>
    </div>

    <div class="ion-checkbox-container">
      <ion-checkbox 
      [checked]="isCheckedSecond"
      (ionChange)="onCheckboxChange2($event)" 
      class="custom-checkbox">
    </ion-checkbox>
      <span (click)="redirectInUserAgreement()">Согласен(-а) с </span>
      <span class="fake-link" (click)="redirectInUserPolitic()"> политикой </span>
    </div>

    

    <div class="submit-button">
      <app-standart-button [disabled]="!isCheckedFirst || !isCheckedSecond" (onClick)="submitLoginForm()" buttonText="Регистрация" type="submit"></app-standart-button>
    </div>
    <div class="dont-have-account">
      <span (click)="redirectInLogin()" class="dont-have-account__registration-link">Уже есть аккаунта? <span class="dont-have-account__registration-link__route">Войти в аккаунт</span></span>
    </div>
    
  </div>
</ion-content>