<ion-content>
  <main>
    <section class="main-about">
      <div class="main-about-info">
          <div class="flag-image-wrapper">
            <img class="flag-image" src="/assets/icons/race-flag.svg" alt="">
          </div>
        <h1 class="main-about__heading">МотоКросс</h1>
        <span class="main-about__description">Приложение для записи на соревнования по
        мотоспорту и поиска трасс для тренировок</span>
      </div>
   
      <div class="main-about-images-block">

      </div>
    </section>
  </main>
</ion-content>

