.edit-form{
    padding-top: var(--standart-padding);
}

.description{
    padding-bottom: var(--standart-padding);
}
ion-modal{
    --max-height:50%;
    --width:90%;
    --border-radius: 12px;
    --overflow-y: hidden;
}
.region-modal-container{
    padding: var(--standart-padding);
}
.address-container{
    padding-top: var(--standart-padding);
    padding-bottom: var(--standart-padding);
}
.navigate-buttons-container{
    display: flex;
    padding-top: var(--standart-padding);
    flex-direction: column;
    gap: var(--little-padding);
}
.logo-track__header{
    font-family: var(--font-bold);
    font-size: 12px;
  }
  .logo-track__file-name{
    font-family: var(--font-regular);
    font-size: var(--font-little-size);
    color: var(--font-gray-color);
  }
  .logo-track__text{
    display: flex;
    flex-direction: column;
  }
  .logo-track__logo{
    height: 6rem;
    object-fit: contain;
  }
  .logo-track__text{
    display: flex;
    flex-direction: column;
  }
  .delete-button-wrapper{
    position: absolute;
    right: 0;
    padding-top: 0.2rem;
  }
  .logo-track__scheme{
    width: 14rem;
    height: 14rem;
    object-fit: contain;
  }
  .track-settings{
    display: flex;
    gap:var(--standart-padding);
  }
  .track-settings__spec{
    padding-top: var(--standart-padding);
    padding-bottom: var(--standart-padding);
  }
  .custom-toggle{
    font-family: var(--font-regular);
    font-size: 14px;
  }
  .track-settings__spec__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    gap: 1rem;
    padding-bottom: var(--standart-padding);
    font-family: var(--font-regular);
    font-size: 14px;
    border-bottom: 1px solid rgb(80, 80, 80);
  }
  .track-settings__spec__item__text{
    display: flex;
    width: 16rem;
    align-items: center;
    gap: var(--standart-padding);
  }
  .track-settings__spec__item__icon{
    width: 1rem;
    height: 1rem;
  }
  .track-settings__spec {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: var(--standart-padding);
}
  .track-settings__spec__item__input{
    border: 1px solid rgba(76, 88, 97, 0.2549019608);
    border-radius: 5px;
    padding: 0.6rem;
    font-size: 12px;
    padding-left: 0.8rem;
    transition: 0.1s;
    margin-top: 3px;
    color: #363d42;
    font-family: var(--font-regular);
    background: none;
    max-width: 5rem;
  }
  .contacts-form{
    padding-top: var(--standart-padding);
    display: flex;
    flex-direction: column;
    gap: var(--standart-padding);
  }
  .input-wrapper{
    display: flex;
    width: 9rem;
    gap: var(--standart-padding);
    align-items: center;
  }
  .upload-logo{
    background-color: #DCE9FF;
  }
  .logo-track{
    padding-top: var(--standart-padding);
    display: flex;
    align-items: center;
    padding-bottom: var(--standart-padding);
    position: relative;
    gap: 1rem;
  }