.edit-form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
    padding-top: var(--standart-padding);
}


ion-modal{
    --max-height:50%;
    --width:90%;
    --border-radius: 12px;
    --overflow-y: hidden;
}
.region-modal-container{
    padding: var(--standart-padding);
}

.navigate-buttons-container{
    display: flex;
    padding-top: var(--standart-padding);
    flex-direction: column;
    gap: var(--little-padding);
}
.logo-track__header{
    font-family: var(--font-bold);
    font-size: 12px;
  }
  .logo-track__file-name{
    font-family: var(--font-regular);
    font-size: var(--font-little-size);
    color: var(--font-gray-color);
  }
  .logo-track__text{
    display: flex;
    flex-direction: column;
  }
  .logo-track__logo{
    height: 6rem;
    object-fit: contain;
  }
  .logo-track__text{
    display: flex;
    flex-direction: column;
  }
  .delete-button-wrapper{
    position: absolute;
    right: 0;
    padding-top: 0.2rem;
  }
  .logo-track__scheme{
    width: 14rem;
    height: 14rem;
    object-fit: contain;
  }
  .track-settings{
    display: flex;
    gap:var(--standart-padding);
  }
  .track-settings__spec{
    padding-top: var(--standart-padding);
    padding-bottom: var(--standart-padding);
  }
  .custom-toggle{
    font-family: var(--font-regular);
    font-size: 14px;
  }
  .track-settings__spec__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    gap: 1rem;
    padding-bottom: var(--standart-padding);
    font-family: var(--font-regular);
    font-size: 14px;
    border-bottom: 1px solid rgb(80, 80, 80);
  }
  .track-settings__spec__item__text{
    display: flex;
    width: 14rem;
    align-items: center;
    gap: var(--standart-padding);
  }
  .track-settings__spec__item__icon{
    width: 1.5rem;
    height: 1.5rem;
  }
  .track-settings__spec {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: var(--standart-padding);
}
  .track-settings__spec__item__input{
    border: 1px solid rgba(0, 0, 0, 0.297);
    
    padding: 0.6rem;
    font-size: 12px;
    padding-left: 0.8rem;
    transition: 0.1s;
    margin-top: 3px;
    color: #363d42;
    font-family: var(--font-regular);
    background: none;
    width: 5rem;
    
  }

  .track-detail-information{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: var(--standart-padding);
  }

  .detail-input-wrapper{
    display: flex;
    flex-direction: column;
    align-items: end;
    position: relative;
  }

  .popover-container{
    z-index: 100;
    margin-bottom: -1rem;
  }

  .track-more-information__grid{
    display: flex;
    flex-direction: column;
    gap: var(--little-padding);
    padding-top: var(--little-padding);
  }

  .track-more-information{
    padding-top: 30px;
  }

  .apayment-text{
    font-family: var(--font-regular);
    font-size: 12px;
    padding-top: var(--standart-padding);
    display: flex;
  }

  .apayment-buttons{
    display: flex;
    gap: var(--little-padding);
    padding-top: var(--standart-padding);
    flex-direction: column;
  }

  .track-contacts{
    padding-top: 30px;
  }
  .track-contacts__grid{
    display: flex;
    padding-top: var(--little-padding);
    flex-direction: column;
    gap: var(--standart-padding);
    padding-bottom: 4rem;
  }

  .metering{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
      p{margin-bottom: 0px;}
    
  }

  .create-circle-upload{
    font-family: var(--font-regular);
    margin-top: var(--standart-padding);
    width: 200px;
    margin-left: auto;
    cursor: pointer;
    margin-right: auto;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 200px;
    border: 2px dashed rgb(255, 85, 85);
    span{
      color:rgb(255, 85, 85);
    }
  }

  .upload-scheme{
    font-family: var(--font-regular);
    margin-top: var(--little-padding);
    cursor: pointer;
    max-width: 343px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    border: 2px dashed rgb(255, 85, 85);
    span{
      color:rgb(255, 85, 85);
    }
  }

  .contacts-form{
    padding-top: var(--standart-padding);
    display: flex;
    flex-direction: column;
    gap: var(--standart-padding);
  }
  .input-wrapper{
    display: flex;
    width: 9rem;
    gap: 0.5rem;
    align-items: center;
  }
  .upload-logo{
    background-color: #DCE9FF;
  }
  .logo-track{
    padding-top: var(--standart-padding);
    display: flex;
    align-items: center;
    padding-bottom: var(--standart-padding);
    position: relative;
    gap: 1rem;
  }