<ion-content>
  <app-header headerTitle="Профиль участника" (secondButtonClick)="redirectInEditPersonalInfo()"></app-header>
  <div class="main-container--with-header">
    <div class="cabinet">
      <div class="cabinet__user-info">
        <app-user-section [showRank]="false" [showAddress]="false" (changeStatus)="setNewStatusModalOpen()" [user]="user"></app-user-section>
        <div *ngIf="user?.personal?.start_number" class="user-info__class">
            {{user?.personal?.start_number}}
        </div>
      </div>
      
      <app-profile-menu-item *ngIf="selectedStatusItem?.id == 3 || selectedStatusItem?.id == 4"[routing]="'documents'" [iconColor]="'#0000'" [icon]="'/assets/icons/documents.svg'"  [iconFilter]="''" [name]="'Анкета участника'"></app-profile-menu-item>
      <app-profile-menu-item *ngIf="selectedStatusItem?.id == 4 " [routing]="'my-events'" [iconColor]="'#0000'" [icon]="'/assets/icons/FlagStrong.svg'" [name]="'Мои гонки'"></app-profile-menu-item>
      <app-profile-menu-item *ngIf="selectedStatusItem?.id == 4" [routing]="'my-tracks'" [iconColor]="'#0000'" [icon]="'/assets/icons/Repeat.svg'" [name]="'Мои трассы'"></app-profile-menu-item>
      <app-profile-menu-item  [routing]="'settings'" [iconColor]="'#0000'" [icon]="'/assets/icons/settings.svg'" [name]="'Настройки'"></app-profile-menu-item>
      
      <div class="cabinet__logout">
        <app-standart-button (click)="logoutInAccount()" theme="red" buttonText="Выход"></app-standart-button>
      </div>
    </div>
  </div>
 
</ion-content>

