<ion-content>
  <app-header [customContainer]="true" [hiddenBackButton]="true" (secondButtonClick)="redirectInEditPersonalInfo()">
    <div class="cabinet-header">
      <button (click)="back()" class="cabinet-header__back">
        <img src="/assets/icons/arrow.svg"  alt="Назад">
      </button>
      <span class="cabinet-header__title">Профиль</span>
      <button (click)="logoutInAccount()" class="cabinet-header__exite">
        <img src="/assets/icons/exite.svg"  alt="Выход из аккаунта">
      </button>
    </div>
  </app-header>
  <div class="main-container--with-litle-header">
    <div class="cabinet">
      <div class="cabinet__user-section">
        <div class="user-images">
          <img [src]="user?.avatar | checkImgUrl" alt="">
        </div>
      
        <div class="cabinet__user-section__info">
          <div *ngIf="user?.id" class="uid">UID {{user?.id}}</div>
          <div class="cabinet__user-section__info__name">
            <app-icon-button font="font-bold" widht="w20" height="auto-height" clippy="clippy-right" buttonText="{{user?.personal?.start_number}}"></app-icon-button>
            <div class="info__name__item" *ngIf="user?.personal?.name && user?.personal?.surname" >{{user?.personal?.name}}</div>
            <div class="info__name__item" *ngIf="user?.personal?.name && user?.personal?.surname">{{user?.personal?.surname}}</div>
            <div class="info__name__item" *ngIf="user?.name && !user?.personal" >{{user?.name}}</div>
            <div class="info__name__item" *ngIf="user?.surname && !user?.personal" >{{user?.surname}}</div>
          </div>
          <div *ngIf="user?.email" class="email">{{user?.email}}</div>
          <app-icon-button></app-icon-button>
        </div>
      </div>
      <!-- <app-user-section [showRank]="false" [showAddress]="false" (changeStatus)="setNewStatusModalOpen()" [user]="user"></app-user-section>
      <div class="cabinet__user-info">
       
        <div *ngIf="user?.personal?.start_number" class="user-info__class">
            {{user?.personal?.start_number}}
        </div>
        <div (click)="selectAccountValue.set(!selectAccountValue())" [class.active]="selectAccountValue()" class="select-account-open">
          <img src="assets/icons/arrow.svg" alt="">
        </div>
      </div>
      <div [class.active]="selectAccountValue()" class="accounts-container">
        <div (click)="navigateInLogin()" class="accounts-container__add-account">
          <img src="/assets/icons/plus.svg" alt="">
          <span>Добавить аккаунт</span>
        </div>
        <ng-container *ngFor="let user of allUsers">
          <div  class="accounts-container__item">
            <app-user-section (click)="selectUserAndRefreshAllData(user)" [user]="user"></app-user-section>
            <div *ngIf="user.id == userService.user.value?.id" class="current-account">
                <img src="/assets/icons/accept.svg" alt="">
            </div>
            <div *ngIf="user.id !== userService.user.value?.id" class="trash-button">
              <app-circle-button (click)="deleteUserInLocalStorage(user)" icon="/assets/icons/trash.svg"></app-circle-button>
            </div>
          </div>
        </ng-container>
        
      </div> -->
      <ng-container *ngIf="usersMenuItem[this.selectedStatusItem?.name]">
          <ng-container *ngFor="let menuItem of usersMenuItem[this.selectedStatusItem.name]">
            <app-profile-menu-item  [routing]="menuItem.routing" [iconColor]="menuItem.iconColor" [icon]="menuItem.icon" [name]="menuItem.name"></app-profile-menu-item>
          </ng-container>
      </ng-container>
     
      <app-profile-menu-item  [routing]="'settings'" [iconColor]="'#0000'" [icon]="'/assets/icons/settings.svg'" [name]="'Настройки'"></app-profile-menu-item> 
      <a  href="https://t.me/mototrackapp">
        <app-profile-menu-item  [routing]="'link'" [iconColor]="'#0000'" [icon]="'/assets/icons/support-icon.svg'" [name]="'Обратная связь'"></app-profile-menu-item>
      </a>
      <div class="cabinet__logout">
        <app-standart-button (click)="logoutInAccount()" theme="red" buttonText="Выход"></app-standart-button>
      </div>
    </div>
      
      <div class="link-on-support">
        <span class="version">Текущая версия приложеия:{{version}}</span>
        
        
      </div>
  </div>
 
</ion-content>

