.cabinet{
    padding-top: var(--standart-padding);
}

.cabinet__user-info{
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 8px;
    .user-info__class{
        border-radius: 50%;
        overflow-y: none;
        img{
            border-radius: 50%;
            overflow-y: none;
            width: 4.5rem;
        }
    }
    padding-bottom: var(--standart-padding);

}

.cabinet__logout{
    
    width: 100%;
    padding-top: var(--middle-padding);
}

.link-on-support{
    position: fixed;
    display: flex;
    justify-content: center;
    padding-top: var(--standart-padding);
    
    font-size: small;
    opacity: 0.6;
    width: 100%;
    a{
        color: gray;
    }
    bottom: 10px;
    right: 0px;
    
}

.cabinet__select-status{
    width: 8rem;
    padding-bottom: var(--standart-padding);
}
.user-info__class{
    background-color: var(--white-color);
    min-width: 3rem;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    font-family: var(--font-bold);
}

@media(min-width: 500px){

    .cabinet__logout{
        margin-left: 25%;
        width: 50%;
        padding-top: var(--middle-padding);
    }

    .cabinet{
        display: flex;
        flex-direction: column;
        margin: auto;
        justify-content: center;
        width: 50%;
        padding-top: var(--standart-padding);
    }

}

@media(min-width: 500px){

    .cabinet__logout{
        margin-left: 25%;
        width: 50%;
        padding-top: var(--middle-padding);
    }}