<ion-content>
  <app-header headerTitle="Профиль участника" (secondButtonClick)="redirectInEditPersonalInfo()"  secondButtonIcon="/assets/icons/menu-pen.svg"></app-header>
  <div class="main-container--with-header">
    <div class="cabinet">
      <div class="cabinet__user-info">
        <app-user-section (changeStatus)="setNewStatusModalOpen()" [user]="user"></app-user-section>
        <div *ngIf="user?.personal?.start_number" class="user-info__class">
            {{user?.personal?.start_number}}
        </div>
      </div>
      <div class="cabinet__select-status">
        <app-custom-selected [items]="statuses" [modalValue]="statusesSelect" [selectedValue]="selectedStatusItem" (openModal)="openSelectedStatus()" (closeModal)="closeSelectedStatus()" (selectItem)="selectStatus($event)"></app-custom-selected>
      </div>
      <app-profile-menu-item [routing]="'documents'" [iconColor]="'#DCE9FF'" [icon]="'/assets/navigation/user.svg'"  [iconFilter]="'brightness(0) saturate(100%) invert(46%) sepia(36%) saturate(5687%) hue-rotate(205deg) brightness(100%) contrast(103%);'" [name]="'Мои документы'"></app-profile-menu-item>
    
      <app-profile-menu-item *ngIf="selectedStatusItem.id == 2" [routing]="'my-tracks'" [iconColor]="'#DCE9FF'" [icon]="'/assets/icons/place.svg'" [name]="'Мои треки'"></app-profile-menu-item>
      <app-profile-menu-item *ngIf="selectedStatusItem.id == 2" [routing]="'my-events'" [iconColor]="'#DCE9FF'" [icon]="'/assets/icons/place.svg'" [name]="'Мои гонки'"></app-profile-menu-item>
      <div class="cabinet__logout">
        <app-standart-button (click)="logoutInAccount()" theme="red" buttonText="Выход"></app-standart-button>
      </div>
    </div>
  </div>
 
</ion-content>

