.document-container{
    margin-top: var(--little-margin);
    padding-top: var(--standart-padding);
    border: 1px solid rgba(76, 88, 97, 0.2549019608);
    padding: var(--standart-padding);
    margin-bottom: var(--little-padding);
    display: flex;
    border-radius: 5px;
    gap: var(--little-padding);
    flex-direction: column;

    
    
}
.cabinet__select-status{
    width: 80%;
    padding-bottom: var(--standart-padding);
    position: relative;
    margin-top: var(--little-margin);
    margin-left: var(--little-margin);

}

.cabinet__delete_account{
    padding-top: var(--little-padding);
}
.user-section__avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-left: var(--little-margin);
    .user-section__avatar__img{
        min-width: 4rem;
        min-height: 4rem;
        max-width: 4rem;
        max-height: 4rem;
        object-fit: cover;
        overflow: hidden;
        background-color: rgb(99, 99, 99);
        border-radius: 50%;
    }
}

.bottom-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .bottom-container__standart{
        margin-top: var(--little-margin);
    }
}

.up-container__input{
    margin-left: var(--little-margin);
    width: 100%;
}

.document-container{
    margin-bottom: 10px;
    
}

.up-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:start ;
}
.user_id{
    font-size: 0.7rem;
    display: flex;
    padding-bottom: var(--standart-padding);
    font-family: var(--font-regular);
}
ion-modal{
    --max-height:200px;
    --width:90%;
    --border-radius: 12px;
    
    --overflow-y: hidden;
}
.agreed-select-status-checkbox{
    --size: 18px;
    --border-radius: 0; 
    --background-checked: #3880ff;
    --background-unchecked: #fff; 
    --border-width: 1px;
    --border-color: #3880ff; 
    --checkmark-color: #ffffff; 
   
    --checkbox-background: white;
    margin-right: 10px; 
}
.agreed-select__main{
    padding: var(--standart-padding);
    display: flex;
    gap: 10px;
    font-size: 0.95rem;
    font-family: var(--font-light);
    justify-content: space-between;
    flex-direction: column;
}
.user-agreed{
    display: flex;
    gap: 10px;
    span{
        color: #3880ff; 
    }
}

