<ion-content>
  <app-header headerTitle="Настройки профиля">

  </app-header>
  <main class="main-container--with-header">
    <div class="document-container">
      <div class="up-container">
        <div class="user-section__avatar">
          <img class="user-section__avatar__img" [src]="" alt="">
        </div>
        <app-standart-input class="up-container__input" [control]="userSettingsForm.get('name')" [errorMessage]="formErrors.name.errorMessage" [invalid]="formErrors.name.errorMessage.length !== 0" placeholder="Введите Имя" label="Имя"></app-standart-input>
      </div>
      <div class="bottom-container">
      <app-standart-input class="bottom-container__standart"[control]="userSettingsForm.get('email')" [errorMessage]="formErrors.email.errorMessage" [invalid]="formErrors.email.errorMessage.length !== 0" placeholder="Введите Email" label="Email"></app-standart-input> 
      </div>
    </div>      
    <app-standart-button  [disabled]="true" buttonText="Сохранить"></app-standart-button>

  </main>
</ion-content>