.document-container{
    margin-top: var(--little-margin);
    padding-top: var(--standart-padding);
    border: 1px solid rgba(76, 88, 97, 0.2549019608);
    padding: var(--standart-padding);
    margin-bottom: var(--little-padding);
    display: flex;
    border-radius: 5px;
    gap: var(--little-padding);
    flex-direction: column;
}
@media(min-width: 960px){
    .document-container{
        margin-top: var(--standart-margin);
        padding-top: 2rem;
        border: 1px solid rgba(76, 88, 97, 0.2549019608);
        padding: var(--standart-padding);
        margin-bottom: var(--little-padding);
        display: flex;
        width: 960px;
        margin: auto;
        border-radius: 5px;
        gap: var(--little-padding);
        flex-direction: column;
    }
    .buttons-wrapper{
        width: 960px;
        margin: auto;
    }
}
.cabinet__select-status{
    width: 70%;
    padding-bottom: var(--standart-padding);
    position: relative;
    margin-top: var(--little-margin);
    margin-left: var(--little-margin);

}


.cabinet__delete_account{
    padding-top: var(--little-padding);
}
.user-section__avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // margin-left: var(--little-margin);
    .user-section__avatar__img{
        min-width: 4rem;
        min-height: 4rem;
        max-width: 4rem;
        max-height: 4rem;
        object-fit: cover;
        overflow: hidden;
        background-color: rgb(99, 99, 99);
        border-radius: 50%;
    }
}

.bottom-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .bottom-container__standart{
        margin-top: var(--little-margin);
    }
}

.up-container__input{
    margin-left: var(--little-margin);
    width: 100%;
}

.document-container{
   margin-top: var(--standart-padding);
}

.up-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:start ;
}
.user_id{
    font-size: 0.7rem;
    display: flex;
    
    font-family: var(--font-regular);
}

.agreed-select-status-checkbox{
    --size: 18px;
    --border-radius: 0; 
    --background-checked: #3880ff;
    --background-unchecked: #fff; 
    --border-width: 1px;
    --border-color: #3880ff; 
    --checkmark-color: #ffffff; 
    --checkbox-background: white;
    margin-right: 10px; 
}




.agreed-modal{
    --max-height:26vh;
    --width:90vw;
    --border-radius: 12px;
    --overflow-y: hidden;
    

}

.agreed-select__main{
    
    padding-right: var(--standart-padding);
    padding-left: var(--standart-padding);
    padding-top: 0px;
    padding-bottom: 0px;
    display: flex;
    height: 100%;
    gap: 2vh;
    font-size: 0.95rem;
    font-family: var(--font-light);
    flex-direction: column;
    justify-content: center;
    
   
}

@media(min-width: 960px){
    .agreed-modal{
        --max-height:20vh;
        --width:40vw;
        --border-radius: 12px;
        --overflow-y: hidden;
    }
}

ion-modal {
    --ion-safe-area-top: 0;
    --ion-safe-area-bottom: 0;
    --ion-safe-area-right: 0;
    --ion-safe-area-left: 0;
  }

  .agreed{
    margin: 0px;
    padding: 0px;
  }
  
  .user-agreed{
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 10px;
    span{
        color: #3880ff; 
    }
}

.button-container{
    margin: 0px;
    padding: 0px;
}

.email-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.user-name-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user_name{
    width: 80%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-bold);
    font-size: var(--font-headers-size-little);
}

.status-container{
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 100%;
}

.span-text{
    text-wrap: nowrap;
    font-family: var(--font-bold);
}