<ion-content>
  <app-header [customContainer]="true" [hiddenBackButton]="true">
    <div class="cabinet-header">
      <button (click)="back()" class="cabinet-header__back">
        <img src="/assets/icons/arrow.svg"  alt="Назад">
      </button>
      <span class="cabinet-header__title">Настройки</span>
      <button (click)="logoutInAccount()" class="cabinet-header__exite">
        <img src="/assets/icons/exite.svg"  alt="Выход из аккаунта">
      </button>
    </div>
  </app-header>
  <!-- <app-header headerTitle="Настройки профиля">

  </app-header>
  
  <main class="main-container--with-header">
    
    <div class="document-container">
      <div class="up-container">
        <div class="user-section__avatar">
          <img (click)="file.click()" class="user-section__avatar__img" [src]="settingsAvatar" alt="" >
          <input (change)="setAvatar($event)" #file style="display: none;" accept="image/png, image/jpeg"   type="file">
          <span class="user_id">UID {{user?.id}}</span>   
          <div class="">
            <img class="edit-btn" (click)="file.click()" [src]="'/assets/icons/edit-img.svg'" >
          </div>
        </div>

        <div class="user-name-container">
          <div class="user_name">{{user?.personal?.name}} {{user?.personal?.surname}}</div>
        </div>
        
       
      </div>

      <div class="email-container">
        <app-standart-input [readonly]="true" class="email-control" [control]="personalViewForm.get('emailView')" [errorMessage]="formErrors.email.errorMessage"  label="Email"></app-standart-input>
        <div class="status-email" [ngClass]="{'status-email-green':emailStatus}"></div>
        <app-circle-button class="edit-btn" [icon]="'/assets/icons/edit.svg'" (click)="openEmailModal()"></app-circle-button>
      </div>

      <div class="email-container">
        <app-standart-input [readonly]="true" class="email-control" [control]="personalViewForm.get('phoneView')" [errorMessage]="formErrors.phone.errorMessage"  label="Телефон"></app-standart-input>
        <div class="status-phone" [ngClass]="{'status-phone-green':phoneStatus}"></div>
        <app-circle-button class="edit-btn" [icon]="'/assets/icons/edit.svg'" (click)="openPhoneModal()"></app-circle-button>
      </div>

      

      <div class="status-container">
        <span class="span-text">Смена роли:</span>
        <div class="cabinet__select-status">
          <app-custom-selected [items]="statuses" [modalValue]="statusesSelect" [selectedValue]="selectedStatusItem" (openModal)="openSelectedStatus()" (closeModal)="closeSelectedStatus()" (selectItem)="selectStatus($event)"></app-custom-selected>
        </div>
      </div>

      <ion-modal class="agreed-modal" [isOpen]="userAgreedModalState" (didDismiss)="closeModalAgreedNotVerificated()">
          <ng-template>
              <ion-content>
                <div class="agreed-select__main">
                   <label class="agreed" name="agreed">Подтверждаю что ознакомлен и согласен с политикой для гонщика и организатора</label>
                  <div class="user-agreed">
                    <span (click)="navigateInAgreed()">Пользовательское соглашение</span>
                    <ion-checkbox (ionChange)="changeAgreedState($event)"  for="agreed" class="agreed-select-status-checkbox"></ion-checkbox>
                  </div>
                  <div class="button-conteiner">
                    <app-standart-button (click)="closeStateAgreedModal()" [disabled]="disabledAgreedButton" buttonText="Продолжить"></app-standart-button>
                  </div>
                </div>
              </ion-content>
          </ng-template>
      </ion-modal>
    
    </div>   
    <div class="buttons-wrapper">

      <app-standart-button (click)="submitEditForm();" buttonText="Сохранить"></app-standart-button>
      <div class="cabinet__delete_account">
        <app-standart-button (click)="deleteAccount();"  theme="red" buttonText="Удалить учетную запись"></app-standart-button>
      </div>
    </div>
 
    
  </main> -->
  <main class="main-container--with-header">
    <div class="settings">
      <div class="cabinet__user-section">
        <div (click)="file.click()" class="user-images">
          <img  class="user-avatar" [src]="settingsAvatar" alt="">
          <input (change)="setAvatar($event)" #file style="display: none;" accept="image/png, image/jpeg"   type="file">
          <div class="upload-button">
            <img src="/assets/icons/photo.svg" alt="">
          </div>
        </div>
      
        <div class="cabinet__user-section__info">
          <div class="cabinet__user-section__info__name">
            
            <div class="info__name__item" *ngIf="user?.personal?.name && user?.personal?.surname" >{{user?.personal?.name}}</div>
            <div class="info__name__item" *ngIf="user?.personal?.name && user?.personal?.surname">{{user?.personal?.surname}}</div>
            <div class="info__name__item" *ngIf="user?.name && !user?.personal" >{{user?.name}}</div>
            <div class="info__name__item" *ngIf="user?.surname && !user?.personal" >{{user?.surname}}</div>
          </div>
          <div class="user-statuses-grid">
            <app-icon-button clippy="clippy-right" height="auto-height" theme="red" [buttonText]="userLastRoleValue"></app-icon-button>
            <app-icon-button (click)="openSelectRoleModal()" clippy="clippy-right" height="auto-height" theme="white" buttonBorderWidth="b1" buttonBorderColor="red-border" fontColor="red-color" buttonText="Изменить роль"></app-icon-button>
          </div>
        </div>
        <ion-modal class="select-role-modal" [isOpen]="selectRoleModalState">
          <ng-template>
            <ion-content>
              <app-header [customContainer]="true" [hiddenBackButton]="true">
                <div class="cabinet-header">
                  <button (click)="closeSelectRoleModal()" class="cabinet-header__back">
                    <img src="/assets/icons/arrow.svg"  alt="Назад">
                  </button>
                  <span class="cabinet-header__title">Смена роли</span>
                  <button  class="cabinet-header__exite none">
                    <img src="/assets/icons/exite.svg"  alt="Выход из аккаунта">
                  </button>
                </div>
              </app-header>
              <div style="height: 100%;" class="main-container--with-header">
                <div class="select-role-container">
                  <span class="select-role-container__title">Выберите желаемую роль</span>
                  <div class="select-role-grid">
                    <app-icon-button clippy="clippy-right" *ngFor="let status of statuses " (click)="selectStatus(status)" [buttonText]="status.name"></app-icon-button>
                  </div>
                </div>
              </div>
            </ion-content>
          </ng-template>
        </ion-modal>
      </div>
  
      <div class="document-container">
        <!-- <div class="up-container">
          <div class="user-section__avatar">
            <img (click)="file.click()" class="user-section__avatar__img" [src]="settingsAvatar" alt="" >
            <input (change)="setAvatar($event)" #file style="display: none;" accept="image/png, image/jpeg"   type="file">
            <span class="user_id">UID {{user?.id}}</span>   
            <div class="">
              <img class="edit-btn" (click)="file.click()" [src]="'/assets/icons/edit-img.svg'" >
            </div>
          </div>
  
          <div class="user-name-container">
            <div class="user_name">{{user?.personal?.name}} {{user?.personal?.surname}}</div>
          </div>
          
         
        </div> -->
        <div class="input-wrapper">
          <div class="email-container">
            <app-standart-input placeholder="E-mail" [readonly]="true" class="email-control" [control]="personalViewForm.get('emailView')" [errorMessage]="formErrors.email.errorMessage"></app-standart-input>
            <app-circle-button class="edit-btn" [icon]="'/assets/icons/edit.svg'" (click)="openEmailModal()"></app-circle-button>
          </div>
          <div [ngClass]="{'input-label--green':emailStatus, 'input-label--red':!emailStatus }">{{emailStatus ? 'Почта подтверждена':'Почта не подтверждена'}}</div>
        </div>
       
        <div class="input-wrapper">
          <div class="email-container">
            <app-standart-input placeholder="+7 (ХХХ) ХХХ-ХХ-ХХ" [readonly]="true" class="email-control" [control]="personalViewForm.get('phoneView')" [errorMessage]="formErrors.phone.errorMessage"></app-standart-input>
            <app-circle-button class="edit-btn" [icon]="'/assets/icons/edit.svg'" (click)="confirmPhone()"></app-circle-button>
          </div>
          <div [ngClass]="{'input-label--green':phoneStatus, 'input-label--red':!phoneStatus }">{{phoneStatus ? 'Телефон подтвержден':'Телефон не подтвержден'}}</div>
        </div>

        <app-icon-button widht="full" clippy="clippy-right" theme="red" buttonBorderColor="red-border" buttonBorderWidth="b1"  (click)="deleteAccount()" buttonText="Удалить учетную запись"></app-icon-button>
           
<!--   
        <div class="status-container">
          <span class="span-text">Смена роли:</span>
          <div class="cabinet__select-status">
            <app-custom-selected [items]="statuses" [modalValue]="statusesSelect" [selectedValue]="selectedStatusItem" (openModal)="openSelectedStatus()" (closeModal)="closeSelectedStatus()" (selectItem)="selectStatus($event)"></app-custom-selected>
          </div>
        </div> -->
  
        <ion-modal class="agreed-modal" [isOpen]="userAgreedModalState" [canDismiss]="!userAgreedModalState" (didDismiss)="closeModalAgreedNotVerificated()">
            <ng-template>
                <ion-content>
                  <div class="agreed-select__main">
                     <label class="agreed" name="agreed">Подтверждаю что ознакомлен и согласен с политикой для гонщика и организатора</label>
                    <div class="user-agreed">
                      <span style="cursor: pointer;" (click)="navigateInAgreed()">Пользовательское соглашение</span>
                      <ion-checkbox (ionChange)="changeAgreedState($event)"  for="agreed" class="agreed-select-status-checkbox"></ion-checkbox>
                    </div>
                    <div class="button-conteiner">
                      <app-icon-button widht="full" theme="red" (click)="closeStateAgreedModal()" [disabled]="disabledAgreedButton" buttonText="Продолжить"></app-icon-button>
                    </div>
                  </div>
                </ion-content>
            </ng-template>
        </ion-modal>
      
      </div>   
      <!-- <div class="buttons-wrapper">
  
        <app-standart-button (click)="submitEditForm();" buttonText="Сохранить"></app-standart-button>
        <div class="cabinet__delete_account">
          <app-standart-button (click)="deleteAccount();"  theme="red" buttonText="Удалить учетную запись"></app-standart-button>
        </div>
      </div> -->
    </div>
   
 
    
  </main>
</ion-content>

<ion-modal [isOpen]="emailModalValue"  (didDismiss)="closeEmailModal()">
  <ng-template>
    <ion-content>

        <div class="verificate-email-container" >
          <div class="email-title-container">
              <span class="verificate-email-title">Вам поступит код для подтверджения почты по указанному адресу:</span>
          </div>
          <app-standart-input class="email-control" [control]="personalSettingsForm.get('email')" [errorMessage]="formErrors.email.errorMessage" placeholder="Введите адрес электронной почты" label="Email"></app-standart-input>
          
          <div class="button-edit-email">
            <!-- <app-standart-button class="button-edit-email" [buttonText]="'Изменить'" (click)="editEmail()"></app-standart-button> -->
             <app-icon-button [shapeColumn]="true"  widht="full" theme="red" (click)="editEmail()" clippy="clippy-right" buttonText="Изменить"></app-icon-button>
          </div>

          <div class="button-confirm-email">
             <app-icon-button buttonBorderColor="red-border" buttonBorderWidth="b1" widht="full" theme="white" (click)="editEmail()" clippy="clippy-right"  (click)="confirmEmail()" buttonText="Подтвердить текущую"></app-icon-button>
          </div>
        </div>
       
    </ion-content>
  </ng-template>
  
</ion-modal>


<!-- <ion-modal [isOpen]="phoneModalValue" class="phone-modal" (didDismiss)="closePhoneModal()">
  <ng-template>
    <ion-content>

        <div class="verificate-phone-container" >
          <div class="email-title-container">
              <span class="verificate-email-title">При нажатии на кнопку вы перейдете в окно верификаии номера телефона</span>
          </div>

          <div class="button-confirm-phone">
              <app-standart-button class="button-confirm-phone" [buttonText]="'Подтвердить'" (click)="confirmPhone()"></app-standart-button>
          </div>
        </div>
       
    </ion-content>
  </ng-template>
  
</ion-modal> -->