<form [formGroup]="searchForm">
  <label class="label" for="{{label}}">{{label}}</label>
  <input (input)="searchInputChange($event)" formControlName="searchInput" class="standart-input"  type="text">
</form>

<div [attr.name]="selectedName" class="dropdown-wrapper">
  <div *ngIf="searchCurrentItems && searchCurrentItems.length > 0" [ngClass]="{'dropdown-content':!searchCurrentItems.length, 'dropdown-content--active':searchCurrentItems.length}">
      <div (click)="setSearchItem(item)" *ngFor="let item of searchCurrentItems" class="dropdown-content__item standart-input">
          {{item}}
      </div>
  </div>
</div>