<ion-content>
  <app-header headerTitle="Вход" ></app-header>
  <div class="main-container--with-header">
    <div class="login">
        <!-- <div class="login__logo">
          <img class="login__logo__img" src="/assets/icons/favicon.png" alt="">
        </div> -->
        <form action="" class="login__form">
          <app-standart-input (changeInput)="clearErrors()" [invalid]="loginInvalid.name.status" [errorMessage]="loginInvalid.name.message" [label]="'E-mail'" [control] = "loginForm.get('name')" name="email"></app-standart-input>
          <app-standart-input (changeInput)="clearErrors()" [invalid]="loginInvalid.password.status" [errorMessage]="loginInvalid.password.message" [openPassword]="true" type="password"  [label]="'Пароль'" [control] = "loginForm.get('password')" password="email"></app-standart-input>
          <div class="recovery-password-wrapper">
            <span class="recovery-password" id="recoveryLink">Забыл(а) пароль</span>
          </div>
        </form>
    </div>
    <div class="submit-button">
      <app-standart-button (onClick)="submitLoginForm()" buttonText="Войти" type="submit"></app-standart-button>
    </div>
    <div class="dont-have-account">
      <span (click)="redirectInRegistration()" class="dont-have-account__registration-link">Нет аккаунта? 
      <span class="dont-have-account__registration-link__route">Создать аккаунт</span></span>
    </div>
    
  </div>


</ion-content>

<ion-modal class="recovery-modal" trigger="recoveryLink"  >
  <ng-template>
    <div class="recovery-main">
      <p class="recovery-main_label">
        На указанный вами адрес придёт ссылка для восстановления пароля
      </p>
      <div class="recovery-form">
        <form [formGroup]="recoveryForm" action="">
          <app-standart-input  [control]="recoveryForm.get('email')" label="E-mail"></app-standart-input>

        </form>
      </div>
      <div class="recovery-password-buttons">
        <app-standart-button [disabled]="recoveryForm.invalid || !timerReady" buttonText="Восстановить пароль" theme="standart" (click)="submitRecovery()"></app-standart-button>
      </div>
     
      <div id="recoveryLink" *ngIf="!timerReady" class="password-recovery">доступно через {{seconds * 1000 | date: 'mm:ss' }} </div>
    </div>
 
  </ng-template>
 
</ion-modal>