.login__logo{
    display: flex;
    justify-content: center;
    opacity: 0;
    .login__logo__img{
        width: 7rem;
    }
  
}

.login{
    padding-top: var(--standart-padding);
}

.login__form{
    display: flex;
    padding: 0 1rem;
    flex-direction: column;
    gap: var(--standart-padding);
}
.recovery-password-wrapper{
    display: flex;
    justify-content:flex-end;
}

.recovery-password{
    font-family: var(--font-regular);
    font-size: var(  --font-little-size);
    color: var(--grey-color);
    opacity: 55%;
}
.submit-button{
    margin-top: var(--standart-padding);
    background-color: var(--gray-color);
}
.dont-have-account{
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    .dont-have-account__registration-link{
      font-size:0.75rem;
      font-family: var(--font-regular);
      color: var(--gray-color);
      cursor: pointer;
      font-size:0.9rem;
    }
    .dont-have-account__registration-link__route{
      font-size:0.9rem;
      font-family: var(--font-regular);
      color: var(--blue-primary-color);
      cursor: pointer;
    }
  }

  .recovery-modal{
    --height: auto;
    --max-width: 386px;
    --border-radius: 17px;
    
  }
  .recovery-icon{
    margin-left: 1rem;
  }
  .password-recovery{
    font-family: var(--font-regular);
    cursor: pointer;
    display: flex;
    font-size: 0.75rem;
    padding-top: 0.5rem;
    color: var(--blue-color);
    justify-content: center;
    
  }
  .recovery-password-buttons{
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .recovery-main_label{
     font-size: 16pt; 
     color:var(--dark-gray-color); 
     font-family: var(--font-regular);
    margin-left: auto; 
    margin-right: auto;
  }
  .recovery-main{
    display: flex;
    justify-content: center;
    gap: var(--standart-padding);
    padding:var(--standart-padding);
    flex-direction: column;
    background-color: var(--white-color);
  }