.login__logo{
    display: flex;
    justify-content: center;
    opacity: 0;
    .login__logo__img{
        width: 7rem;
    }
  
}

.login{
    padding-top: var(--standart-padding);
}

.login__form{
    display: flex;
    padding: 0 1rem;
    flex-direction: column;
    gap: var(--standart-padding);
}
.recovery-password-wrapper{
    display: flex;
    justify-content:flex-end;
}
.about{
    font-size: 0.9rem;
    font-family: var(--font-regular);
    text-align: center;
    color: var(--blue-color);
    cursor: pointer;
    color: var(--blue-primary-color);;
    margin-top: var(--standart-padding);
}
.recovery-password{
    font-family: var(--font-regular);
    font-size: var(  --font-little-size);
    color: var(--grey-color);
    opacity: 55%;
}
.submit-button{
    margin-top: var(--standart-padding);
    background-color: var(--gray-color);
    width: 100%;
    display: flex;
}

::ng-deep .ant-segmented-item-label {
  padding-left: 50px !important;
  padding-right: 50px !important;

}
.ant-segmented-item-label{

}
.select-auth-type{
  display: flex;
  align-items: center;
  justify-content: center;
}
.phone-images{
  width: 8rem;
  margin: auto;
}

.dont-have-account{
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    .dont-have-account__registration-link{
      font-size:0.75rem;
      font-family: var(--font-regular);
      color: var(--gray-color);
      cursor: pointer;
      font-size:0.9rem;
    }
    .dont-have-account__registration-link__route{
      font-size:0.9rem;
      font-family: var(--font-regular);
      color: var(--blue-primary-color);
      cursor: pointer;
    }
  }

  .recovery-modal{
    --height: auto;
    --max-width: 386px;
    --border-radius: 17px;
    
  }
  .recovery-icon{
    margin-left: 1rem;
  }
  .password-recovery{
    font-family: var(--font-regular);
    cursor: pointer;
    display: flex;
    font-size: 0.75rem;
    padding-top: 0.5rem;
    color: var(--blue-color);
    justify-content: center;
    
  }
  .recovery-password-buttons{
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .recovery-main_label{
     font-size: 16pt; 
     color:var(--dark-gray-color); 
     font-family: var(--font-regular);
    margin-left: auto; 
    margin-right: auto;
  }
  .recovery-main{
    display: flex;
    justify-content: center;
    gap: var(--standart-padding);
    padding:var(--standart-padding);
    flex-direction: column;
    background-color: var(--white-color);
  }
  .ant-segmented {
        margin-bottom: var(--standart-padding);
        font-family: var(--font-regular);
  }
  .verificate-phone-header{
    font-family: var(--font-bold);
    margin: auto;
    display: flex;
    align-items: center;
    padding-left: var(--standart-padding);
    padding-top: var(--standart-padding);
    text-align: center;
    font-size: 1.2rem;
  }
  .verificate-phone-title{
    display: flex;
    text-align: center;
    align-items: center;
    padding-top: var(--standart-padding);
    justify-content: center;
    font-size: 0.95rem;
    gap: 1rem;
    font-family: var(--font-bold);
  }
  .verificate-phone-description{
    padding-top: var(--little-padding);
    text-align: center;
    font-size: 12px;
  }
  .verificate-phone-container{
    padding: var(--standart-padding);
    font-family: var(--font-regular);
    display: flex;
    flex-direction: column;
  }