.standart-input{
    border: 1px solid #4c586141;
    border-radius: 5px;
    width: 100%;
    min-height: 2.25rem;
    font-size: 12px;
    background: none;
    padding-top: 0.9rem;
    min-height: 8rem;
    padding-left: 0.8rem;
    transition: 0.1s;
    color: #363d42;
    font-family: var(--font-regular);
}

.standart-input:focus{
    transition: 0.2s;
    outline: 1px solid #52b1fab0;
    border-radius: 5px;
    width: 100%;
    padding-top: 0.9rem;
    min-height: 8rem;
    background: none;
    font-size: 12px;
    padding-left: 0.8rem;
    color: #363d42;
}

.standart-input__dunamic{
    border: 1px solid #4c586141;
    border-radius: 5px;
    width: 100%;
    min-height: 2.25rem;
    font-size: 12px;
    background: none;
    padding-top: 0.9rem;
    min-height: 8rem;
    padding-left: 0.8rem;
    transition: 0.1s;
    color: #363d42;
    font-family: var(--font-regular);
}

.standart-input__dunamic:focus{
    transition: 0.2s;
    outline: 1px solid #52b1fab0;
    border-radius: 5px;
    width: 100%;
    padding-top: 0.9rem;
    min-height: 19rem;
    background: none;
    font-size: 12px;
    padding-left: 0.8rem;
    color: #363d42;
}



.standart-input_inavlid{
    border: 1px solid #ff0000;
    border-radius: 5px;
    width: 100%;
    background: none;
    min-height: 2.25rem;
    padding-top: 0.9rem;
    font-size: 12px;
    min-height: 8rem;
    padding-left: 0.8rem;
    transition: 0.1s;
    color: #363d42;
}


.standart-input_inavlid:focus{
    border: 1px solid #ff0000;
    border-radius: 5px;
    width: 100%;
    background: none;
    outline: none;
    min-height: 2.25rem;
    padding-top: 0.9rem;
    font-size: 12px;
    min-height: 8rem;
    padding-left: 0.8rem;
    transition: 0.1s;
    color: #363d42;
}


.label{
    color: #4C5861;
    font-size: 12px;
    margin-bottom: 6px;
    font-family: var(--font-bold);
}
.label_invalid{
    color: #ff0000;
    font-size: 12px;
    margin-bottom: 6px;
}
.input-wrapper{
    
    padding-top: 0.5rem;
}
.open-input{
    background: none;
    position: absolute;
    margin-left: -2rem;
    margin-top: 0.75rem;
}
.open-input:active{
    background: none;
    position: absolute;
    margin-left: -2rem;
    margin-top: 0.75rem;
    .open-input-icon{
        filter: brightness(0) saturate(100%) invert(20%) sepia(2%) saturate(3827%) hue-rotate(188deg) brightness(93%) contrast(92%);
    }
}
.open-input-icon:active{
    filter: brightness(0) saturate(100%) invert(20%) sepia(2%) saturate(3827%) hue-rotate(188deg) brightness(93%) contrast(92%);
}
.standart-input_disabled{
    border: none;
    pointer-events: none;
    border-radius: 5px;
    width: 100%;
    min-height: 2.25rem;
    font-size: 12px;
    background-color: #c0c0c071;
    padding-left: 0.8rem;
    transition: 0.1s;
    color: #51555896;
}