<ion-content>
  <app-header headerTitle="Обязательные данные" ></app-header>
  <div *ngIf="user" class="main-container--with-header">
    <ng-container *ngIf="stepCurrent == 1">
      <form class="user-personal">
        <span class="step-title">
          Для того что бы продолжить заполните обязательные поля
        </span>
        <app-standart-input [control]="personalUserForm.get('surname')" [errorMessage]="formErrors.surname.errorMessage" [invalid]="formErrors.surname.errorMessage.length !== 0" placeholder="Введите фмилию" label="Фамилия"></app-standart-input>
        <app-standart-input [control]="personalUserForm.get('name')" [errorMessage]="formErrors.name.errorMessage" [invalid]="formErrors.name.errorMessage.length !== 0" placeholder="Введите имя" label="Имя"></app-standart-input>
        <app-standart-input [control]="personalUserForm.get('patronymic')" [errorMessage]="formErrors.patronymic.errorMessage" [invalid]="formErrors.patronymic.errorMessage.length !== 0" placeholder="Введите отчество" label="Отчество"></app-standart-input>
        <app-standart-input [control]="personalUserForm.get('dateOfBirth')" [errorMessage]="formErrors.dateOfBirth.errorMessage" [invalid]="formErrors.dateOfBirth.errorMessage.length !== 0" placeholder="Выберите дату" label="Дата рождения" type="date"></app-standart-input>
        <app-standart-input (click)="openRegionModal()" [readonly]="true" label="Область/край" [control]="personalUserForm.get('region')" [errorMessage]="formErrors.region.errorMessage" [invalid]="formErrors.region.errorMessage.length !== 0"  placeholder="Выберите область вашу область"></app-standart-input>    
        <app-standart-input [control]="personalUserForm.get('city')" placeholder="Город" label="Город" [invalid]="formErrors.city.errorMessage.length !== 0" [errorMessage]="formErrors.city.errorMessage"></app-standart-input>
        <ion-modal  (didDismiss)="closeRegionModal()"  [isOpen]="regionModalState">
          <ng-template>
            <ion-content>
              <div class="region-modal-container">
                <app-standart-input-search label="Область/край" [searchCurrentItems]="searchRegionItems" [searchItems]="searchRegionItems" (changeSearchValue)="setRegion($event)"></app-standart-input-search>
              </div>
            </ion-content>
          </ng-template>  
        </ion-modal>
        <app-standart-button (click)="submitPersonalInfo()" type="button" buttonText="Далее"></app-standart-button>
      </form>
    </ng-container>

    <ng-container *ngIf="stepCurrent == 2">
      <form class="user-personal">
        <span class="step-title">
          Введите номер телефона
        </span>
        <span class="label">
          На указанный номер телефона будет отправлено сообщение с кодом или поступит звонок. Код — это последние четыре цифры. Не нужно отвечать на звонок или сообщение. 
        </span>

        <div class="phone-number-container">
          <app-standart-input label="Телефон" placeholder="Введите номер телефона" [control]="phoneForm.get('number')" maskType="phone"></app-standart-input>
          <button *ngIf="verificationType == 'code'" (click)="getCode()" type="button" class="phone-number__submit">Отправить код</button>
        </div>
        <ng-container *ngIf="verificationType == 'code'">
          <p class="verification__title">Введите код</p>
          <ngx-otp-input (otpChange)="changeCode($event)" [options]="otpOptions"></ngx-otp-input>
          <app-standart-button (click)="sendCode()" type="button" buttonText="Подтвердить"></app-standart-button>
        </ng-container>
        <ng-container *ngIf="verificationType == 'callback'">
          <p class="verification__title">Позвоните на указанный номер телефона</p>
          <app-standart-button type="button" buttonText="Я позвонил"></app-standart-button>
        </ng-container>   
        <!-- <app-standart-button type="button" (click)="changeVerificationState(verificationType == 'code' ? 'callback': 'code')" type="button" buttonText="Другой способ" theme="light"></app-standart-button> -->
      </form>
    </ng-container>
    
    
  </div>
</ion-content>