<ion-content>
  <div class="select-auth-container">
    <main class="select-auth">
      <app-back-button (click)="back()"></app-back-button>
    </main>
    <div class="select-auth-content">
      <div class="select-auth-content__title">
        <img src="/assets/icons/red-finished.svg" alt="">
        <div class="select-auth-content__title__text">
          МотоКросс
        </div>
      </div>
      <div class="app-description">
        Приложение для поиска и записи на мотокросс гонки и записи на мотокросс трассы.
      </div>
      <div class="register-button">
        <app-icon-button (click)="inRegistration()" [shapeColumn]="true" height="long-height" widht="full" theme="red" clippy="clippy-right" buttonText="Зарегистрироваться"></app-icon-button>
      </div>
      <span (click)="inLogin()" class="login-link">У меня уже есть аккаунт</span>
    </div>
  </div>
</ion-content>
