.select-auth{
    background: url('/assets/images/back-auth.jpg');
    width: 100%;
    background-size: cover;
    padding: var(--standart-padding);
    height: 55%;
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
}
.select-sport-category{
    display: flex;
    flex-direction: column;
}
.select-auth-container{
    height: 100%;
}
.select-sport-category{
    padding-top: var(--standart-padding);
}
.select-auth-content{
    width: 100%;
    padding: var(--standart-padding);
    background-size: cover;
    padding-top: 35px;
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
}
.select-auth-content__title{
    display: flex;
    align-items: center;
    gap: 10px;
    .select-auth-content__title__text{
        font-size: 36px;
        font-family: var(--font-extra-bold);
    }
    img{
        width: 56px;
    }
}
.app-description{
    font-family: var(--font-regular);
    font-style: italic;
}
.register-button{
    padding-top: 35px;
}
.login-link{
    margin: auto;
    text-align: center;
    display: flex;
    width: 100%;
    color: #373737;
    cursor: pointer;
    font-family: var(--font-bold);
    justify-content: center;
    padding-top:10px;
}