  <div class="header">
  <div class="header-wrapper">
    <ng-content *ngIf="customContainer">

    </ng-content>
    
    
<!--     
      <ng-content *ngIf="!hiddenBackButton">
        <app-back-button  *ngIf="!customBack"></app-back-button>
      </ng-content>

    <app-circle-button *ngIf="customBack" (click)="backButtonClick()" icon="/assets/icons/back-arrow.svg"></app-circle-button>
    <div class="header-title-container">
      <div class="header-title">{{headerTitle}}</div>
      <img *ngIf="icon" src="{{icon}}" alt="" class="icon-title">
    </div>
    
   
    
    <ng-container *ngIf="customButton">
      <ng-content>
      </ng-content>
    </ng-container>
    
    <ng-content *ngIf="!hiddenBackButton">
    <app-circle-button (click)="secondButtonClickFunction()" *ngIf="!customButton" [ngClass]="{'invisible': !secondButtonIcon}"  [icon]="secondButtonIcon"></app-circle-button>
    </ng-content> -->
  </div>
</div>
