.main-rating-plug{
    height: 80%;
    display: flex;
    background-image: url('/assets/images/rating-plug.jpg');
    background-repeat: no-repeat;
    background-position: center;
    margin-top: var(--standart-header-padding);
}
ion-content{

}