ion-card {
    --background: #ffffff;
    --color: #9efff0;
  }
  
  ion-card-title {
    --color: #52ffe4;
  }
  
  ion-card-subtitle {
    --color: #d1fff8;
  }

  ion-item {
    --padding-start: 0;
    --background: #ffffff;
    ion-label {
        margin-left: 1rem;
    }
  }
.card-grid__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }
}
.cabinet__user-section{
  position: relative;
  padding: 14px;
  display: flex;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  align-items: center;
  gap: 15px;
  background: #EDEDED;
  background: linear-gradient(165deg, rgb(246 246 246 / 49%) 0%, rgb(255, 255, 255) 50%, rgb(243 243 243) 100%);
}
.info__name__item{
  font-size: 16px;
  font-family: var(--font-black);
}
.user-images{
  width: 110px;
  height: 110px;
  position: relative;
  min-width: 110px;
  min-height: 110px;
  border-radius: 50%;
  overflow-y: hidden;
  object-fit: cover;
  .user-avatar{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
  }
}
.comand-info{
  font-family: var(--font-regular);
}
.couch{
  padding-top: 30px;
}
.users-in-comands{
  padding-top: 30px;
  padding-bottom: 4rem;
}
.user-info__class {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--ion-color-primary);
  margin-left: 1rem;
}

.command-container {
  max-width: 960px;
  width: 100%;
  margin: auto;
  padding: var(--standart-padding);
}
.couch-grid{
  padding-top: var(--little-padding);
  display: flex;
  flex-direction: column;
  gap: var(--standart-padding);
}

.command-header {
  display: flex;
  gap: 2rem;
  margin-bottom: 0rem;
  justify-content: start;
  align-items: center; /* Выровняет элементы по высоте */


  .command-avatar {
    display: flex;
    max-width: 100px;
    max-height: 100px;
    min-width: 100px;
    min-height: 100px;
    height: 100px;
    width: 100px;
    border-radius: 12px;
    align-items: center; /* Центрирование изображения */
    justify-content: center;

    img {
      border-radius: 50%;
      width: 100%;
      height: 100%;
      object-fit: cover;
    } 
  }


  .command-info{
    width: 150px;
    min-height: 150px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: start;
    justify-content: center;
  }
  
}


  

  



.command-name {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333333;
  margin: 0;
  text-align: left;
}

.command-full-name {
  font-size: 1rem;
  color: #666666;
  margin: 0;
  text-align: left;
}

.command-location {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #666666;
  margin: 0;
  font-size: 1rem;
  justify-content: center;
  text-align: left;

 
}

.command-actions {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 0.5rem;
  text-align: left;

  app-standart-button {
    min-width: 200px;
  }
}

.members-list {
  padding: 1rem;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 0rem;
}

.member-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.member-number {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--ion-color-primary);
  margin-left: 1rem;
}

.no-members {
  text-align: center;
  padding: 3rem;
  color: var(--ion-color-medium);
  margin-top: 4rem;

  h2 {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0;
  }
}


.users-in-comands-container{
  width: 100%;
  display: flex;
  justify-content: center;

  margin-bottom: 0.5rem;
  background-color: white;
  border-radius: 15px;
  .users-in-comands{
    font-family: var(--font-semi-bold);
    font-size: var(--font-headers-size-little);
  }
}

.command-id{
  display: flex;
  justify-content: end;
  padding-right: 1rem;
  
  opacity: 0.5;
  font-size: smaller;
}
