<ion-content>
  <app-header headerTitle="Просмотр команды"></app-header>
  
  <main class="main-container--with-header" *ngIf="command">
    <div class="command-container">
      <div class="command-header">
        <div class="command-avatar">
          <img *ngIf="command?.avatar" [alt]="command?.name" [src]="getImgUrl()" />
          <img *ngIf="!command?.avatar" alt="no_photo" src="/assets/icons/team-bg.png" />
        </div>
        <div class="command-info">
          <h1 class="command-name">{{command?.name}}</h1>
          <p class="command-full-name" *ngIf="command?.full_name">{{command?.full_name}}</p>
          <p class="command-location" *ngIf="command?.location">
            <ion-icon name="location-outline"></ion-icon>
            {{command?.location?.name}} {{command?.location?.type}}
          </p>
        </div>
      </div>

      <div class="command-actions">
        <app-standart-button
          [buttonText]="isMember ? 'Покинуть команду' : 'Вступить в команду'"
          [theme]="isMember ? 'red' : 'standart'"
          (click)="toggleMembership()"
          [disabled]="false"
        ></app-standart-button>
        <app-standart-button
          buttonText="Участники"
          (click)="openMembers()"
          [disabled]="false"
        ></app-standart-button>
      </div>
    </div>
  </main>
</ion-content>

<ion-modal [isOpen]="membersModalState" (didDismiss)="closeMembersModal()">
  <ng-template>
    <ion-content>
      <app-header (customBackClick)="closeMembersModal()" [customBack]="true" headerTitle="Участники команды: {{membersForUser.length}}"></app-header>
      <div class="members-list" *ngIf="membersForUser.length">
        <div *ngFor="let user of membersForUser" class="member-item">
          <app-user-section [hideEmail]="true" [user]="user"></app-user-section>
          <div *ngIf="user?.personal?.start_number" class="member-number">
            {{user?.personal?.start_number}}
          </div>
        </div>
      </div>
      <div class="no-members" *ngIf="!membersForUser.length">
        <h2>Список участников пуст</h2>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>


<!-- На бэке пока нет метода получения тренеров -->
<!-- <ion-modal [isOpen]="coachesModalState" (didDismiss)="closeCoachesModal()" >
  <ng-template>
    <ion-content >
      <div style="background-color: aliceblue; width: 100%; height: 100%;">
        <app-header (customBackClick)="closeCoachesModal()" [customBack]="true" headerTitle="Тренера команды"></app-header>
      </div>
    </ion-content>
  </ng-template>
</ion-modal> -->