
 @use '@ionic/angular/css/palettes/dark.system.css';

//Подключаю  шрифты
 @use './app/CommonUI/StyleLinks/font-links.scss';

//Подключаю переменные шрифтов
 @use './app/CommonUI/StyleVariables/fonts.scss';
 
//Подключаю переменные colors
 @use './app/CommonUI/StyleVariables/colors.scss';

 //Подключаю переменные margin
 @use './app/CommonUI/StyleVariables/margin.scss';

 //Подключаю переменные padding
 @use './app/CommonUI/StyleVariables/padding.scss';
 
//Подключаю переменные фонов
 @use './app/CommonUI/StyleVariables/backgrounds.scss';

//Подключаю отдельные модули с классами

//Моудль контейнеров
@use './app/CommonUI/StylesModules/containers.scss';
@use './app/CommonUI/StylesModules/text-heading.scss';

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


@import "node_modules/ng-zorro-antd/ng-zorro-antd.min.css";
/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */

*{

    scrollbar-width: none;
}

*::-webkit-scrollbar {
    display: none;
  }

  ion-content {
    --background: var(--page-background);
    --padding-top: var(--ion-safe-area-top, 0);
  }

  .invisible {
    opacity: 0;
    pointer-events: none;
  }

  .zoom-icons{
    filter: brightness(0) saturate(100%);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url('/assets/icons/plus.svg');
    display: block;
  }
 
  .zoom-out{
    filter: brightness(0) saturate(100%);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url('/assets/icons/minus.svg');
    display: block;
  }
  .rotate-icons__right{
    width: 60%;
    margin: auto;
    height: 60%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('/assets/icons/rotate.svg');
    display: block;
  }
  .rotate-icons__left{
    width: 60%;
    margin: auto;
    height: 60%;
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(-1, 1);
    background-size: cover;
    background-image: url('/assets/icons/rotate.svg');
    display: block;
  }
  #__ymDebuggerOpener,
  .__ymDebuggerOpener {
    display: none !important;
  }

.full-screen-icons{
    filter: brightness(0) saturate(100%);
    width: 60%;
    margin: auto;
    height: 60%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('/assets/icons/full-screen.svg');
    display: block;
  }
  


  *{
    padding: 0;
    margin: 0;
    color: var(--font-standart-color);
    text-decoration: none;
  }

  ngx-otp-input {
    
    .ngx-otp-input-form {
      display: flex;
      justify-content: center;
      width: 100%;
    }
    .ngx-otp-input-box {
        min-width: 2.5rem;
        min-height: 3rem;
        background: rgba(188, 193, 197, .7137254902);
        border: none;
        border-radius: 4px;
        font-size: 2rem;
        text-align: center;
    }
  }