<ion-content>
    <main class="elements-grid">
        <div class="icon-buttons-grid">
                <app-icon-button icon="/assets/icons/user.svg" theme="dark"></app-icon-button>
                <app-icon-button icon="/assets/icons/user.svg" height="long-height" theme="red"></app-icon-button>
                <app-icon-button icon="/assets/icons/user.svg" theme="red"></app-icon-button>
                <app-icon-button icon="/assets/icons/user.svg" theme="dark"></app-icon-button>
                <app-icon-button [disabled]="true" icon="/assets/icons/user.svg" theme="red"></app-icon-button>
                <app-icon-button [disabled]="true" icon="/assets/icons/user.svg" theme="dark"></app-icon-button>
        </div>
        <div class="icon-buttons-grid__icon-buttons-grid--beveled">
            <app-icon-button widht="w49" buttonText="Трассы" clippy="clippy-right" theme="dark"></app-icon-button>
            <app-icon-button widht="w52" buttonText="Трассы"  clippy="clippy-right" icon="/assets/icons/flagFinished.svg" height="long-height" theme="white"></app-icon-button>
            <app-icon-button widht="w58" buttonText="Трассы" clippy="clippy-right" theme="red"></app-icon-button>
            <app-icon-button [disabled]="true" widht="w58" buttonText="Трассы" clippy="clippy-right" theme="dark"></app-icon-button>
            <app-icon-button widht="w49" buttonText="Трассы" clippy="clippy-right" theme="red"></app-icon-button>
            <app-icon-button widht="w52" buttonText="Все"  clippy="clippy-right" icon="/assets/icons/flagFinished.svg" height="long-height" theme="red"></app-icon-button>
            <app-icon-button widht="w58" buttonText="Трассы" clippy="clippy-right" theme="dark"></app-icon-button>
            <app-icon-button widht="w58" buttonText="Трассы" clippy="clippy-right" theme="dark"></app-icon-button>
            <app-icon-button [disabled]="true" buttonText="Трассы" clippy="clippy-left" theme="dark"></app-icon-button>
            <app-icon-button [disabled]="true" widht="w52" buttonText="Трассы"  clippy="clippy-right" icon="/assets/icons/flagFinished.svg" height="long-height" theme="white"></app-icon-button>
            <app-icon-button [disabled]="true" widht="w52" buttonText="Трассы" clippy="clippy-right" theme="dark"></app-icon-button>
            <app-icon-button [disabled]="true" widht="w58" buttonText="Трассы" clippy="clippy-right" theme="dark"></app-icon-button>
            <app-icon-button elementsPosition="elements-position__row" widht="w71" height="little-height" icon="/assets/icons/flagFinished.svg" widht="w58" buttonText="Трассы" clippy="clippy-right" theme="white"></app-icon-button>
        </div>

        <div class="back-buttons-grid">
            <app-back-button theme="gray"></app-back-button>
            <app-back-button fontColor="font-dark" theme="white"></app-back-button>
            <app-back-button border="red-border" fontColor="font-red"></app-back-button>
            <app-back-button [disabled]="true" theme="red"></app-back-button>
            <app-back-button [disabled]="true" theme="gray"></app-back-button>
        </div>

        <div class="tab-element-grid">
            <app-tab-element [active]="activeTab" (change)="changeTab($event)" text="Информация"></app-tab-element>
        </div>

        <div class="check-box-grid">
            <ng-container *ngFor="let box of checkBoxArray">
                <app-check-box (change)="getCheckBoxValue($event)" [value]="box.value" [checked]="box.state" [labelText]="box.labelText" [theme]="box.theme" [clippy]="box.clippy" ></app-check-box>
            </ng-container>
        </div>

        <div class="tab-menu-list-grid">
            <app-tab-menu-item icon="/assets/icons/documents.svg" name="Анкета участника" ></app-tab-menu-item>
            <app-tab-menu-item icon="/assets/icons/documents.svg" name="Анкета участника" ></app-tab-menu-item>
            <app-tab-menu-item icon="/assets/icons/documents.svg" name="Анкета участника" ></app-tab-menu-item>
            <app-tab-menu-item icon="/assets/icons/documents.svg" name="Анкета участника" ></app-tab-menu-item>
        </div>
 
       
    </main>
</ion-content>