.slider-container{
    position: relative;
}
.slider-container{
    
}
.slider-container__header{
    position: absolute;
    top: var(--standart-padding);
    padding-left: var(--standart-padding);
    padding-right: var(--standart-padding);
    z-index: 100;
}
.racer-name{
    font-size: 1.5rem;
    font-family: var(--font-bold);
}
.racer-view{
    padding: var(--standart-padding);
}
.racer-address{
    font-size: 1rem;
    font-family: var(--font-semi-bold);
    color: var(--color-gray);
}
.racer-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--little-padding);
}
.racer-info__start-number{
    background-color: var(--dark-grey-color);
    color: var(--white-color);
    min-width: 3rem;
    max-width: 3rem;
    font-size: 20px;
    text-align: center;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    height: 3rem;
    font-family: var(--font-bold);
}
.racer-reward__text{
    padding-top: var(--standart-padding);
    display: flex;
    font-size: 1rem;
    font-family: var(--font-bold);
}
.racer-reward__item__icon{
    width: 2rem;
    object-fit: cover;
}
.racer-reward{
    display: flex;
    align-items: center;
    padding-top: var(--standart-padding);
    gap: var(--standart-padding);
}
.racer-reward__item{
    display:flex;
    max-width: 5rem;
    gap: var(--little-padding);
    min-height: 6rem;
    font-family: var(--font-regular);
    font-size: 0.7rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.racer-ranks{
    padding: var(--little-padding);
    .racer-ranks__title{
        padding-top: var(--little-padding);
        font-size: 1rem;
        font-family: var(--font-semi-bold);
        padding-bottom: 0.3rem;
    }
    .racer-ranks__option{
        margin-left: 0.5rem;
        font-size: 0.7rem;
        font-family: var(--font-regular);
        padding-bottom: 0.2rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
        &:hover{
            background-color: var(--light-grey-color);
        }
    }
}