 <ion-content>
    <app-header [customContainer]="true" [hiddenBackButton]="true">
      <div class="cabinet-header">
        <button (click)="back()" class="cabinet-header__back">
          <img src="/assets/icons/arrow.svg"  alt="Назад">
        </button>
        <span class="cabinet-header__title">Оплата стартового взноса</span>
        <button  class="cabinet-header__plug none">
        
        </button>
      </div>
    </app-header>
 </ion-content>
 <div class="container">
    <app-payment-status [status]="paymentStatus"></app-payment-status>
    <app-icon-button *ngIf="paymentStatus !== 'load' && paymentStatus !== 'sleep'" clippy="clippy-right" widht="full" theme="red" buttonText="Готово" (click)="back()" [shapeColumn]="true"></app-icon-button>
 </div>
