<label [attr.name]="selectedName"  [ngClass]="{'label':!invalid,'label_invalid':invalid}" for="{{label}}">{{label}}</label>
<div [attr.name]="selectedName" (click)="changeState()" [ngClass]="{'standart-input':!invalid,'standart-input_inavlid':invalid}">
    {{selectedItem.name}}
</div>
<span *ngIf="errorMessage" class="error-message">{{errorMessage}}</span>
<div [attr.name]="selectedName" class="dropdown-wrapper">
    <div *ngIf="items && items.length > 0" [ngClass]="{'dropdown-content':!stateValue, 'dropdown-content--active':stateValue}">
        <div (click)="changeSelectedItem(item)" *ngFor="let item of items" class="dropdown-content__item standart-input">
            {{item.name}}
        </div>
    </div>
</div>
