<!-- <div *ngIf="track" class="track-section">
  <div class="track-section__info-group">
    <div class="track-section__avatar"> 
      <img class="track-section__avatar__img" src="{{ track.logo | checkImgUrl:'/assets/icons/track-standart.png'}}" alt="">
    </div>
    <div class="track-section__info">
      <h2 class="track-section__name">{{track.name}}</h2>
      <div class="track-section__address">
        {{track.address}} 
      </div>
    </div>
  </div>
  
  <div class="track__status" *ngIf="!hidhtStatus">
    <div class="track__status__circle" style="background-color: {{track.is_work ? 'var(--green-color)' : 'var(--red-color)'}}"></div>
  </div>
</div> -->

<!-- <div *ngIf="loading" class="track-section">
  <ion-skeleton-text [animated]="true" class="track-section__avatar">
    <ion-skeleton-text [animated]="true" class="track-section__avatar__img" alt=""></ion-skeleton-text>
  </ion-skeleton-text>
  <ion-skeleton-text [animated]="true" class="track-section__info">
    <ion-skeleton-text [animated]="true" class="track-section__name"></ion-skeleton-text>
  </ion-skeleton-text>
</div> -->

<div *ngIf="track" class="track">
  <img class="track__background" src="{{ track.logo | checkImgUrl:'/assets/icons/track-standart.png'}}" alt="">
  <div class="track__background__dark"></div>
  <div class="track__content">
    <div class="track__content__header">
      <!-- <app-icon-button [theme]="track.is_work ? 'green--light':'red--light'" [buttonText]="track.is_work ? 'Открыто':'Закртыо'" clippy="clippy-right" height="little-height"></app-icon-button> -->
  </div>
    <div class="track__content__footer">
      <h2 class="track-name">{{track.name}}</h2>
      <span *ngIf="track.location" class="track-address">{{track.location.name}} {{track.location.type}} </span>
    </div>
  </div>
</div>