.track-section{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
    .track-section__avatar{
        display: flex;
        justify-content: center;
        align-items: center;
        .track-section__avatar__img{
            min-width: 3.75rem;
            min-height: 3.75rem;
            max-width: 3.75rem;
            max-height: 3.75rem;
            object-fit: cover;
            overflow: hidden;
            background-color: rgb(99, 99, 99);
            border-radius: 50%;
        }
    }
    .track-section__info{
        display: flex;
     
        justify-content: center;
        flex-direction: column;
        .track-section__name{
            margin: 0;
            color: var(--font-standart-color);
            font-family: var(--font-bold);
            font-size: var( --font-headers-size) ;
        }
        .track-section__email{
            font-family: var(--font-bold);
            font-size: var(  --font-little-size);
            color: var(--font-standart-color);
            opacity: 50%;
        }
    }
}
.track__status{
    display: flex;
    align-items: center;
    justify-content: center;
}
.track__status__circle{
    width: 20px;
    height: 20px;
    background-color:var(--green-color);
    border-radius: 50%;
}
.track-section__info-group{
    display: flex;
    gap: 10px;
}