<div class="test-container">
  <a style="width: 100%;" href="https://auth.robokassa.ru/Merchant/Index.aspx?MerchantLogin=mototrack&OutSum=350&InvId=160&Desc=%25D0%259F%25D1%2580%25D0%25BE%25D0%25B2%25D0%25B5%25D1%2580%25D0%25BA%25D0%25B0&SignatureValue=33F322EDDD3724AE7533D7CC384CAE24&IsTest=1">
    <app-standart-button style="width: 100%;" buttonText="Оплатить"></app-standart-button>
  </a>
   
    <app-standart-button style="width: 100%;"  routerLink="/events" [disabled]="true" buttonText="Назад"></app-standart-button>
</div>