:root{
    --dark-grey-color:#1C2226;
    --grey-color: #4C5861;
    --blue-primary-color: #3880FF;
    --orange-color: #EF7C08;
    --white-color: #ffffff;
    --light-blue-color: #DCE9FF;
    --red-color: #FD1215;
    --green-color: #22CA3D;
}