:root{
    --dark-color:#000000;
    --grey-color: #4C5861;
    --blue-color: #3880FF;
    --orange-color: #EF7C08;
    --white-color: #ffffff;
    --white-white-grey-color: #EDEDED;
    --white-grey-color: #D9D9D9;
    --light-blue-color: #DCE9FF;
    --red-color: #FD1215;
}