
:root {
    --font-bold: 'NunitoSans-Bold';
    --font-black: 'NunitoSans-Black';
    --font-extra-bold: 'NunitoSans-Extrabold';
    --font-regular: 'NunitoSans-Regular';
    --font-semi-bold: 'NunitoSans-SemiBold';
    --font-extra-light: 'NunitoSans-ExtraLight';
    --font-light: 'NunitoSans-Light';
  }
  

:root {
  --font-little:12px;
  --font-regular-size:14px;
  --font-headers-size:1.25rem;
}

:root {
  --font-standart-white-color:var(--white-color);
  --font-standart-color:var(--dark-grey-color);
}