
:root {
    --font-bold: 'NunitoSans-Bold';
    --font-black: 'NunitoSans-Black';
    --font-extra-bold: 'NunitoSans-Extrabold';
    --font-semi-bold: 'NunitoSans-SemiBold';
    --font-extra-light: 'NunitoSans-ExtraLight';
    --font-light: 'NunitoSans-Light';
    --font-regular: 'NunitoSans-Regular';

    //--new-font-bold: 'RussoOne-Regular';
    //--new-font-black: 'RussoOne-Regular';
    //--new-font-extra-bold: 'RussoOne-Regular';
    //--new-font-semi-bold: 'RussoOne-Regular';
    //--new-font-extra-light: 'RussoOne-Regular';
    //--new-font-light: 'RussoOne-Regular';
    //--new-font-regular: 'RussoOne-Regular';

    //--new-second-font-regular: 'RobotoCondensed-Regular';
    //--new-second-font-bold: 'RobotoCondensed-Bold';
    //--new-second-font-bold-italic: 'RobotoCondensed-BoldItalic';
    //--new-second-font-italic: 'RobotoCondensed-Italic';
    //--new-second-font-light: 'RobotoCondensed-Light';
    //--new-second-font-light-italic: 'RobotoCondensed-LightItalic';
    //--new-second-font-medium: 'RobotoCondensed-Medium';
  }


:root {
   --font-little-size:12px;
  --font-regular-size:16px;
  --font-headers-size:1.25rem;
  --font-headers-size-little:1.1rem;

}

:root {
  --font-standart-white-color:var(--white-color);
  --font-gray-color:var(--grey-color);
  --font-standart-color:var(--dark-grey-color);
  --font-grey-color:var(--grey-color)
}
