:root{
    --standart-padding: 1rem;
    --little-padding: 0.5rem;
    --middle-padding:2rem;
    --standart-header-padding: 4.375rem;
    --litle-header-padding:3.438rem;
    --strong-header-padding:7.375rem;
}